[2018-06-08 08:13] niuzhenguo opened #6 "backend of load-balancer will be created again when launching the same script"
when re-execution the script of load-balancer, terraform will delete the older backend and create a new backend again. this is not what we want.

Terraform Version

terraform v0.11.0

Affected Resource(s)

Please list the resources as a list, for example:
•load-balancer

Terraform Configuration Files

resource "flexibleengine_lb_loadbalancer_v2" "loadbalancer" {
  count          = "${var.instance_

[2018-06-08 08:31] #6 closed

[2018-06-26 02:40] niuzhenguo opened #12 "Adds NAT Gateway resource support"
The NAT Gateway is already available through the web console, needs to add to terraform as well.

[2018-07-17 01:44] #12 closed

[2018-09-12 11:17] freesky-edward opened #34 "Feature: add AK/SK support"
This is a feature which propose to add AK/SK configuration support.

*** background ***

Still now, as the README.md[1] descripted, this provider doesn't support AK/SK authentication. however, in flexibleengine cloud has supported AK/SK for a long time.

*** Usecase ***

The tenant admin may generate a temporary AK and SK, then delegate others to maintain the resources via terraform tool with the

[2018-09-13 08:01] #34 closed

[2018-09-13 13:30] osaluden opened #37 "AK/SK not yet implemented in 1.1.0"
Hi there,

README.md shows how to configure the Flexible Engine provider whit the AccessKey/SecretKet wehereas this feature is not yet in GA.

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- provider.flexibleengine

### Terraform Configuration Files

provider.tf

[code]

### Output
[code]

### Expected Behavior
Plan should output the resou

[2018-09-14 01:14] niuzhenguo commented on #37
@osaluden Thanks for raising this. That will be included in the coming release 1.2.0. We will try to make it released by the end of this week.

[2018-09-14 01:26] freesky-edward commented on #37
@osaluden @niuzhenguo  yeah，the PR already merged #35 , we should watch the acc test results for some while

[2018-09-15 08:38] freesky-edward opened #39 "TF will force-new share when re-execute apply without configuration change"
after I created a sfs resource, TF will re-create a new share when running terraform apply again with nothing change

### Terraform Version

### Affected Resource(s)
Please list the resources as a list, for example:
- sfs

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Debug Output

[2018-09-15 08:42] niuzhenguo commented on #39
@Savasw can you please help to look at this, thanks!

[2018-09-19 04:51] #39 closed

[2018-09-20 15:35] gberche-orange opened #43 "Add support for Anti DDOS feature"
It would be great to be able to drive the flexible engine [anti-ddos product](https://docs.prod-cloud-ocb.orange-business.com/en-us/antiddos_dld/index.html) through the provider.

Relates to https://github.com/terraform-providers/terraform-provider-huaweicloud/issues/38

[2018-09-26 17:03] nsabernierdev1 opened #45 "MRS component_list serialization issue ?"
Hi there,

### Terraform Version
Terraform v0.10.7

### Affected Resource(s)
flexibleengine_mrs_cluster_v1

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/nsabernierdev1/582b453d71957ec90570384b67621353#file-terraform-log

### Expected Behavior
The MRS cluster should be created

### Actual Behavior
Json request is not well formed:
Actual:
 "component_list":[]int

[2018-09-27 01:49] niuzhenguo commented on #45
@nsabernierdev1 Can you provide the detailed debug log with TF_LOG=DEBUG and OS_DEBUG=1 set, thanks!

[2018-09-27 07:14] nsabernierdev1 commented on #45
When setting debug to OS_DEBUG I findout from the logs that the issue was due to memory quota limit issue.
So I fixed the quota and now it works fine.
So the issue can be fixed.

[2018-09-27 07:15] #45 closed

[2018-09-27 07:52] aphentik commented on #37
Hello @niuzhenguo @freesky-edward , any news regarding the 1.2.0 release ?

Did you also plan to provide a way to generate temporary AK/SK (STS) using terraform ?

[2018-09-27 08:48] niuzhenguo commented on #37
@aphentik We will cut the 1.2.0 release by the end of this month. Sorry for the delay.

But you can build the provider yourself with master code, please checkout the README.

[2018-10-18 14:45] Julien-Le-Huludut-Orange commented on #37
Hello

I confirm this is solved in the 1.2 release, I tested it today.

[2018-10-19 01:36] niuzhenguo commented on #37
@Julien-Le-Huludut-Orange thanks for the confirmation, so we can close this now.

[2018-10-19 01:36] #37 closed

[2018-10-25 16:19] But4ler opened #57 "The "ELB" module create a "classic" of LB and not an "Enhanced" type"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- flexibleengine_elb_loadbalancer

### Terraform Configuration

[2018-10-31 09:44] niuzhenguo commented on #57
@But4ler ELB here means Elastic Load Balancer(classic). If you want to create an "Enhanced" Elastic Load Balancer, please use flexible_lb_xx instead.

[2018-11-13 13:39] Julien-Le-Huludut-Orange opened #65 "feature request: ability to specify the AZ of the standby node on RDS instances"
Hello

Unless I missed something, when creating a RDS instance via terraform, it is not possible to specify the Availability Zone of the stanby instance.
It is required to specify the availability zone of the RDS, but this applies to the master and standby instance, and they end up in the same AZ.

This makes this service not suitable for a production environment, as there's no HA if the ressource

[2018-11-13 13:46] Julien-Le-Huludut-Orange commented on #57
Hello

I confirm, this is a misunderstanding on the ressources names (which aren't very clear, by the way ;-) ).
This issue can be closed.

[2018-11-16 01:19] niuzhenguo commented on #57
@Julien-Le-Huludut-Orange Yes, indeed :( Will try to find a way to make it more clear in the future resource version.

[2018-11-16 01:19] #57 closed

[2018-11-28 10:48] Julien-Le-Huludut-Orange opened #69 "documentation errors in flexibleengine_nat_gateway_v2"
Hello

In the documentation of the flexibleengine_nat_gateway_v2 it is stated :
internal_network_id - (Optional) ID of the network this nat gateway connects to.

However this argument seems required.

### Terraform Version
$ terraform -v
Terraform v0.11.10
+ provider.flexibleengine v1.2.1

### Affected Resource(s)
- flexibleengine_nat_gateway_v2

### Terraform Configuration Files
[code]

### Expec

[2018-11-28 13:25] J-Le-Huludut-Orange opened #70 "name of the arguments required for flexibleengine_nat_gateway_v2"
Hello

The argument names for flexibleengine_nat_gateway_v2 are misleading.

**spec** is named "type" in the GUI, and the values can be Small, Medium, Large, Extra-Large (not "1", "2", "3", "4")
**router_id** is actually the VPC id.
**internal_network_id** is actually the subnet ID

It would be easier for users if the ressources had the same name in the GUI and in the terraform provider.

cheers

[2018-12-06 09:43] niuzhenguo commented on #70
@Julien-Le-Huludut-Orange Thanks for raising this, currently we name the arguments according to the API docs instead of the GUI, as developers/devops may refer to API argument names for terraform resources and we assume terraform users may not care much about GUI.

[2018-12-06 09:47] niuzhenguo commented on #43
@gberche-orange Sorry for the late reply, it's available now https://github.com/terraform-providers/terraform-provider-flexibleengine/pull/66

[2018-12-11 11:36] #43 closed

[2018-12-11 11:49] niuzhenguo commented on #65
@Julien-Le-Huludut-Orange Thanks for the proposal, but I couldn't find a parameter to specify az for standby instance. Will reach out to product team for more information.

[2018-12-11 13:38] But4ler opened #75 "Extend blockstorage volume = new volume"
Hi there,

Changing the size of the blockstorage in terraform will recreate the volume and recreate the attachment of the volume to the instance

### Terraform Version
terraform -v
Terraform v0.11.10
+ provider.flexibleengine v1.2.1
+ provider.huaweicloud v1.2.0
+ provider.template v1.0.0

### Affected Resource(s)
- flexibleengine_blockstorage_volume_v2
- flexibleengine_compute_volume_attach_v2
-

[2018-12-12 01:15] niuzhenguo commented on #75
@But4ler Thanks for raising this, will test on my local env with your tf file.

[2018-12-14 14:29] Julien-Le-Huludut-Orange opened #79 "Private zone - Update DNS Record if IP change failed"
Hi there,

Currently, if we update a DNS record with a new IP address (after an instance re-creation for example), there is a conflict because the FQDN already exists. This issue is also opened on the huaweicloud provider : https://github.com/terraform-providers/terraform-provider-huaweicloud/issues/54

### Terraform Version

Terraform v0.11.10

    provider.flexibleengine v1.2.1
    provider.huaw

[2018-12-17 14:21] chewdevs opened #80 "Addind network to instance forces recreation"
### Terraform Version
[code]

### Affected Resource(s)
`flexibleengine_compute_instance_v2`

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
Network should be added to the instance, without forcing recreation.

### Actual Behavior
Terraform wants to create new instance.

### Steps to Reproduce
Please list the steps required to reproduce the issue, for examp

[2018-12-18 11:46] niuzhenguo commented on #80
@chewdevs Thanks for raising this, but seems our API do not support that. Is this available on the GUI?

[2018-12-18 12:59] chewdevs commented on #80
Yes, it's possible with the GUI.

It's also works with this openstack resource: https://www.terraform.io/docs/providers/openstack/r/compute_interface_attach_v2.html

[2018-12-19 01:02] niuzhenguo commented on #80
@chewdevs If so, we will try to add a interface_attach resource here, thanks!

[2018-12-19 09:36] chewdevs commented on #80
@niuzhenguo great ! Thanks for your support

[2018-12-20 16:30] Julien-Le-Huludut-Orange opened #87 "feature request : L7 forwarding policy on Enhanced Load Balancer"
Hello

Currently it's not possible in the terraform provider to specify a L7 forwarding policy. It is possible in the GUI and documented in the API (section "Forwarding Policy", I did not test it).

### Terraform Version
$ terraform -v
Terraform v0.11.10
+ provider.flexibleengine v1.2.1

### Affected Resource(s)
- flexibleengine_lb_loadbalancer_v2

Thanks in advance.

[2019-01-09 09:46] niuzhenguo commented on #79
@Julien-Le-Huludut-Orange Can you please help to verify if this PR fixes your issue, thanks! If so, I will prepare a new release soon.

[2019-01-14 10:47] Julien-Le-Huludut-Orange commented on #79
Hello @niuzhenguo
Thanks for your work on this.
Unfortunately I can't find the time to build the provider and test, I hope it will be in the next release.

[2019-01-14 10:51] niuzhenguo commented on #79
@Julien-Le-Huludut-Orange sure, will cut a release by the end of this week!

[2019-01-18 08:33] WayneFromHuawei opened #108 "need to add DNAT rule resource for a Nat gateway"
there is no DNAT rule resource supported in the provider. please add a resource thanks

[2019-01-23 15:52] vladimirBraquet opened #109 "flexibleengine_elb_listener documentation is wrong"
### Terraform Version
[code]

### Affected Resource(s)
flexibleengine_elb_listener

### Terraform Configuration Files
[code]

### Expected Behavior
Creation of the ressource

### Actual Behavior
sticky_session_type is an unknown key

### Steps to Reproduce
 `terraform apply`

### Solution
use `session_sticky_type` instead of `sticky_session_type`

[2019-01-23 15:58] WayneFromHuawei commented on #109
Hi, @vladimirBraquet  thank you for you reporting and will fix it

and another thing to mention just for suggestion is that based on your script
you are using classic load balancer

but i would recommend you to use Enhanced load balancer which is compatible with Neutron Lbaas v2 and have much better performance than classic load balancer
the terraform script for Enhanced load balancer can be found

[2019-01-28 09:10] Julien-Le-Huludut-Orange commented on #79
Hi

Tested it today, I confirm this is fixed in version 1.4 (using flexibleengine_dns_zone_v2 / flexibleengine_dns_recordset_v2 ressources).

Thanks !

[2019-01-28 09:10] #79 closed

[2019-01-29 16:18] antonin-a opened #112 "flexibleengine_cce_cluster_v3 domcumentation is wrong"
### Terraform Version
NA

### Affected Resource(s)
flexibleengine_cce_cluster_v3

### Terraform Configuration Files
[code]

### Debug Output
error message: {"errorCode":"E.CFE.4000407","reason":"Version is too low","message":"lowest version is v1.7.3-r10"}

### Expected Behavior
cluster_type is suposed to be optional:
"cluster_type - (Required) Cluster Type, Changing this parameter will create a n

[2019-01-29 16:31] o-rcharmont opened #113 "CCE flexibleengine_cce_cluster_v3 : cluster_version argument isn't optional"
Hi there,

About the deployment of a CCE cluster (flexibleengine_cce_cluster_v3), cluster_version argument isn't optional as describe in the documentation.
If you don't put it :
error message: {"errorCode":"E.CFE.4000407","reason":"Version is too low","message":"lowest version is v1.7.3-r10"}

### Terraform Version
└─ $ ▶ terraform -v
Terraform v0.11.11
+ provider.flexibleengine v1.4.0

### Affect

[2019-01-29 16:37] antonin-a commented on #112
duplicated -> closing

[2019-01-29 16:37] #112 closed

[2019-01-30 02:02] niuzhenguo commented on #113
@o-rcharmont Thanks for raising this, seems something wrong with the online API docs on Orange Cloud, which said the version is option but we got errors, will dig more.

[2019-01-30 03:34] niuzhenguo commented on #113
I will temporarily give it a default value of latest cluster version on terraform side, and will update when API behavior fixed on cloud side.

[2019-01-30 07:16] niuzhenguo commented on #87
just found openstack provider launched l7policy and l7rule recently, will try to add here soon.

[2019-02-01 08:21] #87 closed

[2019-02-01 10:05] vladimirBraquet opened #115 "ccev3: Empty attributes"
### Terraform Version
`terraform -v
Terraform v0.11.7
`

### Affected Resource(s)
flexibleengine_cce_cluster_v3

### Terraform Configuration Files
[code]

### Expected Behavior
Based on the [Flex Engine provider documentation](https://www.terraform.io/docs/providers/flexibleengine/r/cce_cluster_v3.html), the following attributes must be filled
- internal - The internal network address.
- external

[2019-02-02 06:14] niuzhenguo commented on #115
@vladimirBraquet thanks for raising this, will clean up the 3 empty attributes, since API doesn't response with those informations.

[2019-02-04 11:07] vladimirBraquet opened #116 "AS Group : security group number is limited to only 1"
### Terraform Version
[code]
### Affected Resource(s)
flexibleengine_as_group_v1

### Terraform Configuration Files
[code]
### Expected Behavior
Creation of an AS group

### Actual Behavior
`{"error":{"code":"AS.2025","message":"The number of security groups in the AS group exceeds the upper limit."}}`
It seems that we can only use 1 Security group for AS group. However, the [documentation ](https

[2019-02-04 18:51] gberche-orange commented on #43
@niuzhenguo can you please clarify the meaning of the following fields in the resource that don't match the flexible engine UI below, nor the service documentation at https://docs.prod-cloud-ocb.orange-business.com/en-us/antiddos_dld/index.html ?

![image](https://user-images.githubusercontent.com/4748380/52229756-fc624100-28b5-11e9-8227-883bfbce3550.png)

https://www.terraform.io/docs/providers/f

[2019-02-04 22:59] appilon opened #117 "[PROPOSAL] Switch to Go Modules"
As part of the preparation for Terraform v0.12, we would like to migrate all providers to use [Go Modules](https://github.com/golang/go/wiki/Modules). We plan to continue checking dependencies into vendor/ to remain compatible with existing tooling/CI for a period of time, however go modules will be used for management. Go Modules is the official solution for the go programming language, we unders

[2019-02-11 13:32] WayneFromHuawei opened #118 "need to support binding EIP to a cluster with Terraform"
purpose of auto-provisioning as much as possible

one of the requires is to support binding EIP to a cluster with terraform, please help on it. thanks

[2019-02-11 13:51] antonin-a commented on #108
Hello @niuzhenguo , online doc is not updated yey but I think we can find it. @WayneFromHuawei can you send it directly yo Zhenguo ?

[2019-02-12 01:44] niuzhenguo commented on #116
@vladimirBraquet Seems the API behavior changed on cloud side, will dig more.

[2019-02-12 02:22] niuzhenguo commented on #43
@gberche-orange These fields are all coming from the API docs here https://docs.prod-cloud-ocb.orange-business.com/en-us/api/antiddos/en-us_topic_0037365550.html , not sure why there's no detail description on the docs, but I think traffic_pos_id = "Maximum Service Traffic" on the GUI, and the value 1 to 9 means 10 Mbps, 30Mbps, ..., 300Mbps. Seems need somebody from Anti DDos team to give a clari

[2019-02-12 08:03] #115 closed

[2019-02-13 20:08] WayneFromHuawei commented on #118
@niuzhenguo  any updates?

[2019-02-14 06:45] niuzhenguo commented on #118
@WayneFromHuawei just checked with the CCE team, there's no binding EIP API registered on API gateway now, need to do that first.

[2019-02-18 08:17] #113 closed

[2019-02-22 16:23] #117 closed

[2019-03-01 16:48] Valdm opened #132 "Add security group attribute when creating CCE2 Nodes"
### Terraform Version
`Terraform v0.11.11`

### Affected Resource(s)
- CCE2 Nodes auto-generated Security groups

### Expected Behavior
Export an security group (id/name) attribute when creating an CCE2 Cluster nodes to retrieves the security group generated

### Actual Behavior
Any information about security groups for nodes in ressources or data.

### Steps to Reproduce
`Deploy a CCE2 cluster wi

[2019-03-04 01:28] niuzhenguo commented on #132
@Valdm Thanks for raising this, but can you be able to specify that on GUI, I don't find we have a security group parameter with CCE API.

[2019-03-04 09:13] Valdm commented on #132
Thanks for your reply. We are not able to specify a security group for the CCE Node on the GUI, and with the CCE API also.

[2019-03-04 09:19] niuzhenguo commented on #132
@Valdm So, maybe you should create an issue on the cloud side instead of here :)

[2019-03-04 10:13] WayneFromHuawei commented on #132
Hello @Valdm

In order to understand your point clearly.

 I firstly align between us about the current security group policy on CCE cluster, which is as described in the online help doc:
![sg-cce](https://user-images.githubusercontent.com/29310205/53725179-c213a180-3e6b-11e9-9f89-b5cb2cae51ad.JPG)
As you can notice: there are two security groups created automatically, one for the master nodes and

[2019-03-04 10:54] bbenduduh opened #133 "anti-affinity ECS Group when creating compute instance not implemented !!!"
Hello

Unless I missed something, when creating compute instances via terraform, it is possible to specify an anti-affinity ECS Group for the instances.

**Expected Behavior**
As spécified in the documentation for anti-affinity ECS Group :

**Actual Behavior**
The anti-affinity is not effective.  The ECS are launched on the same host.

`openstack server show frontend-01`
 OS-EXT-SRV-ATTR:host

[2019-03-04 12:50] Valdm commented on #132
Hello @WayneFromHuawei,

Thanks for your reply.

I know that two different security groups are created automatically when creating a CCE Cluster.
In my use case, the purpose is to build a CCE and also other components (RDS, ECS etc..) automatically with Terraform (Terragrunt especially) without human intervention (Like retrieve the security group id of nodes in the GUI before injecting it on the s

[2019-03-04 13:13] antonin-a commented on #132
Hello,

My two cents: solution two look more fancy and appropriate.

-> Adding SecGroups IDs to CCE Datasources

[2019-03-04 13:32] WayneFromHuawei commented on #132
@Valdm @antonin-a
thanks for clarification, i agree with Antonin
to export SG ID/Name in both Datasource and Attributes Reference after cluster created. (as Valdm also suggested in the thread)

will push on this.

[2019-03-05 03:33] niuzhenguo commented on #133
@bbenduduh Seems there's a race condition, terraform `count` will trigger multi resource creating concurrently. As the scripts above, two instance schedule at the same time, both suppose each other not in the anti-affinity group specified, can you please try to create one instance with the server group and then create another instance with that group to see? I will dig more to see how to solve suc

[2019-03-05 09:45] niuzhenguo commented on #133
@bbenduduh I checked with the ECS team and as there is a cascading layer upon each OpenStack pod, the hostId you see indicates a Pod instead of the real host. Please refer to the `OS-EXT-SRV-ATTR:hypervisor_hostname` which is the compute hostname. Sorry for the inconvenience.

[2019-03-05 12:16] bbenduduh commented on #133
@niuzhenguo
I rearragnged my Terraform script. With the right scenario: which means **without** using the parameter count!
One ECS each time, with the anti-affinity group.

Results: Same, the ECS are, again, launched on the same host.
And the OS-EXT-SRV-ATTR:hypervisor_hostname  is same too !

| OS-EXT-SRV-ATTR:hypervisor_hostname  | **nova007@3**
| OS-EXT-SRV-ATTR:instance_name        | instance-

[2019-03-06 01:25] niuzhenguo commented on #133
@bbenduduh Sorry for the misleading about `hypervisor_hostname`. Due to the cascading OpenStack layer, common users can't get the real host info of the instance they created through OpenStack CLI or API and they don't intend to expose such sensitive info to users. You just need to check whether the instances included in the anti-affinity server group members, if so, they are located on different h

[2019-03-06 14:08] antonin-a commented on #118
Hello guys, any update here ? CCE EIP attachment seems to be related to VPC service right ?

[2019-03-06 14:09] antonin-a commented on #108
@niuzhenguo , NATG api doc is now up to date : https://docs.prod-cloud-ocb.orange-business.com/en-us/api/nat/en-us_topic_0130808144.html

[2019-03-06 14:10] antonin-a commented on #65
Hello @niuzhenguo , any update on this one ?

[2019-03-06 14:51] bbenduduh commented on #133
@niuzhenguo

Ok, for the answer, and for such sensitive info !
On the other hand, I can not check if the anti-affinity is really taken into account.
Could you indicate the way to proceed please ?

[2019-03-07 01:21] niuzhenguo commented on #108
@antonin-a Thanks for the info, will test the API first, if OK, the DNAT resource will be available soon.

[2019-03-07 01:23] niuzhenguo commented on #133
@bbenduduh I'm sorry that we don't have a way to check anti-affinity if the host info not exposed on  cloud side, just like you can't check that on GUI as well.

[2019-03-07 01:26] niuzhenguo commented on #118
@antonin-a Yes, but CCE needs to expose the instance or port info which the VPC service need to bind the EIP address.

[2019-03-07 01:29] niuzhenguo commented on #65
@antonin-a Still wait for the update on Cloud side to expose such ability.

[2019-03-07 08:52] antonin-a commented on #65
ok, I can help on this side.

[2019-03-12 07:33] Poil opened #135 "Error when creating NAT at first run"
Hi,

### Terraform Version
Terraform v0.11.13

### Affected Resource(s)
- flexibleengine_nat_gateway_v2.nat

### Error
At first run I have this error, and second run it's working, I think nat depends on subnet not on network but the API wants the network as parameter. I'm unable to modify my stack to add a depends_on because it's not supported on module.

[code]

### Terraform Configuration Files

[2019-03-12 09:36] Poil opened #136 "EIP Binding on ECS is not working"
Hi there,

Not sure if I'm doing something wrong but actually my terraform plan does not bind the EIP on my network interface. If I run terraform a 2nd attempt it detect no change, if I bind manually my EIP, terraform detect no change.

### Terraform Version
[code]

### Affected Resource(s)
- flexibleengine_vpc_eip_v1

### Terraform Configuration Files
[code]

Anyone have experience with this ?

B

[2019-03-12 12:42] #136 closed

[2019-03-12 12:42] Poil commented on #136
Sorry. was sleeping when reading the docs :x

[2019-03-12 13:16] antonin-a commented on #136
No problem, coffee can probably fix it :)
By the way, we plan to work on Flexible Engine modules so it will be easier for users to find working templates/examples and avoid that can of misunderstanding.

[2019-03-13 10:55] niuzhenguo commented on #135
@Poil I suggest you use the vpc resource directly instead of the router/network/subnet thing.
Please refer to:
https://www.terraform.io/docs/providers/flexibleengine/r/vpc_v1.html
https://www.terraform.io/docs/providers/flexibleengine/r/vpc_subnet_v1.html

[2019-03-14 12:26] osaluden opened #138 "Retreiving data makes Terraform crash with AK/SK authentication method"
Hi there,

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- data flexibleengine_vpc_v1

### Terraform Configuration Files
main.tf
[code]
provider.tf
[code]

### Panic Output
https://gist.github.com/osaluden/d282d520cc84eea7f03cc837437fee5f

### Expected Behavior
Terraform plan should display the VPC ID if the VPC with name "vpc-main"

### A

[2019-03-25 11:15] niuzhenguo commented on #138
@osaluden Please specify tenant_name/tenant_id as well when using AK/SK to avoid that issue.

[2019-03-25 17:25] Julien-Le-Huludut-Orange opened #142 "flexibleengine_dns_zone_v2 cannot be attached to 2 VPCs"
Hi there,

I think this is a bug in the APIs but I open it here to keep tracks.

When creating a DNS zone attached to 2 different VPCs, there is no error, but only the first one is really attached. Name resolution works in the first VPC but not in the second one.

### Terraform Version
Terraform v0.11.13
+ provider.flexibleengine v1.4.0

### Affected Resource(s)
- flexibleengine_dns_zone_v2

### T

[2019-03-26 01:11] niuzhenguo commented on #142
@Julien-Le-Huludut-Orange Thanks for raising this, will fix this soon!

[2019-03-26 09:29] dharmjit opened #144 "Provisioner file copy is not working, throwing connection error"
### Terraform Version
Terraform v0.11.8
+ provider.flexibleengine v1.4.0
+ provider.template v2.1.0

### Affected Resource(s)
Please list the resources as a list, for example:
- provisioner copy file

### Terraform Configuration Files
[code]

### Debug Output
Dial tcp :22: connectex: No connection could be
made because the target machine actively refused it.

[2019-03-26 09:35] niuzhenguo commented on #142
![dns](https://user-images.githubusercontent.com/3840030/54986346-6c0ac780-4fed-11e9-9a6f-10a79eedbeb7.PNG)
I tired with your scripts and works OK with the PR, merging it!

[2019-03-26 09:35] #142 closed

[2019-03-26 09:44] Julien-Le-Huludut-Orange commented on #142
Alright. We will test it with the next release.

Thanks !

[2019-03-27 03:08] niuzhenguo commented on #144
@dharmjit Are you executing Terraform on the same network as the new instance? Also can you show the `some more lines` on the script above?

[2019-03-30 02:20] niuzhenguo commented on #133
Closing this, please feel free to reopen it if there's further questions, thanks!

[2019-03-30 02:20] #133 closed

[2019-03-30 02:22] niuzhenguo opened #148 "[REQUEST] Add KMS servcie support"
Hi there, we would like to see a support for KMS service in this provider.

[2019-03-30 02:28] niuzhenguo commented on #138
@osaluden Can you please help to confirm if that solves you issue? then we can close this.

[2019-03-30 06:55] niuzhenguo commented on #108
need to address WAF issue first.

[2019-04-01 12:31] vlandemaine-orange commented on #138
@niuzhenguo I tested with tenant_name/tenant_id and the same error occured.

[2019-04-02 02:26] niuzhenguo commented on #138
@osaluden @vlandemaine-orange I can reproduce the issue with the scripts pasted above, but after adding tenant_name with the provider configuration, it works.
[code]

[2019-04-04 08:26] #148 closed

[2019-04-04 09:40] osaluden commented on #138
Hello

Sorry for the late notice. I just checked with then tenant_name in addition, it works.
Could it be possible to update the provider configuration documention ? https://www.terraform.io/docs/providers/flexibleengine/index.html

Another idea: since tenant_id = region_id, could it be possible to make the provider working without providing tenant_id ? (only region, access_key, secret_key and aut

[2019-04-04 11:23] antonin-a commented on #138
Hello Olivier, using Multi-Project feature (under IAM service) we can now create multi projects (tenant) on regions under Domains.
So solution could be the opposite, working only with tenant_id and without region_id.

[2019-04-04 16:04] osaluden commented on #138
OK I'm fine with your proposal

[2019-04-08 01:43] niuzhenguo commented on #138
@antonin-a @osaluden Thanks for the proposal, will dig more and work on that later.

[2019-04-09 06:26] #80 closed

[2019-04-10 08:29] #75 closed

[2019-04-10 08:47] niuzhenguo commented on #116
@vladimirBraquet Seems we can set only one security group on the console, I will update the docs on terraform side.

[2019-04-11 02:23] #116 closed

[2019-04-11 12:32] dharmjit opened #158 "Assign Fixed IP to RDS"
Hi Team,

Is there a way to assign fixed IP to RDS. I checked the terraform flexible engine specifications, but you can only specify subnet information under this.

Thanks

[2019-04-11 12:45] antonin-a commented on #158
Hello @dharmjit ,
This is not possible from user side to set the IP of RDS instance.
As you can see on the documentation here : https://docs.prod-cloud-ocb.orange-business.com/en-us/usermanual/rds/en-us_topic_0046585334.html
The Dynamic Host Configuration Protocol (DHCP) function must be enabled by default for subnets in which you plan to create RDS DB instances and cannot be disabled.

regards,

[2019-04-11 13:32] dharmjit commented on #158
But in the UI, I can assign specific IP then why not in terraform. Is there a way to later update this using some other resource.

[2019-04-12 08:56] #108 closed

[2019-04-15 08:09] antonin-a commented on #158
Hello @dharmjit , this feature is currently under deployment and not available through API at the moment. This will be available soon after API version upgrade, I will come back to you when I have more detailed information.

[2019-04-15 11:56] bbenduduh commented on #158
Hello Team,

++ @dharmjit,
I had also noted this gap in the assignment of specifc IP to the RDS by Terraform.
And I was thinking about creating a bug about it.

Very useful feature for Terraform scripts!

[2019-04-18 09:00] Gwenael22 opened #162 "ECS auto recovery"
Hello,

When i use the flexible engine provider, my ECS servers are provisioned with disabled auto-recovery.
Is there a way to configure this properties when creating an ECS with the terraform providers ?

The API exposes the "extendparam/support_auto_recovery" to do that.

Thanks for your help.

[2019-04-18 09:22] niuzhenguo commented on #162
@Gwenael22 Thank you for raising this. I will be working on that to make it available in the next release.

[2019-04-18 09:33] Gwenael22 commented on #162
Thanks @niuzhenguo

[2019-04-19 09:55] #162 closed

[2019-04-20 02:42] #138 closed

[2019-04-24 09:21] Poil opened #165 "ELB Pool "Still creating" when using TCP and TERMINATED_HTTPS"
Hi,

When I do this, terraform stuck in "Still creating"
[code]

This is normal, because when using the API we have this error :
[code]

Probably we should had some control on this

Best regards,

[2019-04-24 09:28] Poil commented on #165
Also in the documentation there is an error

[code]

Should be
[code]

Because (ref. https://docs.prod-cloud-ocb.orange-business.com/en-us/api/elb/en-us_topic_0140979309.html p116)

[code]

[2019-04-24 09:42] niuzhenguo commented on #165
@Poil Thanks for raising this, I will be working on this.

[2019-04-29 01:27] #165 closed

[2019-04-29 01:29] niuzhenguo commented on #144
@dharmjit do you still face the error?

[2019-04-29 02:53] niuzhenguo commented on #135
@Poil  If you use router/network/subnet, you should also create a router_interface and add that as a depends_on within nat_gateway_v2 resource, here is an example:
https://github.com/terraform-providers/terraform-provider-flexibleengine/blob/master/flexibleengine/resource_flexibleengine_nat_gateway_v2_test.go#L100-L128

[2019-04-29 09:23] niuzhenguo opened #171 "Error when creating AS group with Enhanced LB Listeners"
Currently terraform only support create as_group with elb liseners, need to add lbaas_listeners support as well.

[2019-04-29 12:19] dharmjit commented on #144
Hi @niuzhenguo, I haven't tested again but will update this issue by checking again.

[2019-04-30 08:06] #171 closed

[2019-04-30 11:20] Poil commented on #135
It works !
Many thanks :)

[2019-04-30 11:20] #135 closed

[2019-05-10 11:06] bbenduduh opened #175 "feature request : Specifying health port on Enhanced Load Balancer"
Hello,

Currently it's not possible in the terraform provider to specify a protocol_port for health check port (resource : flexibleengine_lb_monitor_v2).

 It is possible in the GUI, when creating a "Backend Server Group" : https://docs.prod-cloud-ocb.orange-business.com/en-us/usermanual/elb/en-us_topic_0052569729.html

And it's documented in the API (section "Health Check / Configuring a Health C

[2019-05-10 15:38] antonin-a opened #176 "Error on flexibleengine_cce_cluster_v3 argument : subnet_id"
Hello,

It seems that there is an error with "subnet_id" argument on flexibleengine_cce_cluster_v3. Network id is waited instead.

### Terraform Version
Terraform v0.11.13

### Affected Resource(s)
flexibleengine_cce_cluster_v3

### Terraform Configuration Files
``
resource "flexibleengine_cce_cluster_v3" "cce_cluster" {
	name = "${var.cluster_name}"
	cluster_type= "${var.cluster_type}"
  cluster_

[2019-05-13 07:08] niuzhenguo commented on #176
@antonin-a Just as you said `subnet_id` here is network id instead.  I also don't like these vpc/subnet and router/network/subnet things, so just keep the name consistent with the API argument.

[2019-05-13 08:11] antonin-a commented on #176
Hello @niuzhenguo , not sure to understand your conclusion, do you plan to change "network_id" to "subnet_id" ? . On the official API documentation the parameter used is "subnet" (https://docs.prod-cloud-ocb.orange-business.com/en-us/api2/cce/cce_02_0236.html).

[2019-05-13 08:27] niuzhenguo commented on #176
@antonin-a do you mean to change `subnet_id` to `network_id`? I can deprecate `subnet_id` and add `network_id` if you would like it.

[2019-05-13 08:29] antonin-a commented on #176
No, just use "subnet_id" with the subnet_id value as on the API documentation. Just to correct the fact the "subnet_id here is network id instead" which look like a .... non sense.

[2019-05-13 08:45] niuzhenguo commented on #176
@antonin-a API requires us to use network ID instead of subnet ID, you can have a try, so we can't make that change on our side.

[2019-05-13 08:47] antonin-a commented on #176
Do you mean that Online documentation is currently wrong ? If this is the case I suggest to add a warning on the documentation here and push on Platform/CCE R&D team to fix the id to subnet (as "network" seems to be a  "non-standard" resource on Flexible Engine).

[2019-05-13 09:07] niuzhenguo commented on #176
@antonin-a If you would like to fix the id to subnet, that's not the docs issue but API itself instead, you need to call R&D team to make a change on the code level.

[2019-05-13 11:22] antonin-a commented on #176
So you confirm that if I wan't to use the FE APIs there is also an error on the FE documentation ? I should use network instead of subnet ?
If it is the case we are inline, that's why I suggest to add an warning on FlexibleEngine TF provider documentation for the subnet_id argument saying that user should use "network_id" for now. Let's investigate the fix on API/platform level in parallel.

[2019-05-13 11:24] niuzhenguo commented on #176
OK, I will working on the docs side.

On Mon, May 13, 2019 at 7:22 PM Antonin <notifications@github.com> wrote:

--
Best Regards,
Zhenguo Niu

[2019-05-13 11:28] antonin-a commented on #176
Thanks a lot. Can you also answer to my questions ?

[2019-05-13 11:32] niuzhenguo commented on #176
@antonin-a Yes, you should use network instead when using API.

[2019-05-14 07:10] niuzhenguo commented on #175
@bbenduduh Thanks for raising this, I will be working on it.

[2019-05-16 08:56] julienyvenat opened #178 "Feature request : Elastic Volume Storage data source request"
Hello,

**Feature request:**
There is no data source function available to querying details about a single EVS Disk. This function will be helpful to attach a volume with the function `flexibleengine_compute_volume_attach_v2` without the need of create one.

Today, we can't because the only way to get a `volume_id` for the function `flexibleengine_compute_volume_attach_v2` is to create a volume wi

[2019-05-17 12:37] Gwenael22 opened #179 "CCE : "cluster_version" field and service pack"
Hello,
I have some problem on CCE cluster provisioning concerning the field "cluster_version".
I use the version "v1.11.3-r1". After provisioning, FE change the version to "v1.11.3-r1.sp1".
If I want to modify a part of my stack, Terraform destroy my CCE cluster and create a new one because it identifies it is necessary to create a new resource.
Is there a way to fix this problem on provider sourc

[2019-05-17 15:04] shoudusse commented on #179
I'm experiencing the same issue.
Obviously it's not a terraform provider issue but Flexible Engine API one.
If we create a CCE cluster with version "v1.11.3" the POST response returns a payload with
[code]

[2019-05-17 15:23] Gwenael22 commented on #179
Thanks @shoudusse

[2019-05-20 02:49] niuzhenguo commented on #178
@julienyvenat Thanks for raising this, and I would appreciate if you can help work on this.

[2019-05-20 07:34] chewdevs opened #181 "flexibleengine_csbs_backup_policy_v1 resource wants to do changes when none are done"
Hi there,

At every `Terraform apply`, flexibleengine_csbs_backup_policy_v1 wants to do changes, even when no changes have been done to the infrastructure.

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- flexibleengine_csbs_backup_policy_v1

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Panic Output
If Terraform p

[2019-05-20 07:47] chewdevs opened #182 "Feature Request: Adding count to resource block for flexibleengine_csbs_backup_policy_v1"
Hi there,

It could be great to have a way to use count in the `ressource` block for `flexibleengine_csbs_backup_policy_v1` resource.

For now, when using count for `flexibleengine_compute_instance_v2` resource, we need to use the count into the `flexibleengine_csbs_backup_policy_v1`. This is creating the same number of backups policies as the number of instances and not only one policy for all in

[2019-05-21 01:41] niuzhenguo commented on #182
@chewdevs I don't quite understand your request? `count` is provided by `terraform` for all resources, do you have some issue to use that?

[2019-05-21 02:14] niuzhenguo commented on #181
@chewdevs I tried on my local ENV with a single csbs script but don't find any changes as you showed above, seems something wrong with your module scripts?

[2019-05-21 06:25] chewdevs commented on #182
If I tried to use `count` on the resource block inside the `flexibleengine_csbs_backup_policy_v1` resource using the code below, I got an error

[code]

Error message:
[code]

[2019-05-21 08:07] antonin-a commented on #179
Hello @Gwenael22 & @shoudusse , have you opened a ticket on Flexible Engine platform service desk  ?

[2019-05-21 08:50] niuzhenguo commented on #182
@chewdevs Oh, I see, you mean a `count` parameter within resource block. Why not just move `count` outside resource?

[2019-05-21 09:44] Gwenael22 commented on #179
Hello @antonin-a , not for the moment.

[2019-05-21 13:06] chewdevs commented on #182
This is what I have finally done but implies one policy per instance and not a global policy.

But I agree, with this solution, the problem is solved :smile:

[2019-05-22 08:18] niuzhenguo commented on #182
@chewdevs If that's OK, can we close this?

[2019-05-22 09:44] julienyvenat commented on #178
Hey !

After some digging on the [Huawei Cloud golansdk](https://github.com/huaweicloud/golangsdk) repository, it appears that the `flexibleengine_blockstorage_volume_v2` wasn't what I needed. Like said in the title, I want to create an EVS (Elastic Volume Storage) and no function has been write on this plugin to get/create/delete ones.

I found the go source code which manage evs for huawei cloud

[2019-05-22 12:27] chewdevs commented on #182
Yes, we can

[2019-05-22 12:27] #182 closed

[2019-05-22 15:31] julienyvenat commented on #178
Hi @niuzhenguo ,

Sorry for this question where the answer must be somewhere but I don't find it :( .
I don't understand how to test the new build of the provider.
When I launch `terraform plan` an error saying that it didn't find the new function is raised :
`Error: data.flexibleengine_blockstorage_volume_v2.test_evs: Provider doesn't support data source: flexibleengine_blockstorage_volume_v2`.

[2019-05-22 15:33] Gwenael22 opened #183 "[CCE nodes] : node label not taken into account"
Hi there,

### Terraform Version
0.11.14

### Affected Resource(s)
- flexibleengine_cce_nodes_v3

### Expected Behavior
When i declare a label to a node, the label is present on the node in FE Console

### Actual Behavior
The label is not present on node in FE console. The label declared in Terraform template is not taken into account

### Steps to Reproduce
Please list the steps required to repro

[2019-05-22 16:17] Julien-Le-Huludut-Orange opened #184 "feature request : data source for flexibleengine_dns_zone_v2"
Hello

It would be nice to have a data source for dns zones : when you have multiple terraform deployments provisionning records in the same dns zone, you need the zone_id.

Thanks (in advance) !

[2019-05-25 08:35] niuzhenguo commented on #184
@Julien-Le-Huludut-Orange Thanks for raising this, will include this in the v.16.0 milestone.

[2019-05-25 08:36] niuzhenguo commented on #183
@Gwenael22 Thanks for raising this, will test on my EVN to see.

[2019-05-29 15:38] Gwenael22 commented on #179
Hello @antonin-a and @niuzhenguo
Response of Flexible Engine support :

[2019-06-03 01:50] niuzhenguo commented on #179
@Gwenael22 That's because the API response with v1.11.3-r1.sp1.

[2019-06-03 06:57] niuzhenguo commented on #179
OK, we can truncate the version string on our side.

[2019-06-03 07:52] Gwenael22 commented on #179
Hello @niuzhenguo,
I don't know the technical constraints on API side but, i agree with you, it would be a better way to fix it in API. In fact, they have the control on the version naming and in case of name convention change on their side (for service pack version or example), the Terraform provider will not take it into account.
I don't have any contact with API developers but i can answer to F

[2019-06-03 07:53] Gwenael22 commented on #183
Hello,
Any updates about that problem ?
Thanks

[2019-06-03 08:19] Gwenael22 commented on #65
Hello,
For information, the Flexible Engine support suggests me to use the following parameters to deploy a RDS database in 2 AZ :
`availabilityzone = "eu-west-0a,eu-west-0b"`
But it does not work (API error: RDS.5027","externalMessage":"HA invalid available zone")

[2019-06-03 09:36] #175 closed

[2019-06-04 01:28] niuzhenguo commented on #179
@Gwenael22 That would be great!

[2019-06-04 02:50] #184 closed

[2019-06-04 03:15] niuzhenguo commented on #178
@julienyvenat Sorry for the late response, you should add the new data source to provider.go file here https://github.com/terraform-providers/terraform-provider-flexibleengine/blob/master/flexibleengine/provider.go#L158-L191

[2019-06-04 07:14] niuzhenguo commented on #183
@Gwenael22 It's true that the API also not resposne the labels, will dig more.

[2019-06-04 07:22] niuzhenguo commented on #183
@Gwenael22 It's weird that he CCE node GET API doesn't response with the labels requested.

[2019-06-04 07:41] niuzhenguo commented on #183
@Gwenael22 That should be an issue on CCE side, the labels with Create API seems not taken into account.

[2019-06-04 09:24] Gwenael22 commented on #183
Hi,
Thank you, @niuzhenguo
Do you have a point of contact in CCE or FE API team to inform them of the issue or should i contact the Flexible Engine support team ?

[2019-06-04 11:01] niuzhenguo commented on #183
@Gwenael22 Seems you should contact the support team.

[2019-06-04 11:05] Gwenael22 commented on #183
Ok, Thanks

[2019-06-10 08:58] niuzhenguo commented on #65
@Gwenael22 That kind of availabilityzone only valid for V3 API.

[2019-06-11 08:00] Gwenael22 commented on #65
Sad news as FE exposes only a V1 version for RDS service

[2019-06-11 08:16] Gwenael22 commented on #65
Thanks @niuzhenguo
Do you know if the provider project have planned to migrate the  flexibleengine_rds_instance ressource to V3 api ?

[2019-06-11 09:07] niuzhenguo commented on #65
@Gwenael22 Yes, just wait for the V3 API exposed on Cloud side. AFAIK, it's not available for now.

[2019-06-11 09:14] Gwenael22 commented on #65
For information @niuzhenguo , the V3 version of RDS service was deployed the 2019-02-01 on my FE Tenant (source : GET request on https://rds.eu-west-0.prod-cloud-ocb.orange-business.com/rds )

[2019-06-11 09:50] niuzhenguo commented on #65
@Gwenael22 Do you have V3 API docs or have you ever try with that?

[2019-06-11 13:14] Gwenael22 commented on #65
Unfortunately, the documentation is not up to date. I have requested it to FE support.

[2019-06-13 08:22] Gwenael22 commented on #183
The FE support informs me that the feature is not available and that the documentation contains an error ...

[2019-06-20 06:22] niuzhenguo commented on #181
@chewdevs Do you still face the same error?

[2019-06-20 06:27] niuzhenguo commented on #178
@julienyvenat Are you still working on this? If not, I will add a PR for it.

[2019-06-20 13:53] julienyvenat commented on #178
I'm not working on it for now.

[2019-06-20 14:13] chewdevs commented on #181
We have the same issue with another configuration not using module:

[code]

[2019-06-21 00:59] niuzhenguo commented on #178
@julienyvenat OK, I already created a PR and blockstorage_volume data source will be available on the next release. Sorry for the delay.

[2019-06-23 08:51] julienyvenat commented on #178
@niuzhenguo No problem, thank you very much for your help and work.

[2019-06-25 16:46] DafuSHI opened #193 "Feature Request: Flexibleengine Provider needs to support shared evs"
Hello,

For now Flexible Engine supports shared EVS for ECSs while we can't do it by Terraform.
As shown in https://docs.prod-cloud-ocb.orange-business.com/en-us/doc/pdf/20190321/20190321100742_49a1f8388a.pdf

There is a parameter 'multiattach' for enabling this feature while it is not supported in Flexibleengine Terraform Provider.

[2019-06-27 15:20] jfpucheu opened #194 "ECS SystemDisk Size parameter"
Hello,

By default the system_disk is set to 40 go .
From the portal we can manage the size of this disk at the build.
IS it possible to do from terraform provider ? I did'nt found nothing in the documentation

Thanks

Jeff

[2019-06-28 02:34] niuzhenguo commented on #194
@jfpucheu Please reference to https://www.terraform.io/docs/providers/flexibleengine/r/compute_instance_v2.html#boot-from-volume.
`boot_index = 0` within `block_device` indicates that it's a system disk.

[2019-06-28 06:40] #178 closed

[2019-06-28 06:51] #193 closed

[2019-06-28 15:29] jfpucheu commented on #194
Thanks it work, maybe this information in the documentation should be great.
Jeff

[2019-06-29 03:37] niuzhenguo commented on #144
Closing this, please feel free to reopen it if the issue still exists.

[2019-06-29 03:37] #144 closed

[2019-06-29 03:48] #194 closed

[2019-07-03 16:22] antonin-a opened #198 "Adding endpoints to flexibleengine_cce_cluster_v3 Data source"
Hi there,

It seems that endpoints information (the IP exposed to reach CCE kubernetes cluster APIs) are not part of the cluster_c3 datasources. Do you think that it is possible to add it ? It is already exposed on platform API side and would be really useful (today we have to connect to the console to get this information).

### Affected Resource(s)
Please list the resources as a list, for exampl

[2019-07-03 16:28] antonin-a commented on #183
@Gwenael22  and @niuzhenguo  I will push on Flexible Engine side to find a solution and ask for a fix. Sorry for the delay and inconvenience.

[2019-07-04 07:18] SebBlin commented on #198
Additionally, it would be also very useful to get IPs ow worker nodes, as it is available with low level API : https://docs.prod-cloud-ocb.orange-business.com/en-us/api2/cce/cce_02_0243.html

[code]

Regards

[2019-07-04 07:46] DafuSHI opened #199 "Document Database Service is onlince and we need support from terrafrom"
Hello,

Could we have the capacity to create and manage DDS from terraform flexible engine provider?

[2019-07-05 02:29] niuzhenguo commented on #199
@DafuSHI Thanks for raising this, will start work on this when API docs available.

[2019-07-05 07:09] niuzhenguo commented on #181
@chewdevs It's weird, and I can reproduce the issue on my ENV.

[2019-07-09 08:20] niuzhenguo commented on #181
@chewdevs please try to set scheduled_operation.name, the issue is because a 'default' name will be returned if there's no name set.

[2019-07-10 08:58] #181 closed

[2019-07-10 09:01] niuzhenguo commented on #198
@SebBlin Can you please add a new issue to track your proposal for CCE nodes IPs?

[2019-07-11 09:00] niuzhenguo opened #203 "Adding IPs to flexibleengine_cce_cluster_v3"
Hi there,

It would be very useful to get IPs of worker nodes, as it is available with low level API : https://docs.prod-cloud-ocb.orange-business.com/en-us/api2/cce/cce_02_0243.html

### Affected Resource(s)
- cce_cluster

### References
- GH-198

[2019-07-11 09:04] niuzhenguo opened #204 "Additionally, it would be also very useful to get IPs of worker nodes, as it is available with low level API : https://docs.prod-cloud-ocb.orange-business.com/en-us/api2/cce/cce_02_0243.html"
Additionally, it would be also very useful to get IPs of worker nodes, as it is available with low level API : https://docs.prod-cloud-ocb.orange-business.com/en-us/api2/cce/cce_02_0243.html

[code]

Regards

_Originally posted by @SebBlin in https://github.com/terraform-providers/terraform-provider-flexibleengine/issues/198#issuecomment-508369671_

[2019-07-11 09:06] niuzhenguo commented on #203
Duplicate with #204

[2019-07-11 09:06] #203 closed

[2019-07-11 09:22] #198 closed

[2019-07-12 10:00] #204 closed

[2019-07-12 13:48] antonin-a commented on #132
Hello, FYI deployment is under progress on Flexible Engine side so we will soon (expected for July) have the APIs providing the secgroup ID when creating the cluster.

[2019-07-16 09:32] Poil opened #206 "DNS - Your query returned no results."
Hi,

I try to create 2 empty DNS zones and I've got an error

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- flexibleengine_dns_zone_v2

### Terraform Configuration Files
[code]

### Debug Output
[code]
Terraform v0.11.13
2019/07/16 11:29:30 [DEBUG] plugin: waiting for all plugin processes to complete...
+ provider.flexibleengine v1.6.0
[

[2019-07-16 10:04] Gwenael22 commented on #179
the problem have been corrected. i suppose that it is on API side ...

[2019-07-16 10:04] #179 closed

[2019-07-17 13:51] SebBlin opened #207 "Count in nodes declaration"
Hi there,

There is an undocumented feature about CCE nodes.
It is possible to add an attribute named "count' to the declaration of CCE worker node as mentioned below:

resource "flexibleengine_cce_node_v3" "node_1" {
  cluster_id="${flexibleengine_cce_cluster_v3.cluster_1.id}"
  *count = "2"*
  name = "cc-${var.project_stream}-node"
  flavor_id="${var.cce_worker_flavor}"
  iptype="5_bgp"
  availa

[2019-07-17 16:01] Gwenael22 commented on #207
Hello
This is not a CCE feature but a Terraform feature.
To fix your problem, you must an unique name for each node.

Example:
`name = "cc-${var.project_stream}-node-${format("%02d", count.index+1)}"`

Regards

[2019-07-17 17:04] SebBlin commented on #207
Thanks for this info.
I tested with the configuration you propose and I have the same behaviour: the 2 nodes are both deleted at the same time and recreates after. Here are the logs of the terraform 'update' when changing the flavor :

[code]

[2019-07-18 07:07] Poil opened #208 "flexibleengine_compute_floatingip_v2"
Hi,

Here, https://github.com/terraform-providers/terraform-provider-flexibleengine/blob/master/flexibleengine/resource_flexibleengine_nat_snat_rule_v2_test.go, you create a floating ip via

[code]

But in the documentation https://www.terraform.io/docs/providers/flexibleengine/r/compute_floatingip_v2.html, the pool is required.

Also I have to put the pool parameter or I have an error, but I'm un

[2019-07-18 07:55] antonin-a commented on #208
Hello @Poil, you have to use the public network that can be found using the Openstack client command : "openstack network list --external"

I will check the FE doc to try to find the reference and submit and Terraform provider documentation update.

Regards,

[2019-07-18 12:29] antonin-a commented on #208
Note that we are currently publishing modules on the Terraform registry, this one might help you:
https://registry.terraform.io/modules/terraform-flexibleengine-modules/vpc/flexibleengine/1.0.1

[2019-07-18 12:48] Gwenael22 commented on #207
Hello
I think that it is the default behavior of Terraform.
Perhaps you could make some tests by decreasing the number of parallel call with the option -parallelism=1

[2019-07-18 14:38] Gwenael22 commented on #65
@niuzhenguo the new documentation (api v3) https://docs.prod-cloud-ocb.orange-business.com/en-us/doc/pdf/20190517/20190517160742_24700f9cce.pdf

[2019-07-19 03:13] niuzhenguo commented on #208
I can add `admin_external_net` as a default value for pool parameter if you would like.

[2019-07-19 03:16] niuzhenguo commented on #206
@Poil As the scripts pasted above, you created a data source instead of resource, is that what you want?

[2019-07-19 04:20] Poil commented on #206
My bad, sorry. I did that, forgot to change and didn't remember :/

[2019-07-19 04:20] #206 closed

[2019-07-22 06:34] #65 closed

[2019-07-22 08:35] antonin-a commented on #208
Hello @niuzhenguo , yes it is a good idea.

[2019-07-22 08:52] #208 closed

[2019-07-22 08:55] niuzhenguo opened #212 "Missing enable_shared_snat support for vpc v1 resource"
Currently there's no way to configure a new VPC with SNAT support in `flexibleengine_vpc_v1`.

[2019-07-23 07:05] #212 closed

[2019-07-23 07:06] niuzhenguo commented on #212
Not supported yet.

[2019-07-23 07:36] niuzhenguo commented on #207
@SebBlin did recommendation above help?

[2019-07-24 03:35] SebBlin commented on #207
Hello

No it doesn't really help, because when updating some values of worker
nodes, it generates a general unavailability of the cluster.
But maybe it is a default behaviour of terraform; or not.

regards
-- Sébastien

Le mar. 23 juil. 2019 à 03:36, Zhenguo Niu <notifications@github.com> a
écrit :

[2019-07-24 07:03] niuzhenguo commented on #207
@SebBlin If so, I suggest you open an issue on terraform instead or you can declare nodes in different way as a workaround.

[2019-07-24 07:51] Gwenael22 commented on #207
@SebBlin a good article on the subject

[2019-07-25 06:44] chewdevs opened #214 "Feature Request: IAM resources support"
Hello,

It could be great to be able to manage IAM resources with Terraform:

- Creating groups and users

- Creating policies

- Assigning policies to groups to manage users permission

- Managing Federated Identity Authentication

[2019-07-25 09:08] antonin-a commented on #214
Hello @chewdevs , I agree with you. @niuzhenguo as it is already available on Huawei Cloud provider did you know if we can add it to the FE one ?
It seems that keystone is v3 on both platform but I can remember that there is some differences on APIs side (Huawei Cloud seems to use EPS) and I face different behavior between FE and HC with Openstack CLI. Please let me know if it is ok regarding APIs

[2019-07-25 09:21] niuzhenguo commented on #214
@antonin-a will test the API soon and give feedbacks here.

[2019-07-25 09:39] niuzhenguo commented on #214
@chewdevs Regarding Federated Identity Authentication, do you mean to add support for passing `security_token`?

[2019-07-25 12:19] chewdevs commented on #214
I was thinking about registering and configuring an Identity Provider

[2019-07-25 16:48] lebrisg opened #215 "Example of load-balancer with TERMINATED_HTTPS configuration"
Hi,

On one of my project, I need to set up a load-balancer (flexibleengine_lb_loadbalancer_v2) with TERMINATED_HTTPS via Terraform.

I already had some problems to find an example of a load-balancer configuration using plain HTTP, but I finally found it.
But, concerning TERMINATED_HTTPS, I can't find any example and my project is stuck.
I currently get the following error message:
"* flexibleengi

[2019-07-26 12:39] Gwenael22 commented on #183
Hello @antonin-a , any update concerning this issue ? Thanks

[2019-07-26 13:03] antonin-a commented on #183
Hello @Gwenael22 , it is under progress to provide this capability. I will try to give you an expected delivery date by next week (waiting the feedback from our partner).

[2019-07-26 13:06] Gwenael22 commented on #183
Ok, thanks

[2019-07-29 09:49] niuzhenguo commented on #215
@lebrisg Sorry for the inconvenience, will provide that soon.

[2019-07-29 11:43] niuzhenguo commented on #214
@chewdevs You need to configure the Identity Provider manually and fetch the security token. We can provide a way to use that security token + ak/sk to manage resources with terraform.

[2019-07-31 07:22] chewdevs commented on #214
For Identity provider, an API is available: https://docs.prod-cloud-ocb.orange-business.com/en-us/api/iam/en-us_topic_0057845606.html
It's not possible to manage it with Terraform ?

But for us, managing users, groups, policies and polcies assigment are more important than identity provider.

[2019-07-31 07:55] niuzhenguo commented on #215
@lebrisg Please refer to this https://github.com/terraform-providers/terraform-provider-flexibleengine/blob/master/flexibleengine/resource_flexibleengine_lb_listener_v2_test.go#L151-L221

[2019-07-31 08:03] niuzhenguo commented on #214
@chewdevs Will start to test the IAM resources when my account got admin permissions. We can discuss IDP after users, groups, policies and policies assignment finished.

[2019-07-31 09:17] chewdevs commented on #214
Great !, thanks @niuzhenguo

[2019-08-02 07:18] #215 closed

[2019-08-02 07:49] Gwenael22 commented on #183
Hello @niuzhenguo, any news ?

[2019-08-02 08:20] niuzhenguo commented on #183
@Gwenael22 We find a separated API for adding node labels, will have a try.

[2019-08-02 12:16] mgodlewski opened #221 "datasource flexibleengine_cce_nodes_v3 should be plurial datasource"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
[code]
### Affected Resource(s)
- datasource flexibleengine_cce_nodes_v3

### Terraform Configuration Files
[code]

### Debug Output
[code]

###

[2019-08-05 07:43] niuzhenguo commented on #221
@mgodlewski the datasource `flexibleengine_cce_node_v3` itself doesn't end with a "s", I will change the docs instead.

[2019-08-05 09:27] J-Le-Huludut-Orange commented on #70
Hello @niuzhenguo

Maybe this issue can be closed, as it seems related to the API and not the terraform provider itself.

Thank you anyway.

[2019-08-05 10:52] niuzhenguo commented on #70
Thanks, and we can make some improvements in modules.

On Mon, Aug 5, 2019 at 5:27 PM J Le Huludut <notifications@github.com>
wrote:

--
Best Regards,
Zhenguo Niu

[2019-08-05 11:26] mgodlewski commented on #221
Great, you can keep this issue as a "feature request" : a plural datasource will be really helpfull to deal with cluster nodes.

[2019-08-06 02:19] unknwon opened #223 "Potential case-insensitive import collision"
Due to GitHub handle change (to lowercase) for long term purpose, `go get` may fail fetching `github.com/Unknwon/com`.
Please consider take some time to update it to `github.com/unknwon/com` in the `go.mod` file.
I truly apology for the inconvenience and unintended troubles caused.

[2019-08-15 08:23] niuzhenguo opened #224 "Add a plural datasource for cluster nodes."
Great, you can keep this issue as a "feature request" : a plural datasource will be really helpfull to deal with cluster nodes.

_Originally posted by @mgodlewski in https://github.com/terraform-providers/terraform-provider-flexibleengine/issues/221#issuecomment-518196052_

[2019-08-15 08:23] #221 closed

[2019-08-20 09:11] Gwenael22 opened #228 "[CCE] Problem to create node with Kubernetes 1.13.7"
Hi there,

I have some problems to create nodes via Terraform on a cluster with version 1.13.7 of Kubernetes.

If i create a cluster and nodes in the CCE console. Everything is working fine.
If i create cluster and nodes via Terraform. The cluster is created but not the nodes. If I try to add a node in the cluster created via Terraform by using the console, the node is not created.

### Terraform

[2019-08-20 09:38] niuzhenguo commented on #228
@Gwenael22 Can you provide your tf scripts?

[2019-08-20 09:42] Gwenael22 commented on #228
@niuzhenguo For information, I have added some details concerning the behavior in my ticket description

My scripts :
`resource "flexibleengine_cce_cluster_v3" "cluster_k8s" {
  name                   = "${lower(var.project_name)}-cluster"
  cluster_type           = "VirtualMachine"
  cluster_version        = "v1.13.7"
  flavor_id              = "cce.s2.small"
  vpc_id                 = local.vpc_

[2019-08-23 01:38] niuzhenguo commented on #228
@Gwenael22 I tried with your scripts and got the same error. The cluster created but the node is Abnormal, then I tried to create node on console under the created cluster but got the same error.

[2019-08-23 08:06] Gwenael22 commented on #228
@niuzhenguo I think that the new version of CCE needs new parameter that is not documented for the moment ...

For information, i have also some problems with the new version 1.11.7 that is created without cluster roles ... The FE support informs me that there is a new parameters to add.

[code]

[2019-08-29 12:07] lebrisg opened #232 "Expected code for lb monitor always wrong."
### Terraform Version
Terraform v0.11.8
+ provider.flexibleengine v1.6.0

### Affected Resource(s)
flexibleengine_lb_monitor_v2

### Terraform Configuration Files
resource "flexibleengine_lb_monitor_v2" "lb01_monitor" {
  pool_id         = "${flexibleengine_lb_pool_v2.lb01_pool.id}"
  type            = "HTTP"
  delay           = 20
  timeout         = 10
  max_retries     = 5
  url_path        = "

[2019-08-30 14:33] Gwenael22 commented on #228
@niuzhenguo New CCE API documentation (new parameters)
[Cloud Container Engine API Reference 2.0.pdf](https://github.com/terraform-providers/terraform-provider-flexibleengine/files/3560317/Cloud.Container.Engine.API.Reference.2.0.pdf)

[2019-08-31 06:26] niuzhenguo commented on #232
@lebrisg Seems that's because the API resposne with 2xx instead.

[2019-08-31 06:41] niuzhenguo commented on #228
@Gwenael22 I can add authentication mode support, but seems that's not related to the error you raised.

[2019-08-31 20:14] lebrisg commented on #232
I understand that I have to specify: expected_codes = "2xx"
Shouldn't be "200" or "200-202" as the Terraform documentation says?

[2019-09-02 07:54] Gwenael22 commented on #228
Hi @niuzhenguo , I agree with you but the new authentication mode make Terraform unusable to create CCE clusters. In fact, there is no default value for this parameter in CCE API ... for the moment (it's scheduled for a next deployment).

[2019-09-03 08:22] niuzhenguo commented on #232
@lebrisg I can ignore the API response and just keep the value you set.

[2019-09-04 15:56] Gwenael22 commented on #183
Hello @niuzhenguo, any news please ? does this separated API permits to add labels on nodes ?

[2019-09-05 15:09] Gwenael22 commented on #228
@niuzhenguo after some tests today, the problem seems to be fixed concerning the version 1.13.7 of Kubernetes. The `authentication.mode = rbac` seems to be the default value in CCE API

[2019-09-05 15:37] #228 closed

[2019-09-09 07:21] niuzhenguo commented on #183
@Gwenael22 Seems we can't use k8s API separately.

[2019-09-10 13:23] Gwenael22 commented on #132
Hello @antonin-a , any news concerning this feature ?
The lastest CCE deployment does not include this parameter (cf. CCE API doc in version 2019-07-30)

[2019-09-10 13:29] Gwenael22 opened #236 "Add OS parameters to CCE node ressources"
Hello

As mentioned in CCE API documentation (version 2019-07-30), it is now possible to specify an OS parameter (in spec field) on node resource to choose between EulerOS and CentOS
As this API version is already deployed in production, Is it possible to add these parameter in the provider please ?

Thanks

[2019-09-10 13:33] Gwenael22 commented on #183
Any news @antonin-a

[2019-09-10 13:45] antonin-a commented on #183
Hello @Gwenael22, sorry for the delay. I just got the confirmation that it is planned for the next CCE upgrade planned by the end of November. I'll keep you updated if there is any change.

[2019-09-10 13:48] antonin-a commented on #132
Hello,
The secGroup ID is now returned when executing the Obtaining CCE cluster info API call (https://docs.prod-cloud-ocb.orange-business.com/en-us/api/cce/en-us_topic_0035621933.html)
Now we need to update the TF provider to use those new parameters, @niuzhenguo are you already working on this ? To have have an expected delivery date ?

[2019-09-10 13:52] Gwenael22 commented on #183
Sad news :( particularly because the feature appears in the CCE API documentation ...

[2019-09-10 13:55] antonin-a commented on #183
I know and I share your frustration. I will do my best to accelerate the delivery ...

[2019-09-11 06:44] niuzhenguo commented on #132
@antonin-a The next release will be the end of Sep, will make sure this included.

[2019-09-11 08:51] #236 closed

[2019-09-11 09:26] Gwenael22 commented on #236
Thanks @niuzhenguo

[2019-09-12 03:35] #132 closed

[2019-09-19 15:22] Gwenael22 opened #240 "[DCS] How to instanciate "single node" instance ?"
Hi there,

I try to create a "single node" instance but i have an error. I think that field "backup_type" should not be mandatory in provider as there is no back-up for single node. Thanks for your help.

### Terraform Version
0.12.9

### Provider Version
1.7.0

### Affected Resource(s)
flexibleengine_dcs_instance_v1

### Terraform Configuration Files
[code]

### Debug Output
{"error":{"code":"111

[2019-09-23 07:34] #240 closed

[2019-09-23 08:52] bbenduduh opened #242 "facility 'data': access by login / password is no longer possible"

[2019-09-23 09:09] bbenduduh commented on #242
Hi,

After a while ... I realized that it was now necessary to use AK / SK.

There was no explicit error message! Is it a doc pb or a bug ?

### Terraform Version
Terraform v0.12.9
    provider.flexibleengine v1.7.0

### Affected Resource(s)
-

### Terraform Configuration Files
- provider.tf :
provider "flexibleengine" {
version = "= 1.7"
user_name = "${var.username}"
password = "${var.password}"

[2019-09-23 09:34] bbenduduh opened #243 "Applying flexibleengine_rds_instance_v3 resource without changes recreate the database"
Hi there,

Applying  _flexibleengine_rds_instance_v3_ resource,  **without any  changes**,  recreates the database.

I think this behavior needs to be corrected. The database must not be systematically recreated.

### Terraform Version
Terraform v0.12.9
+ provider.flexibleengine v1.7.0

### Affected Resource(s)
- lexibleengine_rds_instance_v3

### Terraform Configuration Files
resource "flexibleen

[2019-09-23 11:19] niuzhenguo commented on #243
@bbenduduh Please change the version to 5.7 instead, seems API response with 5.7 when you specify 5.7.17.

[2019-09-23 11:21] niuzhenguo commented on #242
@bbenduduh you need to provide the region information as well.

[2019-09-23 18:42] bbenduduh commented on #242
It's ok  with region parameter added.

[2019-09-23 18:42] #242 closed

[2019-09-23 19:38] bbenduduh commented on #243
**Yes,** the database is not recreated if I specify the version at **5.7** instead of **5.7.17**

But if I do that, I have another pb. The database is created with the **latest** supported DB engine version, which is now 5.7.25.

That's not what I want.
For compatibility reasons  I would like the database DB engine to be  version 5.7.17

It would be great, if it were possible to specify the desire

[2019-09-27 09:09] #199 closed

[2019-09-29 11:15] #224 closed

[2019-09-29 11:43] #232 closed

[2019-09-29 12:12] #243 closed

[2019-09-30 08:54] Gwenael22 opened #252 "[OSS] Add default encryption during S3 bucket creation"
Hi there,
Is it possible to add default encryption to the OSS resource that permits to create a S3 bucket please ?
On API site, it seems that headers "x-amz-server-side-encryption" and "x-amz-server-side-encryption-aws-kms-key-id" permit to add this configuration to a bucket.
Thanks
Regards

[2019-09-30 14:20] hashibot[bot] opened #253 "rpc error: code = Unavailable desc = transport is closing"
_This issue was originally opened by @frederic-boissiere as hashicorp/terraform#22948. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

**Terraform version**
[code]
terraform also crashed with v0.12.6 release

**OS version**
Windows 7 Enterprise SP1 - 64bits

**Cra

[2019-10-02 09:46] frederic-boissiere commented on #253
Hello, I find the root cause. I did a manual modification from the FE console leading to this state.
You can close this issue.
Sorry for trouble.

[2019-10-07 16:05] bishoy-mgfs opened #254 "VM m2.4xlarge.2 provisioning issue"
Hi there,

We are facing strange issue related when using Terraform FlexibleEngine provider.
When trying to creating a VM from different flavors, It success in some and fails in some Ex: Fail when creating m2 flavors.

### Terraform Version
Terraform v0.12.9

### Affected Resource(s)
- flexibleengine_compute_instance_v2

### Terraform Configuration Files
**instance.tf**

[code]

**provider.tf**

[

[2019-10-09 21:27] kbroughton commented on #253
I am seeing this issue with a very standard main.tf pulled from the docs.

**Terraform version**
/terraform/core # terraform --version
Terraform v0.12.10
+ provider.aws v2.31.0

OSX 10.14.6

Running inside the terraform docker container. This occurred both with the v0.12.9 and v0.12.10 (updated manually inside container).

main.tf pasted directly from https://www.terraform.io/docs/providers/aws/r/

[2019-10-09 21:45] kbroughton commented on #253
updating the container fixed this issue.

[2019-10-10 14:26] frederic-boissiere opened #255 "Timeout during the creation of internal elb"
Hi there,

### Terraform Version
[code]

### Affected Resource(s)
- flexibleengine_elb_loadbalancer

### Terraform Configuration Files
[code]

### Debug Output
[DEBUG.log](https://github.com/terraform-providers/terraform-provider-flexibleengine/files/3713066/DEBUG.log)

### Panic Output
N/A

### Expected Behavior
Creation of Internal ELB must be successfully completed

### Actual Behavior
A timeou

[2019-10-10 15:30] antonin-a opened #256 "Manage identity ressource using FE provider"
Hi there,
It would be nice to have the possibility to handle identity ressource (IAM) with the terraform provider:
As on Openstack provider : https://www.terraform.io/docs/providers/openstack/r/identity_application_credential_v3.html
@niuzhenguo did you know if it is already available on Huawei side ?

[2019-10-11 07:49] #253 closed

[2019-10-11 08:11] niuzhenguo commented on #256
@antonin-a It's also not supported on Huawei provider yet, and not sure if it's supported on Cloud side yet.

[2019-10-14 13:42] vlandemaine-orange opened #257 "[Feature request] Add the root ca for CCEv2 cluster creation"
Hello,

With the new version of Kubernetes (1.13.7) available on CCEv2 coming the new feature for adding our own root certificate to the Kubernetes cluster on the creation step. This is a great feature, but this is not integrated with the Terraform provider. Can you add this functionnality to this Terraform provider?

### Terraform Version
0.12

### Affected Resource(s)
- flexibleengine_cce_cluste

[2019-10-14 13:49] vlandemaine-orange opened #258 "[Feature Request] Kubeconfig after CCE cluster creation"
Hello,

When we create a new CCEv2 cluster, the only possibility to get the kubeconfig is with the FE web interface. We cannot interact with the cluster after this creation automatically.

The main purpose here, is to provide on the response data the parameters that enable us to create the kubeconfig :

- The HTTP endpoint (It's ok)
- The root certificate of the cluster (Need)
- The user certifica

[2019-10-14 15:12] antonin-a commented on #254
Hello @DafuSHI , do you have any clue here ? My first guess would be a capacity issue but error message would be more explicit

[2019-10-14 15:13] antonin-a commented on #255
@niuzhenguo did you manage to reproduce ?

[2019-10-14 15:29] antonin-a commented on #252
Hello @Gwenael22, sorry for the delay. The service as been release on FE by the end of September (api and console side), we are currently working on it in order to provide this through FE TF provider

[2019-10-15 07:08] niuzhenguo commented on #252
@Gwenael22 @antonin-a We can keep it as AWS provider is.

[2019-10-15 07:21] niuzhenguo commented on #254
We need to get the detailed error message from DEBUG log due to API didn't return any error.

[2019-10-18 03:17] niuzhenguo commented on #254
hi, we will prepare a patch to give more explicit err mesage in such situation.

[2019-10-18 03:18] niuzhenguo commented on #254
@ShiChangKuo ^

[2019-10-18 07:14] ShiChangkuo commented on #254
@bishoy-mgfs @niuzhenguo
we can get the error message in fault field of querying response body.
The log message likes this:
Error: Error waiting for instance (_instance_id_) to become ready: [error code: 500, message: Build of instance _instance_id_ aborted: Block Device Mapping is Invalid.]

[2019-10-18 08:28] frederic-boissiere opened #262 "[Feature request] give the ability to associate a whitelist to a listener of an enhanced load balancer"
### Terraform Version
[code]

### Affected Resource(s)
- flexibleengine_lb_listener_v2

### Terraform Configuration Files
N/A

### Debug Output
N/A

### Panic Output
N/A

### Expected Behavior
Give the ability to associate a whitelist to a listener of an enhanced load balancer

### Actual Behavior
It is not possible to associate a whitelist (configure access control) to a listener of an enhanced l

[2019-10-18 08:35] #254 closed

[2019-10-22 06:44] Mihai-CMM opened #263 "RDS instantiation flavors wrongly documented"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
[root@localhost az_a]# terraform11.8 --version
Terraform v0.11.8
+ provider.flexibleengine v1.8.0
+ provider.openstack v1.23.0

### Affected Reso

[2019-10-22 09:49] antonin-a commented on #263
Hello @Mihai-CMM , thank a lot for raising this doc issue. I've fixed it here and waiting for merging: #264

[2019-10-22 11:43] #263 closed

[2019-10-23 13:37] antonin-a commented on #257
@DafuSHI , correct me if I'm wrong but it seems not available using the APIs neither. We should ask for it.

[2019-10-23 21:26] DafuSHI commented on #257
Ok I will discuss this with the team tomorrow

[2019-10-25 01:53] #262 closed

[2019-10-26 02:57] niuzhenguo commented on #255
@antonin-a @frederic-boissiere Actually it exceeded our default create timeout 10 mins on terraform side. Not sure why it took so long time on cloud side but you can avoid this by manually setting a timeout on your tf scripts.

[2019-10-28 04:40] #258 closed

[2019-11-05 08:12] niuzhenguo commented on #118
fixed by #269

[2019-11-05 09:42] shoudusse commented on #118
Hello all,
Can you confirm me this new parameter is the same as setting a `clusterExternalIP` in `extend_param` ?
This was my workaround.

[2019-11-05 11:18] niuzhenguo commented on #118
@shoudusse Yes, it's same with that.

[2019-11-06 01:34] #223 closed

[2019-11-07 20:59] antonin-a opened #273 "[MRS] Add support of 2.0.1 Cluster version"
Hi there,

MRS is currently supporting 2.0.1 cluster version: ![image (9)](https://user-images.githubusercontent.com/17782936/68426709-fa147680-01a8-11ea-9173-c1733546fc99.png)

While the provider documentation is only referring "MRS 1.3.0 and MRS 1.5.0" (https://www.terraform.io/docs/providers/flexibleengine/r/mrs_cluster_v1.html#cluster_version), I know that is it really hard to track the availa

[2019-11-08 01:42] niuzhenguo commented on #273
- not set this argument as it is optional and it will use the 'latest version' by default (2.0.1)
Yes, the latest version will be used by default as the API document said.
- set this argument to '2.0.1' event if it is not listed on the authorized values
Yes, you can set any version now, we don't have a validator as it's really hard to track the available versions as you said above.

[2019-11-08 11:59] antonin-a commented on #273
Ok clear, thanks a lot ! I will submit the pull request asap

[2019-11-08 16:05] mirceabostan opened #275 "[MRS] add support for Hybrid cluster"
Hi there,
While the console offers the possibility to create an analysis cluster, streaming cluster and hybrid cluster as in the snapshot bellow
![HybridCluster](https://user-images.githubusercontent.com/5604530/68490520-c9d4e280-0251-11ea-8630-d33e8351731d.png)

the provider documentation (https://www.terraform.io/docs/providers/flexibleengine/r/mrs_cluster_v1.html#cluster_version) offers
the pos

[2019-11-08 16:28] WayneFromHuawei commented on #275
@niuzhenguo please add this to the release at end of Nov, thanks

[2019-11-11 06:30] niuzhenguo commented on #275
@mirceabostan @WayneFromHuawei Please have a look at this https://docs.prod-cloud-ocb.orange-business.com/en-us/api/mrs/mrs_02_0028.html

[2019-11-11 06:30] niuzhenguo commented on #275
Currently, hybrid clusters (available in MRS 2.0.0 or later) cannot be created using APIs.

[2019-11-11 10:54] mirceabostan commented on #275
Do you have any road map on the availability of creation of hybrid clusters through APIs?

[2019-11-22 08:50] antonin-a commented on #176
hello @niuzhenguo can we please re-open this one ?
API documentation is still indicate subnet_id (https://docs.prod-cloud-ocb.orange-business.com/api/cce/en-us_topic_0053608536.html) "Subnet ID of the container cluster".

Can you confirm that on APIs side that is the network_id that is expected ?

If it is the case @DafuSHI can you check with R&D how to correct this ?

[2019-11-22 15:08] bbenduduh opened #276 "[RDS] flexibleengine_rds_instance_v3 create Single error"
Hi there,

I have some issues when creating single db with Terraform Flexible Engine plugin, flexibleengine_rds_instance_v3 resource

### Terraform Version
Terraform v0.12.9
+ provider.flexibleengine v1.9.0

### Affected Resource(s)
flexibleengine_rds_instance_v3

### Terraform Configuration Files
resource "flexibleengine_rds_instance_v3" "rds_single_db_za" {
  availability_zone = ["eu-west-0a" ]

[2019-11-23 11:26] bbenduduh commented on #276
Solved by changing flavor
flavor = "rds.mysql.s1.large.ha"  to  flavor = "rds.mysql.s1.large"

[2019-11-23 11:26] #276 closed

[2019-11-25 11:37] niuzhenguo commented on #275
@antonin-a @DafuSHI ^

[2019-11-25 15:24] antonin-a commented on #275
@niuzhenguo @mirceabostan We plan to deliver the APIs capability on FE by the end of Decembre. @niuzhenguo we will send you the APIs doc asap in order to synchonize the APIs and Terraform provider releases

[2019-11-27 16:30] J-Le-Huludut-Orange opened #277 "[Feature request] data source for flexibleengine_lb_certificate_v2"
Hello

We have several web apps in the same project/tenant that need the same wildcard SSL certificate. Each web app is deployed with its own terraform code. It would be nice to have a data source to avoid putting the cert in each terraform deployment (easier to maintain, more secure).

Do you think it's possible ?

Thanks !

[2019-11-28 07:40] niuzhenguo commented on #277
@J-Le-Huludut-Orange Yes, we have such an API on Cloud side, I will be working on this.

[2019-11-29 15:06] duthifree commented on #176
Hello here !

Antonin-a is right, CCE cluster ressource need subnet_id...

Error: Error creating flexibleengine Cluster: Bad request with: [POST https://cce.eu-west-0.prod-cloud-ocb.orange-business.com/api/v3/projects/XXX/clusters], error message: {"error_code":"CCE_CM.0410","error_msg":"Subnet is not found in VPC","errorCode":"E.CFE.4000410","reason":"Subnet is not found in VPC"}

I have this iss

[2019-12-02 02:08] niuzhenguo commented on #176
@antonin-a @duthifree Thanks for raising this, but the CCE cluster API requires Network ID indeed! @DafuSHI Can we check with the R&D team of CCE service?

[2019-12-02 07:48] DafuSHI commented on #176
Yes. I'm discussing this issue with R&D right now. Need to solve it once and for all

[2019-12-02 08:19] duthifree commented on #176
On the API documentation, he needs both ...

We see that the arguments VPC_ID and SUBNET_ID are mandatory,

https://docs.prod-cloud-ocb.orange-business.com/api/cce/en-us_topic_0053608536.html

I think then just need to add a SUBNET_ID mandatory argument for creating a CCE cluster with Terraform

[2019-12-02 08:56] antonin-a commented on #176
Hello @duthifree, on the doc it is not really "both", it's VPC and Subnet_it but there is no mentions of network_id.
Network_id usage is quite strange as on Huawei solution (at least on the web ui) networks are "masked" and are not objects that users is suposed to be aware of (ex: you can't create a standalone network on the console, only a VPC + subnet that will automatically create a network and

[2019-12-02 09:21] duthifree commented on #176
Yes thank @antonin-a for the clarification concerning the network and vpc, I'm still a little confused with this two resources

[2019-12-03 05:52] screwyy opened #279 "[RDS] Apply parameter group to RDS instance not working"
### Terraform Version
v0.12.16
### Terraform provider
v1.9.0
### Affected Resource(s)
- flexibleengine_rds_instance_v3
- flexibleengine_rds_parametergroup_v3

### Terraform Configuration Files
[code]
[code]

### Debug Output
terraform runs smoothly, without errors, it creates the RDS instance and the parameter group (the parameters are all good with their set value) **but** the parameter group is

[2019-12-09 20:31] DafuSHI opened #280 "ELB Cipher Suite Support"
Hello,

Now Flexible Engine has supported to create listern with cipher suite chooses. It is already available in API. Can you help to implement that on Teraform?

[2019-12-10 07:27] ShiChangkuo commented on #280
@DafuSHI flexibleengine_elb_listener resource has supported 'ssl_ciphers' argument which can meet your need.
https://www.terraform.io/docs/providers/flexibleengine/r/elb_listener.html#ssl_ciphers

[2019-12-10 09:02] antonin-a commented on #280
hello @ShiChangkuo, it's ok for Elb but not for Enhanced Load Balancer (Enhanced ELB) that a majority of our users are using : https://www.terraform.io/docs/providers/flexibleengine/r/lb_listener_v2.html
Regards,

[2019-12-11 05:33] ShiChangkuo commented on #280
@antonin-a  After refreshing the [website](https://docs.prod-cloud-ocb.orange-business.com/api/elb/en-us_topic_0096561483.html), I have found the additional cipher suite feature, and we'll synchronize it on Terraform.

[2019-12-11 07:33] #277 closed

[2019-12-11 08:03] J-Le-Huludut-Orange commented on #277
@niuzhenguo  Thank you for your work !

[2019-12-13 09:54] #280 closed

[2019-12-13 17:07] antonin-a commented on #279
@niuzhenguo may we request your help here ?

[2019-12-16 01:46] niuzhenguo commented on #279
@antonin-a I will try on my environment.

[2019-12-18 14:03] antonin-a commented on #214
hello @niuzhenguo , any updates on this one since July ? It's seems to duplicate this one : https://github.com/terraform-providers/terraform-provider-flexibleengine/issues/256

[2019-12-19 02:09] niuzhenguo commented on #214
@antonin-a Sorry for the delay. @DafuSHI need your help to get admin permission for my testing account.

[2019-12-24 02:20] niuzhenguo commented on #279
@antonin-a I can reproduce this on my env as well, but the API runs without any errors as the issue said. @DafuSHI can you help to involve some rds team guys to help on this. Thanks!

[2020-01-09 09:33] sbernier-corp opened #284 "Add support for SDRS in provider"
Hi,

SDRS is a new feature introduced on flexible engine.

For our project we would like to protect some of our ECS instances using SDRS.

We are using terraform to deploy our infrastructure and we would like to manage SDRS configuration the same way.

Would be nice to have SDRS functionality on the Flexible Engine provider.

My request is feature request to have SDRS support on the provider.

Tha

[2020-01-09 09:33] vlandemaine-orange commented on #183
@antonin-a  @niuzhenguo  Still does not working on January 2020

[2020-01-09 09:39] vlandemaine-orange opened #285 "[CCEv2] New feature node-pool force node recreation"
Hi there,

We are facing an issue on CCEv2 nodes resources. Coming from the new features "node-pool" delivered in the end of the last year, this feature is not taken in account with the Terraform provider.

The following annotation is always setted :

"annotations": {
              "kubernetes.io/node-pool.id": "eu-west-0b#s3.large.2#EulerOS 2.5"
},

If we create a new node, without annotation thi

[2020-01-09 13:51] antonin-a commented on #284
Hello @niuzhenguo, SDRS is not on General Availability yet on Felxible Engine but as some customers can access the service you should potentially add this resource to the provider. It seems that it is not even possible with the Huawei provider.

@sbernier-corp project is supposed to start by the end of January so it would be nice to add it to the next Provider release. @DafuSHI can you check how t

[2020-01-10 02:01] niuzhenguo commented on #214
@antonin-a @DafuSHI I still got denied when accessing IAM API with admin permission account :(

[2020-01-10 02:26] niuzhenguo commented on #284
Seems it's Beta Test now, will try the API and see if we can add it.

[2020-01-10 06:41] niuzhenguo commented on #285
we can get rid of this pool id from annotations to avoid such issue.

[2020-01-10 06:41] niuzhenguo commented on #285
@ShiChangkuo Can you help with this ^?

[2020-01-10 07:00] ShiChangkuo commented on #285
sure! I'd be happy to do it.

[2020-01-10 07:38] antonin-a commented on #214
@DafuSHI can you help here please?

[2020-01-10 08:19] sbernier-corp commented on #284
Hi,

SDRS is in CA, not beta from what I was told.

Stéphane

De : Zhenguo Niu [mailto:notifications@github.com]
Envoyé : vendredi 10 janvier 2020 03:26
À : terraform-providers/terraform-provider-flexibleengine
Cc : BERNIER Stephane OBS/OCB; Mention
Objet : Re: [terraform-providers/terraform-provider-flexibleengine] Add support for SDRS in provider (#284)

Seems it's Beta Test now, will try the AP

[2020-01-10 13:15] #285 closed

[2020-01-15 09:20] #284 closed

[2020-01-15 10:19] screwyy commented on #279
thanks for the tests, do you have any updates on this ?

[2020-01-15 10:19] screwyy commented on #275
@antonin-a Do you have any news on this ?

[2020-01-15 19:51] DafuSHI commented on #279
Hello this is Dafu from Huawei side. From the behavior it is supposed to be caused by RDS API directly. I'm contacting RDS R&D hope to give you a feedback before the end of this week @screwyy

[2020-01-22 09:28] antonin-a commented on #70
Hello @niuzhenguo and @J-Le-Huludut-Orange sorry for the (very) late reply: can we at least fix the provider doc (https://github.com/terraform-providers/terraform-provider-flexibleengine/blob/master/website/docs/r/nat_gateway_v2.html.markdown)?

Here is my suggestion: #291

[2020-01-22 11:32] antonin-a commented on #118
Helllo @niuzhenguo , can we close this one ?

[2020-01-22 11:46] antonin-a commented on #176
Hello @DafuSHI any news on your side ?

[2020-01-22 13:03] J-Le-Huludut-Orange commented on #70
Hi Antonin
No pb for the delay, this was not blocking. Yes, with your additions the doc is much better, I close this issue.

Thanks !

[2020-01-22 13:03] #70 closed

[2020-01-22 19:02] DafuSHI opened #295 "Token Provider doc is wrong"
provider "flexibleengine" {
  token       = "${var.token}"
  domain_name = "${var.domain_name}"
  tenant_name = "${var.tenant_name}"
  auth_url    = "https://iam.eu-west-0.prod-cloud-ocb.orange-business.com/v3"
}

won't work

it will show:

Error: Error creating FlexibleEngine vpc client: No suitable endpoint could be found in the service catalog

Need to be:
provider "flexibleengine" {
  token

[2020-01-23 10:23] vladimirBraquet opened #296 "[OSS] Enable cross region replication in Terraform provider"
Cross-region replication in OSS in a great feature to ensure our backups (for instance) would survive a regions disaster.
It is currently possible to activate it thru the portal, but not thru Terraform

[2020-01-23 10:43] antonin-a commented on #296
Hello @niuzhenguo, it would be really nice to have the capability to use OBS bucket cross region replication . I can't find it on the Huawei provider neither (https://www.terraform.io/docs/providers/huaweicloud/r/s3_bucket.html) did you know if it is something planned ? The API doc can be found here : https://docs.prod-cloud-ocb.orange-business.com/api/obs/en-us_topic_0175597490.html

[2020-01-24 14:08] osaluden opened #297 "[CCE] Advanced Node Configuration"
Hi there,

We would like the provider to be able to set advanced CCE Node configuration like preInstall and postInstall script at least but also all the settings available in "Advanced ECS Settings" and "Advanced Kubernetes Settings" in the Felxible Engine Console.

Thanks in advanced fort your help

Olivier

[2020-02-03 02:31] #118 closed

[2020-02-03 02:31] niuzhenguo commented on #118
@antonin-a yes, closing it.

[2020-02-03 03:17] #295 closed

[2020-02-03 06:28] niuzhenguo commented on #296
@antonin-a In fact, we reuse AWS S3 resource for our OBS now, need to add new obs_bucket resource for this, will try to test our own API.

[2020-02-03 06:36] niuzhenguo commented on #297
@osaluden I can't find the relevant arguments on CCE API docs :(

[2020-02-04 10:13] screwyy commented on #279
Hello, do you have any news ? Thanks!

[2020-02-06 14:37] wdesplas commented on #297
@niuzhenguo
Please refer to :
* https://docs.prod-cloud-ocb.orange-business.com/cce/doc/download/pdf/cce-usermanual2.pdf
* Page 38

[2020-02-06 14:41] antonin-a commented on #297
@niuzhenguo the url you just linked is the "User Guide" (console usage). What we need here is the API dcoumentation (https://docs.prod-cloud-ocb.orange-business.com/en-us/api/cce/en-us_topic_0053608539.html) but unfortunately there no information related to "pre/post instalation scripts". @DafuSHI can you help us here ? Can you confirm that APIS are exposed ? Is there a new version of the API doc

[2020-02-06 14:48] wdesplas commented on #297
@antonin-a , @niuzhenguo

My bad, I have post a bad document:
* Table 4-55 Data structure of the extendParam field
** https://docs.prod-cloud-ocb.orange-business.com/cce/doc/download/pdf/cce-api2.pdf
** page 62 : **alpha.cce/preInstall**
** page 62 : **alpha.cce/postInstall**

Br,
Willy

[2020-02-06 20:01] antonin-a commented on #257
@DafuSHI can you please update us ?

[2020-02-07 08:27] antonin-a opened #299 ""Provider produced inconsistent result after apply""
Hello,

I'm facing an issue with my Gtihub Actions Workflow that trigger a CCE cluster and nodes deployment (https://github.com/antonin-a/terraform-cce-actions/blob/master/.github/workflows/CCE_CI.yml), some of my runs are running without any issues but sometime it crash with a "Error: Provider produced inconsistent result after apply".

### Terraform Version
 0.12.20

### Affected Resource(s)
CCE

[2020-02-07 09:29] antonin-a commented on #279
@DafuSHI can you give us a feedback ?

[2020-02-07 09:42] antonin-a commented on #273
#301 https://github.com/terraform-providers/terraform-provider-flexibleengine/pull/301

[2020-02-07 09:42] #273 closed

[2020-02-10 08:11] niuzhenguo commented on #299
@antonin-a Can you add TF_LOG=DEBUG and OS_DEBUG=true with the apply action to get more information about the issue?

[2020-02-12 10:14] T0m-4s opened #303 "Missing "Scenario" param for flexibleengine_nat_dnat_rule_v2"
I can't assign the "Scenario" parameter available in the API (https://docs.prod-cloud-ocb.orange-business.com/usermanual/nat/en-us_topic_0127489530.htm).
Could you add this new parameter to flexibleengine_nat_dnat_rule_v2?

### Terraform Version
Terraform v0.12.20
+ provider.flexibleengine v1.11.0

### Affected Resource(s)
flexibleengine_nat_dnat_rule_v2

Thanks

[2020-02-13 09:04] niuzhenguo commented on #303
@T0m-4s not sure what do you mean the parameter on API docs https://docs.prod-cloud-ocb.orange-business.com/usermanual/nat/en-us_topic_0127489530.htm

[2020-02-13 09:14] T0m-4s commented on #303
The Scenario Parameter is missing in flexibleengine_nat_dnat_rule_v2 and i need it because by default it is set to "Direct Connect" and i need "VPC"

Parameter | Description
-- | --
Scenario | VPC:  indicates the VPC scenario where all servers in the subnet share one  EIP to provide services for the public networks through the DNAT rule. Direct Connect:  indicates Direct Connect scenario where loc

[2020-02-17 06:26] #297 closed

[2020-02-18 06:37] ShiChangkuo commented on #303
@T0m-4s I think the VPC scenario and the Direct Connect scenario have no difference for flexibleengine_nat_dnat_rule_v2 except on `Private IP Address`.
According to [terraform](https://www.terraform.io/docs/providers/flexibleengine/r/nat_dnat_rule_v2.html), we can use `port_id` param for the VPC scenario while using `private_ip` param for the Direct Connect scenario.

[2020-02-18 07:26] lperrin-obs opened #307 "Feature Request: Data source for AZ"
To retrieve the availability zones, we have to use the `openstack_compute_availability_zones_v2` and `openstack_blockstorage_availability_zones_v3` Data sources.

It could be great to have the same data sources for the Flexible Engine provider.

[2020-02-18 08:11] niuzhenguo commented on #307
@lperrin-obs Thanks for raising this, will be included in the next release.

[2020-02-19 11:47] Karreg opened #308 "[EIP] Documentation is wrong about maximum bandwidth"
Documentation says maximum size is 300 Mbps where it's actually 1000 Mbps : https://www.terraform.io/docs/providers/flexibleengine/r/vpc_eip_v1.html#size

[2020-02-20 03:45] #308 closed

[2020-02-21 03:09] ShiChangkuo opened #312 "Crashed raised when running test case of flexibleengine_networking_network_v2 data source"
### Affected Resource(s)
Please list the resources as a list, for example:
- data.flexibleengine_networking_network_v2

### Panic Output
[code]

### Steps to Reproduce
Please list the steps required to reproduce the issue, for example:
1. `make testacc TEST=./flexibleengine TESTARGS='-run TestAccFlexibleEngineNetworkingNetworkV2DataSource_basic'`

[2020-02-25 16:46] osaluden opened #314 "[CCE] - Add-On management"
Hello

Could it be possible to manage CCE Add-On ?
It seems to be possible since the Flexible Engine API exposes this feature : https://docs.prod-cloud-ocb.orange-business.com/en-us/api2/cce/cce_02_0320.html

Thanks a lot for your help

B.R.
Olivier

[2020-02-26 13:26] antonin-a commented on #299
Hello @niuzhenguo, thank you for your help. I've set TF_LOG and OS_DEBUG and I'll post the logs here next time the issue occurs (it happens almost twice a week with 2 deployment/day as your can see here: https://github.com/antonin-a/terraform-cce-actions/actions) .

[2020-02-27 01:54] #312 closed

[2020-02-27 08:00] screwyy commented on #279
hello, any updates on this? It's still happening on terrafrom 0.12.20 with provider 1.11.0

[2020-02-27 08:45] antonin-a commented on #299
Hello @niuzhenguo ,
[code]

[2020-02-28 01:51] niuzhenguo commented on #303
@T0m-4s Does the solution above work?

[2020-02-28 02:12] niuzhenguo commented on #299
@antonin-a I looked through the full log on your github action. The issue is because we got a 404 error when waiting for CCE cluster status become available. Possible reasons are:
* The cluster is deleted on the Console or in other way during creating.
* Some issues with the CCE server side.

[2020-02-28 09:37] antonin-a commented on #299
Hello @niuzhenguo, I do confirm that I've not performed any action using console during creation. Do you think that I should open a ticket on platform side to check if it is related to CCE servers side ?

[2020-02-29 01:46] niuzhenguo commented on #299
@antonin-a Yes, and you can provide the 404 error with the cluster ID to help them debug on the server side.

[2020-03-03 16:03] Karreg opened #315 "[ELB] resource creation not failing when quota of listeners is reached"
### Terraform Version
0.12.21

### Affected Resource(s)
- elb

### Debug Output
[code]

![image](https://user-images.githubusercontent.com/9166144/75794251-cf11ec00-5d70-11ea-8bb5-cea8c8f328a7.png)

### Expected Behavior
Terraform Creation should fail with an explicit error message

### Actual Behavior
It's running forever...

### Steps to Reproduce
1. reach listener quota
2. try to create listene

[2020-03-03 16:58] T0m-4s commented on #303
no... but it's close.
I don't understand why my action is forbidden.
could you help ?

Error: Error creating Dnat: Action Forbidden

  on main.tf line 124, in resource "flexibleengine_nat_dnat_rule_v2" "dnat":
 124: resource "flexibleengine_nat_dnat_rule_v2" "dnat" {

----

resource "flexibleengine_nat_dnat_rule_v2" "dnat" {
  floating_ip_id = flexibleengine_vpc_eip_v1.eip_dnat.id
  nat_gateway_id

[2020-03-04 03:10] niuzhenguo commented on #303
@T0m-4s Can you provide the detailed log by setting OS_DEBUG=1 TF_LOG=DEBUG with the terraform command. And `Action Forbidden` is usually because something wrong on server side @antonin-a @DafuSHI Can you help with this?

[2020-03-04 03:54] niuzhenguo commented on #315
@Karreg Can you provide the detailed log with OS_DEBUG=1 TF_LOG=DEBUG? Not sure if the API on cloud side returned quota exceeded error.

[2020-03-04 06:34] #307 closed

[2020-03-04 08:14] T0m-4s commented on #303
Hello

here is the part of log concerning the dnat rule.

Thank you,
Regards,

---

modu2020/03/04 09:03:05 [DEBUG] module.bastion.flexibleengine_nat_dnat_rule_v2.dnat: applying the planned Create change
le.bas2020-03-04T09:03:05.371+0100 [DEBUG] plugin.terraform-provider-flexibleengine_v1.11.0_x4.exe: 2020/03/04 09:03:05 [DEBUG] FlexibleEngine Region is: na-east-0
tion2020-03-04T09:03:05.371+0100

[2020-03-04 10:07] nsabernierdev1 opened #317 "SDRS issue when more than one protected instance or protection group"
Hi there,

### Terraform Version
12.18

### Affected Resource(s)
- sdrs_protectiongroup
- sdrs_protectedinstance

### Steps to Reproduce
Crate a terraform project with two protection group or/and two protection instances
1. `terraform apply`
2. `terraform plan`
It always says it wants to recreate the second group or second instance

[2020-03-04 12:57] Karreg commented on #315
After letting terraform running for a while while I was grabing a coffee, I eventually had an error:

[code]

[2020-03-05 06:17] niuzhenguo commented on #303
@T0m-4s It's very clear that the action is rejected by the API, we can't do any help on Terraform side. @antonin-a @DafuSHI need your help here.

[2020-03-05 06:21] niuzhenguo commented on #317
@nsabernierdev1 Can you provide more information? like which field causes the recreation.

[2020-03-05 09:25] sbernier-corp commented on #317
Yes, here is the ouput:
Terraform will perform the following actions:
  # flexibleengine_sdrs_protectedinstance_v1.instance_redis must be replaced
-/+ resource "flexibleengine_sdrs_protectedinstance_v1" "instance_redis" {
      + description   = "server redis" # forces replacement
      + group_id      = "1b7bb5e2-3420-4e87-a782-72e639d0d9eb" # forces replacement
      ~ id            = "564206c7-

[2020-03-09 09:12] DafuSHI commented on #279
If you use a custom parameter template when creating a DB instance, the specification-related parameters in the custom template are not delivered. Instead, the default values are used.

back_log
innodb_io_capacity_max
max_connections
innodb_io_capacity
innodb_buffer_pool_size
innodb_buffer_pool_instances

Please check this page:

https://docs.prod-cloud-ocb.orange-business.com/en-us/usermanual/rds

[2020-03-09 09:18] DafuSHI commented on #279
So in the design of the template, it should be 1) create parameter group -> 2) create rds instance -> 3)  wait for rds instance to be ready -> 4) apply the paramter group created in step 1) to be applied on rds instance

[2020-03-09 13:36] sbernier-corp commented on #317
Hi,
After looking into the terraform logs, I noticed that the issue is at the API level and not at the provider level.

The issue is coming from the fact that the second parrallel get command response is empty.

I will open a case at Flexible engine support.

As a temporary workaround I have added a depends_on beween SDRS resources.

Thanks,

[2020-03-09 19:28] screwyy commented on #279
Thanks for the link, I must have missed that. This happens only for those parameters?
    back_log
    innodb_io_capacity_max
    max_connections
    innodb_io_capacity
    innodb_buffer_pool_size
    innodb_buffer_pool_instances
Also thanks for the scenario but how can I make that work with terraform? If you look at the piece of code I put at the beginning: 1) terraform first creates the paramete

[2020-03-10 01:29] niuzhenguo commented on #317
@antonin-a @DafuSHI ^

[2020-03-15 21:14] DafuSHI commented on #317
I'm asking R&D SDRS taking a look, will give a feedback soon

[2020-03-20 12:43] sbernier-corp commented on #317
Any feedback ?

[2020-03-23 15:23] mgodlewski opened #319 "Feature request : Create RDS read replicas"
### Affected Resource(s)
- flexibleengine_rds_instance_v1
- flexibleengine_rds_instance_v3

### Expected Behavior
Create a read replica of an existing RDS

### Important Factoids
Currently, flexibleengine_rds_instance_v1 export the attribute "type" having "master" or "readreplica" value

Nonetheless, I can't find argument to create a read replica.

The [API doc](https://docs.prod-cloud-ocb.orange-

[2020-03-26 17:08] antonin-a commented on #275
Hello @screwyy @niuzhenguo , sorry for this long delay but the we faced a lot of twists and turns with this change. The change is now done on platform side, @niuzhenguo can you update the provider in order to manage hybrid clusters ?

[2020-03-28 11:48] ShiChangkuo commented on #319
@mgodlewski thanks for raising, I will expose the parameter asap.

[2020-03-31 14:02] antonin-a commented on #158
Sorry for this long time without activity on this one... We are still waiting the APIs capability delivery, @DafuSHI can you give use an update?
Actual workaround is to use DNSaaS + private record based on RDS creation output (private IP), those steps can be done using Terraform (https://www.terraform.io/docs/providers/flexibleengine/r/dns_recordset_v2.html).

[2020-03-31 14:11] antonin-a commented on #176
@niuzhenguo can you please assign @DafuSHI on this one ?

[2020-03-31 14:16] antonin-a commented on #207
Hello @niuzhenguo @SebBlin , can we close this one ?

[2020-03-31 14:33] antonin-a commented on #252
Hello @niuzhenguo do you have an update on this one ?

[2020-03-31 14:41] antonin-a commented on #214
@niuzhenguo I've send you an invitation to join our Dev&Test domain. Feel free to reach me if you face any issue. The idea is to have at least the IAM ressources available on Huawei cloud provider.

[2020-03-31 14:42] antonin-a commented on #255
@niuzhenguo @frederic-boissiere can we close this one ? Are you still facing this issue ?

[2020-03-31 14:42] antonin-a commented on #256
closing this one as it duplicate #214

[2020-03-31 14:42] antonin-a commented on #256
closing this one as it duplicate #214

[2020-03-31 14:42] #256 closed

[2020-03-31 15:12] frederic-boissiere commented on #255
hello @antonin-a, you can close it. I no longer use flexibleengine_elb_loadbalancer

[2020-04-01 01:55] niuzhenguo commented on #176
@antonin-a sure

[2020-04-01 02:02] niuzhenguo commented on #207
@antonin-a @SebBlin Closing this, please feel free to reopen it if necessary.

[2020-04-01 02:03] #207 closed

[2020-04-01 02:09] niuzhenguo commented on #252
@antonin-a We just added obs_bucket resource with #318 , will add this support there. @ShiChangkuo please have a look at this, thanks!

[2020-04-01 08:32] antonin-a commented on #314
Hello @niuzhenguo , can we integrate this capacity to manage Add-On on the provider ?

[2020-04-02 09:48] niuzhenguo commented on #314
@antonin-a sure, will be working on this.

[2020-04-09 09:26] mirceabostan opened #321 "[MRS] Feature request: Have an automated way of changing the MRS console password"
Hi there,

### Terraform Version
0.12.20

### Affected Resource(s)

- flexibleengine_mrs_cluster_v1

### Important Factoids

Have an automated way of changing the MRS console password.

Today we have a manual way of changing the password described in the documentation (https://docs.prod-cloud-ocb.orange-business.com/usermanual/mrs/mrs_01_0353.html )

[2020-04-09 09:28] mirceabostan opened #322 "[MRS] Feature request: Terraform does not expose all the MRS node (via API) for Zookeeper, Kafka."
Hi there,

### Terraform Version
0.12.20

### Affected Resource(s)
flexibleengine_mrs_cluster_v1

### Important Factoids
Terraform does not expose all the MRS node (via API) for Zookeeper, Kafka. The issue here is the fact that we can't automatically identify which nodes are running zookeeper or kafka.
This info is needed in order to run kafka jobs.

[2020-04-09 09:37] mirceabostan opened #323 "MRS] Feature request: Terraform to provide Huawei Cloud MRS API v2 sparkSubmit method"
Hi there,

### Terraform Version
0.12.20

### Affected Resource(s)

flexibleengine_mrs_cluster_v1

### Important Factoids
Do you have an estimate on when you could provide the sparkSubmit method from Huawei Cloud MRS API v2 through terraform?

### References
https://support.huaweicloud.com/en-us/api-mrs/mrs_02_0040.html

[2020-04-09 09:46] mirceabostan opened #324 "[MRS] : TAINTED state of the MRS cluster after successfully deployed"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
0.12.20

### Affected Resource(s)
flexibleengine_mrs_cluster_v1

### Expected Behavior
What should have happened?
If a cluster is deployed succes

[2020-04-16 07:25] #319 closed

[2020-04-17 03:05] ShiChangkuo commented on #324
@mirceabostan You should provide following information about this issue:
### Terraform Configuration Files
### Debug Output

[2020-04-18 03:14] #255 closed

[2020-04-21 08:37] screwyy commented on #324
hello,
This is the config:

[code]
and the debug output:
[code]

[2020-04-21 12:24] ShiChangkuo commented on #324
There was an error during the creation of MRS cluster, terraform will error and mark the resource as "tainted".
Could you provide the debug log during the creation, or reproduce it again? thanks

[2020-04-22 09:52] screwyy commented on #324
sorry for the late reply. In order to make a clean test I wanted to recreate the cluster and for some reason I can't even deploy it:
[code]
because I receive  an error:
[code]
I'll get back to you with the issue that we have after we figure out this one

[2020-04-22 11:23] ShiChangkuo commented on #324
@screwyy I also encountered the same error message in my environment, maybe cause of the issue comes from API side.

@antonin-a @DafuSHI Please take a look at this issue, we cann't provision a mrs cluster because the API responses "Internal Server Error".

[2020-04-22 11:31] screwyy commented on #324
when running in debug mode one of my colleagues saw this:

```This service type will be deprecated after 2019Q3.```
from here:
[code]

[2020-04-22 12:05] antonin-a commented on #324
Hello @screwyy and @ShiChangkuo,
We are currently checking with @DafuSHI, we need to reproduce this behavior on platform APIs side first if we want to open a support ticket. We will keep you informed !

[2020-04-22 12:50] DafuSHI commented on #324
Hello,

Can you try add parameter

log_collection = 1

And retry?

[2020-04-22 12:51] bartisan commented on #324
Hello,

Don't know if this helps, but it would seem the API is fine.  I've done these two tests in order to create two different MRS analysis clusters via the MRS API:

First test w/ master/core volume specs - unsupported by Terraform AFAIK
-----

[code]

Where the `cluster_create.json` file looked like this:
[code]

Second test w/ volume_type/volume_size - supported by Terraform
-----

[code]

Wh

[2020-04-22 12:56] screwyy commented on #324
same error :(
[code]

[2020-04-23 09:41] ShiChangkuo commented on #324
@bartisan thanks for your help.
After comparing the creating parameters of API and Terraform provider, I found that the `cluster_type` is missing in Terraform provider.

In [the API docs](https://docs.prod-cloud-ocb.orange-business.com/api/mrs/mrs_02_0028.html) , `cluster_type` is optional and the default value is 0. so I think we can ignore this parameter  when it was 0.

Anyway, I'll add the par

[2020-04-23 09:47] antonin-a commented on #324
Hello @ShiChangkuo what do you mean by missing ? I can find it here : (https://www.terraform.io/docs/providers/flexibleengine/r/mrs_cluster_v1.html#cluster_type) and I think that it is already use for another issue related to type 2 (hybrid) clusters : #275
We should also fix the doc regarding cluster_type authorized values to match the online help.

[2020-04-23 09:47] bartisan commented on #324
Ha!  I see what you're saying.  Tested it on my side again w/o the `cluster_type` parameter and I got this:

[code]

I'll actually update my previous remark on the API being fine 😅  Unfortunately, it's not the first time for us either when the docs are a bit... off.

[2020-04-23 09:49] ShiChangkuo commented on #323
we can not find those APIs in
https://docs.prod-cloud-ocb.orange-business.com/api/mrs/mrs_02_0039.html

[2020-04-23 09:53] mirceabostan commented on #323
As is written in the title it is a feature request.
The Huawei public cloud offers the sparkSubmit method in their offer https://support.huaweicloud.com/en-us/api-mrs/mrs_02_0040.html .
When do you think FE can offers that in their APIs?

[2020-04-23 09:56] antonin-a commented on #323
I will handle this one with @DafuSHI as it is a feature request on platform side. Once it is done @ShiChangkuo will be able to update the provider.
@mirceabostan we come back to you soon !

[2020-04-26 08:42] #324 closed

[2020-04-28 06:46] screwyy commented on #324
@niuzhenguo actually the issue was regarding the tainting of a resource even thou it seemed to be created correctly but because of the actual creation issue I never got to test it :)
When do you think the release with the parameter cluster_type fix will be available ?

[2020-04-28 09:52] niuzhenguo commented on #324
@screwyy will cut a release by the end of this month.

[2020-04-30 09:13] niuzhenguo commented on #324
@screwyy released!

[2020-04-30 10:57] screwyy commented on #324
We no longer experience the tainting issue. Thanks for your help.

[2020-05-04 12:45] DafuSHI commented on #322
Hello,

Thank you for the description of feature request.

So what we are missing here is to have a way in the output from creation of MRS cluster which components are running in which node. Do I understand it correctly?

Thank you

[2020-05-04 12:49] DafuSHI commented on #322
And if it is the case, could I know why we need to know this information? Can you explain more about the use case?

Thank you

[2020-05-04 13:54] screwyy commented on #322
I think @mirceabostan is asking if terraform can output in the tfstate the nodes on which zookeeper is running for example when using this command:
[code]
If you need to interact with spark history from the outside to submit a job to MRS you would need the zookeeper endpoint. I hope I got it right.

[2020-05-11 13:24] DafuSHI opened #328 "DDS Resource Issue"
DDS can be created successfully while leaving an error:

Error: Error waiting for instance (xxxxxxx) to become ready: json: cannot unmarshal number into Go struct field InstanceResponse.ssl of type string

  on main.tf line 1, in resource "flexibleengine_dds_instance_v3" "instance_mongo":
   1: resource "flexibleengine_dds_instance_v3" "instance_mongo" {

I checked in the console the dds instance

[2020-05-12 06:56] niuzhenguo commented on #328
@DafuSHI That's because the API changed on server side without changing API version.

[2020-05-13 12:22] mirceabostan opened #329 "[IAM] Feature request : Terraform FE provider to support IAM user groups and custom policies creation"
Hi there,

### Terraform Version
0.12.20

### Affected Resource(s)
IAM resources

### Important Factoids
Terraform FE provider to support IAM user groups and custom policies creation

[2020-05-14 06:31] #328 closed

[2020-05-25 12:09] shoudusse opened #332 "[SFS] Feature request: Many access rules for one share"
Hello there,

Right now, we can't give access to an SFS from multiple VPC.
Only one access rule can be grant through the 3 parameters `access_to`, `access_type` and `access_level`

Would be nice for an SFS to be accessible from many VPC. (this feature is possible from the GUI)

Thanks for your help

[2020-05-26 09:14] screwyy opened #333 "Recreate RDS instances 90% of the time"
### Terraform Version
Terraform v0.12.20
+ provider.flexibleengine v1.12.0
+ provider.mysql v1.9.0

### Affected Resource(s)
Please list the resources as a list, for example:
- flexibleengine_rds_instance_v3

### Terraform Configuration Files
[code]

### Debug Output
In the [Gist](https://gist.github.com/screwyy/ea6dde6e8639ab19605149bd67f42ab4) you will find four files from two runs of  `terrafor

[2020-05-26 14:05] antonin-a opened #334 "New Ressource - VPN Endpoint"
Hi there,

As VPC Endpoint is now available on Beta mode, can we add the resource to the next provider release ?

The online documentation is available here : https://docs.prod-cloud-ocb.orange-business.com/vpcep/index.html

Regards,

Antonin

[2020-05-26 15:06] DafuSHI commented on #332
@niuzhenguo I check from API document it has related APIs. Can we improve this part?

[2020-05-27 02:23] niuzhenguo commented on #334
@antonin-a Will try, but can't assure you that it could be in the next month release due to there are already many requests now.

[2020-05-27 02:26] niuzhenguo commented on #332
@DafuSHI Sure.

[2020-05-27 07:32] antonin-a commented on #334
Hello @niuzhenguo sure, no problem. I just saw that the resource does not exist on Huawei provider so it's probably more work than expected. There is no project urgency for now regarding this one.
Thanks a lot for your help !

[2020-05-27 07:39] antonin-a commented on #329
@niuzhenguo this one is already integrated on Huawei provider and we have few project requirement, Do you think that we can add it quickly ?

[2020-05-27 07:57] niuzhenguo commented on #329
@antonin-a https://github.com/terraform-providers/terraform-provider-flexibleengine/issues/214#issuecomment-572839420

[2020-05-27 07:58] antonin-a commented on #329
@niuzhenguo https://github.com/terraform-providers/terraform-provider-flexibleengine/issues/214#issuecomment-606670215

[2020-05-27 08:07] niuzhenguo commented on #329
@antonin-a IAM user groups is already  integrated on Huawei provider https://www.terraform.io/docs/providers/huaweicloud/r/identity_group_v3.html
Regarding custom policies creation seems not, and I'm not sure if we have such API exposed.

[2020-05-29 01:29] ShiChangkuo commented on #314
Hi, all
    The Add-on Management APIs were deleted from the official website, please see [Change History](https://docs.prod-cloud-ocb.orange-business.com/api2/cce/cce_02_0273.html)

@antonin-a can you have a look at the reason and what's the next plan, thanks.

[2020-05-29 01:41] ShiChangkuo commented on #252
sorry for the delay, we can encryption an obs object with default master key after v1.12.0, please see [here](https://www.terraform.io/docs/providers/flexibleengine/r/obs_bucket_object.html#server-side-encryption-with-obs-default-master-key).

[2020-05-29 03:14] ShiChangkuo commented on #333
@screwyy from the test_output_bad.txt, I found that the ID of resource `flexibleengine_rds_parametergroup_v3.spark_clients_rds_mysql_parameters` is nil when refreshing, so the provider will create a new resource, then the `flexibleengine_rds_instance_v3.spark_clients_rds_mysql` must be force replaced.

According to [the source code](https://github.com/terraform-providers/terraform-provider-flexibl

[2020-05-29 03:19] ShiChangkuo commented on #333
as there are many resources, you can refresh and show the specified resource by the following commands:
- `terraform refresh -target=xxx`
- `terraform state show xxx`

[2020-05-29 04:39] screwyy commented on #333
@ShiChangkuo
These parameter groups have been created with terraform and as you can see they exist (and `terraform plan` want's to recreate each of them at almost every run):

![parameter_group](https://user-images.githubusercontent.com/29939187/83220971-2ca1b300-a17d-11ea-97bc-2f803a11a2a6.PNG)
Here you can see that the parameter group was applied successfully in December 2019, proof that it exis

[2020-05-29 07:29] ShiChangkuo commented on #333
@screwyy If the rds parametergroup was exist since December 2019 , it seems like something wrong with the API side.
You can log the API request body with setting `OS_DEBUG=1` in your env, then run `terraform refresh -target=flexibleengine_rds_parametergroup_v3.spark_clients_rds_mysql_parameters`, thanks

[2020-05-29 07:57] screwyy commented on #333
here is the [gist](https://gist.github.com/screwyy/fa4a48b60e7d4a6f209c939bf6c88f2f)

[2020-05-29 10:11] ShiChangkuo commented on #333
sorry, I can't find any exception from the log, but I'm sure that the ID of `flexibleengine_rds_parametergroup_v3.spark_clients_rds_mysql_parameters` was set to empty during `terraform plan`.
Maybe the issue can not be stable to reproduce.

Do you mind to use a private version adding some logs? If you don't mind this, I'll provide a version with more logs.

[2020-06-02 06:47] screwyy commented on #333
hello,
here is the [gist](https://gist.github.com/screwyy/e8fce3ec61e545317eff330f61c42596) the `good` is when terraform says `No changes. Infrastructure is up-to-date.` for RDS instance: `customer_alarms_rds_mysql`  and the parameter group associated to this instance `customer_alarms_rds_mysql_parameters`

And the `bad` is when I ran terraform plan with only 4 RDS instances + their parameters and

[2020-06-02 21:13] DafuSHI opened #336 "New Resource: CSS"
Project UP will need this resource urgently. Please evaluate the workload for developing this resource

[2020-06-05 07:30] niuzhenguo commented on #321
@mirceabostan Sorry for the long delay, we need to hava such API support first.

[2020-06-05 14:55] DafuSHI commented on #322
Planned in roadmap RR2020050807884, will wait for the feedback from R&D

[2020-06-05 14:57] DafuSHI commented on #323
It is tracked now from our side RR2020043004724, feature is ready need to prepare MRS update

[2020-06-08 10:06] mgodlewski opened #337 "Can't create COLD/GLACIER OBS bucket"
### Terraform Version
Terraform v0.12.13

### Affected Resource(s)
- flexibleengine_obs_bucket

## First try (following the documentation)

### Terraform Configuration Files
[code]

### Expected Behavior
Create a OBS bucket

### Actual Behavior
[code]

### Steps to Reproduce
`terraform apply`

## Second try (following the previous error message)

### Terraform Configuration Files
[code]

### Expec

[2020-06-09 08:08] ShiChangkuo commented on #337
@mgodlewski the first error was raised by API/sdk side while the second error was raised by provider.
I will cancel the validation of `storage_class` in provider, so you can use "GLACIER" to create a bucket.

[2020-06-09 11:38] #337 closed

[2020-06-11 08:34] DafuSHI opened #339 "Resources Update: ECS resources should be able to add/modify tags"
As requested by user, ECS resources should be able to add/modify tags. For now this function is not possible

[2020-06-15 14:19] DafuSHI opened #340 "Need to Improve DCS Resources to hide useless id Info"
Hello,

The current DCS resources has some not user friendly input like product id, region id etc. It has no sens e for user. Can we create a new version of DCS to hide those info from user?

[2020-06-15 14:28] DafuSHI commented on #340
https://docs.prod-cloud-ocb.orange-business.com/en-us/dcs/doc/download/pdf/dcs-api.pdf Page 18, project id、available_zones

[2020-06-16 06:20] screwyy commented on #333
@ShiChangkuo do you have any updates on this ? Did you have time to check the gist ?

[2020-06-16 12:27] niuzhenguo commented on #339
@ShiChangkuo can you please help with this when you are free, thanks!

[2020-06-16 18:58] DafuSHI commented on #214
I think we can satisfy most of the resources in IAM except for users. https://docs.prod-cloud-ocb.orange-business.com/iam/doc/download/pdf/iam-api.pdf

[2020-06-17 06:43] ShiChangkuo commented on #339
Ok, with pleasure

[2020-06-18 09:05] vlandemaine-orange opened #342 "RDS user_name creation"
Hello,

We currently facing an issue about an RDS creation with the user_name parameter in the DB Block. When you specify a user_name in the db block, we have this issue :

Created like this:

### Terraform Version
Terraform 0.12.16

### Affected Resource(s)
- flexibleengine_rds_instance_v3

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please men

[2020-06-20 01:35] ShiChangkuo commented on #342
@vlandemaine-orange
the `user_name` is an attribute which computed by the provider, so we can not set it.
sorry for the misleading website document, will fix it soon.

[2020-06-20 08:08] #342 closed

[2020-06-24 07:21] #339 closed

[2020-07-01 07:35] DafuSHI commented on #275
I checked again the doc, today the cluster_type can be only 0 or 1: https://www.terraform.io/docs/providers/flexibleengine/r/mrs_cluster_v1.html

While API is already capable of creating hybride cluster: 2

@niuzhenguo can we put this update in the version of 715?

[2020-07-01 07:47] DafuSHI commented on #329
This is not anymore an API issue, please deliver in 715 version

[2020-07-07 08:08] vlandemaine-orange opened #357 "New resource : SFS Turbo"
Hello,

Recently, a new feature was introduced to Flexible Engine : SFS Turbo. This feature is very useful for us, because now it's possible to deploy SFS on AZ-a, b and c.

Do you have any information about the roadmap of this resource on Terraform ? We have a customer project associated, and this feature is required for the deployment.

Regards.

Valentin LANDEMAINE - OCB - Professionals Service

[2020-07-07 08:09] ShiChangkuo commented on #275
@antonin-a @DafuSHI , we encounter an issue when creating a hybrid cluster and may need your help.
Here is the error message:

[code]

After checking with the [API doc](https://docs.prod-cloud-ocb.orange-business.com/api/mrs/mrs_02_0028.html), I think the `core_node_num` parameter takes no effect on hybrid cluster (cluster_type=2) which requires both analysis core node and streaming core node.

[2020-07-09 01:53] niuzhenguo commented on #329
@DafuSHI  Custom Policies  will not included in 715 release.

[2020-07-10 12:45] antonin-a commented on #336
Hello, CSS APIs are now available. We are currently waiting the API documentation, please get ready :)

[2020-07-10 12:46] antonin-a commented on #314
@ShiChangkuo strange... Currently checking with @DafuSHI

[2020-07-10 12:59] antonin-a commented on #252
@ShiChangkuo @Gwenael22 can you confirm that we can close this one ?

[2020-07-11 01:22] niuzhenguo commented on #336
@ShiChangkuo is working on this.

[2020-07-15 07:18] ShiChangkuo commented on #336
Hi, guys.
The following pull requests: #345, #361, #362, #364 will implement the CSS cluster resource.

[2020-07-15 11:35] #275 closed

[2020-07-15 11:36] #336 closed

[2020-07-27 09:58] MirceaAndreiAlbu opened #370 "[IAM] Feature request: Terraform provider for Agency creation"
Hi there,

### Terraform Version
- Terraform v0.12.28
- provider.flexibleengine v1.12.0
- provider.mysql v1.9.0

### Affected Resource(s)
IAM resources

### Important Factoids
Terraform FE provider to support agency creation.
The [API](https://docs.prod-cloud-ocb.orange-business.com/api/iam/en-us_topic_0079467617.html) already exists and it seems it is already implemented for [huawei cloud](https:

[2020-07-28 14:49] gberche-orange opened #371 "[ECS/VPC] feature request: add support for Disabling Source and Destination Check"
* As a terraform-provider-flexibleengine user
* in order to manage ECS servers which emit packets with source IP addresses other than those associated with its NICs (such as a VM implementing software-defined VPN)
* I need the provider to let me control the ` Disabling Source and Destination Check` option documented into the following resources
   *  [ Help Center > Virtual Private Cloud > User Gu

[2020-07-29 02:27] ShiChangkuo commented on #370
Hi, @MirceaAndreiAlbu the PR #359 will meet your request, please update the provider to v1.13.0.

[2020-07-29 06:56] MirceaAndreiAlbu commented on #370
Thank you. We will test and see if it is OK. Till then, I will close the issue.

[2020-07-29 09:11] screwyy commented on #370
Hello,

We upgraded the provider to 1.13.0 and tested and for some reason it doesn't work:
[code]
And the run:
[code]
Below you could see my rights on FE console:
![image](https://user-images.githubusercontent.com/29939187/88780898-52a2fe00-d194-11ea-941e-3c76694f0a6d.png)

What's wrong with my rights ?

[2020-07-30 02:29] ShiChangkuo commented on #370
@screwyy you can manage IAM users as a security administrator, please refer to  the [user guide](https://docs.prod-cloud-ocb.orange-business.com/usermanual/iam/iam_01_0029.html).

[2020-07-30 04:48] screwyy commented on #370
@ShiChangkuo I followed the guide and the my user is in admin group:
![image](https://user-images.githubusercontent.com/29939187/88881679-b2eb7b80-d238-11ea-8840-f8f495be0394.png)
and with my credentials + access_key&secret_key it doesn't work.

[2020-07-30 12:26] ShiChangkuo commented on #370
@screwyy I also got the "Action Forbidden" error when using AK/SK mode to create IAM user, but the user_name + password mode works well.
I think the error was caused by API side, if you want to discuss more, please open a new issue, thanks.

[2020-07-30 19:45] DafuSHI opened #372 "Customer encountered issue when creating a two NIC ECS"
I am currently deploying servers on Flexbile Engine using Terraform.
When I deploy an ECS with two network cards or I hard fix the IP addresses, my ECS deploys well with the right addresses but my .tfstate file shows the same IP address twice for both cards and this generates an error if I restart a schedule, it destroys my server to recreate it.
Configuration of the ECS deployment:
Once the ECS i

[2020-07-31 08:12] gberche-orange commented on #371
The openstack API at https://support.huaweicloud.com/intl/en-us/api-vpc/vpc_port01_0006.html#vpc_port01_0006__table2033432574917 seems to imply the ip address in the allowed_adresss_pair can accept a CIDR and hence a `1.1.1.1/0` block

![image](https://user-images.githubusercontent.com/4748380/89014583-01bb1300-d316-11ea-9576-0f872f880122.png)

whereas the terraform provider does not describe this

[2020-07-31 09:36] screwyy commented on #370
@ShiChangkuo my provider.tf look like this
[code]
How can I only use user+pass and not aws keys ? since we need aws keys in order to upload the tfstate in s3 ?

[2020-07-31 13:48] DafuSHI commented on #371
@niuzhenguo Please help on this subject. An important internal project is blocked by the source ip check feature from Terraform

[2020-08-03 07:06] niuzhenguo commented on #371
@ShiChangkuo Please help with this.

[2020-08-03 09:14] ShiChangkuo commented on #372
@DafuSHI, as we discussed before, the ECS nics were created by **flexibleengine_vpc_subnet_v1**, which will have the same network name, then the issue was triggered.
we can fixed it by PR #373.

[2020-08-04 00:26] #372 closed

[2020-08-04 03:47] ShiChangkuo commented on #371
@gberche-orange Sorry for late reply, have you tried the `allowed_address_pairs` block in **flexibleengine_networking_port_v2** resource or could you provide the terraform script?

[2020-08-04 07:50] ShiChangkuo commented on #370
@screwyy I will make authenticate in the order of Token, Password and AKSK, please refer to #374.

[2020-08-05 09:02] gberche-orange commented on #371
thanks @ShiChangkuo for your response. We have worked around for now the issue with a manual check in the UI, but plan to test usage of the flexibleengine_networking_port_v2 resource with a CIDR (when our priorities would allow it).

In the meantime, would it be possible to improve the documentation of terraform-provider-flexibleengine to make the support of CIDR explicit ?

[2020-08-05 10:24] screwyy commented on #370
@ShiChangkuo I tried to get the new provider version from master:
[code]
But again I still have issues with the rights 👎 :
[code]

[2020-08-06 01:15] ShiChangkuo commented on #371
sure, I will test it then update the documentation.

[2020-08-06 01:21] ShiChangkuo commented on #370
@screwyy it seems you are still using the v1.13.0, please build the provider from master branch manually or wait for the next version (v1.14.0).

[2020-08-06 09:52] vlandemaine-orange opened #376 "[CES] Alarm creation error when value = 0"
Hi,

We actually facing an issue about the alarm rule creation with Terraform.

When we set a condition with value containing 0, on the flexibleengine_ces_alarmrule resource :

[code]

The value of the "value" input is considered as null, and we have this error :

[code]

But if we set this value to 1 it's working. And, after we can set it to 0 and update and it's working also. It's just for the c

[2020-08-10 09:49] #332 closed

[2020-08-10 10:55] screwyy commented on #370
I was hoping that by removing `.terraform` folder and running `terraform init` it would automatically download the master branch of the version 1.13.0 :(

[code]

[2020-08-10 11:08] niuzhenguo commented on #370
I will cut a release today!

On Mon, Aug 10, 2020 at 6:56 PM screwyy <notifications@github.com> wrote:

--
Best Regards,
Zhenguo Niu

[2020-08-11 00:33] niuzhenguo commented on #370
@screwyy Please try again!

[2020-08-11 04:03] ShiChangkuo commented on #371
@gberche-orange I have updated the documentation. The value of `allowed_address_pairs/id_address` can be an IP address or a CIDR.
Please let me know how the `allowed_address_pairs` block worked for you. I am looking forward to your feedback.

[2020-08-11 04:14] screwyy commented on #370
hello, it's working, thanks

[2020-08-11 07:24] screwyy opened #381 "resource parameter not available in flexibleengine_identity_role_v3"
Hello,

I would like to have Resource parameter available in flexibleengine_identity_role_v3 in the policy

### Terraform Version
Terraform v0.12.28
+ provider.flexibleengine v1.14.0
+ provider.mysql v1.9.0

### Affected Resource(s)
flexibleengine_identity_group_v3

### Terraform Configuration Files
[code]
### Expected Behavior
I would like to add something like this in the policy:
[code]
this `Re

[2020-08-17 07:11] gberche-orange commented on #371
thanks @ShiChangkuo for the documentation update!

We'll test and reopen an issue if we have problems using the CIDR syntax.

[2020-08-17 07:11] #371 closed

[2020-08-18 16:08] osaluden opened #383 "[VPC] - Custom Route Table Management"
Hello

As a Terraform developer, I would like to create custom route tables with specific routes and associate desired subnet(s).
I would like something like :
- flexibleengine_custom_route_table : create the route table
- flexibleengine_custom_route_table_association : associate one or more subnet to a custom route table
- flexibleengine_custom_route_table_route : create a route into a given cust

[2020-08-19 00:25] niuzhenguo commented on #383
@osaluden Seems we don't have such APIs exposed on Cloud side :(

[2020-08-21 07:24] #376 closed

[2020-08-21 08:27] #357 closed

[2020-08-31 13:28] antonin-a opened #387 "[netACL/Firewall] Clarification and binding feature"
Hi there,

The current implementation of FE network ACL on Terraform is a bit confusing as it is callled "Firewall" here (using the standard Openstack name & code I guess). Is there a way to:
- Document a bit better the fact that "Firewall rules" is "netACL" on Flexible Engine (maybe a reference to https://docs.prod-cloud-ocb.orange-business.com/usermanual/vpc/en-us_topic_0052003963.html)
- Implem

[2020-09-01 15:31] mgodlewski opened #389 "Set system timezone on RDS"
### Terraform Version
Terraform v0.12.13

### Affected Resource(s)
- rds_instance_v3

I can't see any option to set the timezone of rds at a system level. Can you add it to the terraform plugin ?

Regards

[2020-09-04 01:30] #387 closed

[2020-09-11 15:35] osaluden commented on #314
Hello
Since these Add-Ons are deployed into K8S, they can be managed thanks to Helm charts right ?
In this case, could it be possible to store these Helm charts within the FE Charts repo?
Those, Add-Ons can be deployed automaticcaly like
[code]
 Thanks in advance for your views

B.R.
Olivier

[2020-09-11 15:37] osaluden opened #392 "[CCE] - Node Pool Management"
Hi there,

As a Terraform developper I would to manage CCE Node Pool thanks to Terraform in order to fully automate CCE administration.
Thanks in advance for your feedback.

B.R.
Olivier

[2020-09-15 15:02] jpichonBZH opened #394 "[CSS] FE provider exited with error when a CSS input parameter is refreshed in plan"
### Terraform Version
v0.13.2

### Affected Resource(s)
CSS service.

A vpc is created first in my plan and the vpc_id in input of css ressource is refreshed during the plan.
The provider doens't support the refreshing of this parameter.

For information, when the plan is executed, the vpc_id input doesn't appears in plan

### Terraform Configuration Files
[code]

### Debug Output
Please provider

[2020-09-17 12:20] jpichonBZH commented on #394
After terraform plan modification, and changing the way to get vpc_id, this issue doesn't reproduce.

[2020-09-17 12:20] #394 closed

[2020-09-17 12:31] jpichon-OCB opened #395 "[CSS] the service creation failed, due to snapshot error"
I try to create a CSS service with terraform.

With provider version 1.13.0, the service is created without issue.
With version 1.14.0 to 1.16.0, the terraform plan exits with snapshot error.

I don't configure backup in my CSS ressource. So, it's not normal to get snapshot service error.

### Terraform Version
v0.13.2

### Affected Resource(s)
CSS service

### Terraform Configuration Files
[code]

[2020-09-18 01:07] niuzhenguo commented on #395
@ShiChangkuo please have a look at this ^

[2020-09-18 07:47] ShiChangkuo commented on #395
@jpichonBZH thanks for raising. The backup function was auto enabled since 1.14.0 version, but it requires the authority of OBS Bucket and IAM Agency. please see [here](https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/css_cluster_v1#backup_strategy).

Actually, it's no necessary to require the authority if we don't configure backup. I'll fix it soon.

[2020-09-18 08:00] jpichonBZH commented on #395
@ShiChangkuo , I know that.
I'm in admin group of the tenant, and all access to use bucket and IAM.

[2020-09-18 08:15] ShiChangkuo commented on #395
maybe you can check your permissions from [the document](https://support.huaweicloud.com/intl/en-us/productdesc-css/css_04_0014.html)

[2020-09-18 10:17] jpichonBZH commented on #395
We check permissions, all are OK, but the plan still exits with error
[code]

The cluster is created, but I can't manage it, because the tstate doesn't contain CSS details.

[2020-09-19 01:11] niuzhenguo commented on #395
@jpichonBZH There should be some issue with the CSS service on API side. We can disable this `auto_setting` API call as a workaround if you don't need backup_strategy now.

[2020-09-19 01:12] niuzhenguo commented on #395
please try to build the provider with #396

[2020-09-21 09:48] jpichonBZH commented on #395
@niuzhenguo Hi, it's working with your modification. Thanks

[2020-09-28 07:19] niuzhenguo commented on #392
Do we have such API exposed on FlexibleEngine?

[2020-10-14 20:21] ypilpre opened #399 "[CSS] Secure Mode is not available"
Following the official Flexible Engine Documentation, there's no information about generating a CSS with Secure Mode. But following Huawei Cloud CSS API Doc, an API Call with  _httpsEnable_, _adminPwd_ and  _authorityEnable_ is possible.

Terraform CSS Ressource could be generated with these additionnal parameters in order to generate a secure cluster.

### Terraform Version
Terraform v0.12.26

##

[2020-10-14 20:38] ypilpre commented on #392
Seems that API for POST action on  nodepools is not exposed on CCEv2. Only GET is available.

`{
    "message": "API not found",
    "request_id": "a4d7603d-4d6c-4761-8e54-f61d5b77bd89"
}

Based on https://support.huaweicloud.com/en-us/api-cce/cce_02_0354.html`

[2020-10-15 07:15] #399 closed

[2020-10-19 02:36] niuzhenguo commented on #389
@mgodlewski Sorry for the delay response, will add a time_zone argument for `rds_instance_v3`

[2020-10-19 07:55] #183 closed

[2020-10-30 09:53] jpichonBZH opened #403 "[ELB] crash during HTTP monitor settings"
Hi there,

### Terraform Version
v0.13.2 and v0.13.5

### Affected Resource(s)
- flexibleengine_lb_loadbalancer_v2
- flexibleengine_lb_listener_v2
- flexibleengine_lb_pool_v2
- flexibleengine_lb_monitor_v2

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/jpichonBZH/ba8d78a2554560646d67c67c3e0d062e

### Panic Output
https://gist.github.com/jpichonBZH/ba8d78a255456

[2020-11-02 17:17] amyounis opened #404 "[ELB] internal elb timeout although it is created"
### Terraform Version
0.13.5

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/amyounis/aa9107bef72945cff75d127ef6d31173

### Expected Behavior
create elb resource and continue

### Actual Behavior
the elb creation request is sent then terraform will query the status of the creation job for about 4 minutes then no queries sent after that. and although the elb is a

[2020-11-13 07:32] niuzhenguo commented on #381
@screwyy Sorry for the late response. You mean a new custom policy resource, need to check if the API is available first.

[2020-11-13 14:39] jpichonBZH commented on #403
I found the root cause and fix it.
the root cause is the value of "expected_code" parameter. I use copy/paste and don't check value.
A non support value crashes terraform. I replaced "2xx,3xx,4xx" by "200-204".
Now it's work. there is no issue. Can be closed

[2020-11-13 14:39] #403 closed

[2020-11-17 10:16] rapheon opened #405 "New Resource - Workspace"
Hi there,

Is it possible to create the Workspace resource on the provider ?

It will provide a much easier way to automate the feature,

Here is the API documentation : https://docs.prod-cloud-ocb.orange-business.com/api/workspace/workspace_03_0001.html

Regards,
Tony

[2020-11-19 10:52] osaluden opened #406 "[CCE] - Agency Management"
Hi there,

As a Terraform developer, I would like to associate an Angency to my CCE nodes. This option is already available in the web console (advanced ECS settings in CCE node creation form).

Thanks in advance for your help.

Best Regards
Olivier Saluden

[2020-11-23 07:34] osaluden opened #407 "[ECS] - Agency Management"
Hi there,

As a Terraform developer, I would like to associate an Angency to my ECS machines. This option is already available in the web console (advanced ECS settings).

Thanks in advance for your help.

Best Regards
Olivier Saluden

[2020-11-23 07:44] osaluden opened #408 "[IAM] - IAM Policies Management"
Hi there,

As a Terraform developper, I would like to manage IAM Policies.
Idealy, it could be relevant to manage policies in two ways like AWS provider does :
- A policy ressource you can inline a JSON policy document (https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/iam_policy)
- A policy data to construct the JSON representation of the policy document an then declare

[2020-11-23 07:50] osaluden opened #409 "[IAM] - Agency type "Cloud service" Management"
Hi there,

As a Terraform developper, I would like to create an Agency the same way I would do to through the web console.
The current rpovider version does not seem to allow "Cloud Service" agency type but only "Common account" type for the "delegated_domain_name" parameter.

Thanks in advance for your help.

[2020-11-23 08:09] niuzhenguo commented on #409
@osaluden Seems we don't have such API support on Cloud side.

[2020-11-23 08:38] antonin-a commented on #409
Hello,
I just changed the issue title to clarify the point, I will check on Cloud Side if there is a way to provide  Agency Type "Cloud service" APIs.

Regards,

Antonin

CC. @DafuSHI

[2020-11-26 15:40] amyounis commented on #404
no one faced this !

[2020-12-02 09:25] amyounis commented on #404
the same issue occurred with DCS resource when it take too long to be created.

[2020-12-03 13:20] antonin-a commented on #381
Hello @screwyy , this feature is under development and we would like to deliver it by the end of this year. Stay tuned :)

[2020-12-09 15:04] amyounis commented on #404
this is frustrating :(

[2020-12-10 13:36] amyounis commented on #404
very frustrating

[2020-12-10 13:39] antonin-a commented on #404
Hello @amyounis sorry to see that frustration, I assume that you are still facing the issue... @niuzhenguo and @DafuSHI can you please check this issue ?

[2020-12-11 17:32] kchenhal opened #413 "ELB UDP Listener"
according to documentation, UDP is one of the supported protocol:
https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/lb_listener_v2#protocol

but when we apply a listened with UPD port, it give the following error:

From UI, we were able to create a UDP listener, not from TF.

here is the partial content of the TF code

[2020-12-14 08:42] antonin-a commented on #413
Hello @kchenhal, thank you for raising this issue. @niuzhenguo can you take a look ?

[2020-12-14 09:15] niuzhenguo commented on #404
@amyounis Sorry for the late response, we have a default timeout for create/update/delete in these resources. You can customize the timeout by adding a `timeout` block in the resource defination as bellow. And we can bump the timeout value if it takes more time then the default value.

resource "flexibleengine_elb_loadbalancer" "elb_1" {
  name = "k8s-workers-elb"
  ....
  timeouts {
    create =

[2020-12-14 09:23] niuzhenguo commented on #413
@kchenhal will fix this in the coming release, sorry for the inconvinience.

[2020-12-14 11:45] #413 closed

[2020-12-14 13:08] screwyy opened #416 "SFS Turbo Standard Performance import/create issue"
Hi there,

I'm trying to create a SFS Turbo Standard or Performance but don't know the syntax where I can specify the name of the type.
Until now I used type "nfs" for ordinary SFS, What is the name of the type for standard and performance ?

### Terraform Version
Terraform v0.12.28
+ provider.flexibleengine v1.16.2

### Affected Resource(s)
flexibleengine_sfs_file_system_v2

### Terraform Configu

[2020-12-14 15:02] amyounis commented on #404
@niuzhenguo i already tried "timeout" option , and the behavior is the same except it will take more time before timeout. I mentioned that in the Actual Behavior section:
"
Actual Behavior
the elb creation request is sent then terraform will query the status of the creation job for about 4 minutes then no queries sent after that. and although the elb is actually created, the terraform will not kno

[2020-12-14 16:08] DafuSHI commented on #323
Hi @niuzhenguo  the api is good: https://docs.prod-cloud-ocb.orange-business.com/en-us/api/mrs/mrs_02_0084.html. Please help to create the resource

[2020-12-14 17:04] fculpo opened #417 "Creating a public Enhanced Load Balancer"
Hi,

I cannot find how to create a Public Enhanced Load Balancer with flexibleengine_lb_loadbalancer_v2 as there is no option for providing Network Type and/or EIP (it works with classic LB flexibleengine_elb_loadbalancer).

With the only parameters available right now, all I can create is an internal/private ELB.

Am I missing something ?

(use case is creation of an ELB and static EIP to use wit

[2020-12-14 17:42] kchenhal opened #418 "Request: add encryption to SFS volume"
Can we add encryption to SFS volume?

Thanks,
Kevin

[2020-12-14 18:08] Soprad commented on #417
Hi,

Faced the same. Solved it by binding/creating an EIP to our internal v2 ELB through floatingip_v2 ressource to the vip_port of the ELB.

_Create ELB v2 :_
[code]
_Bind EIP from default pool (will auto-create a new EIP if none is defined) to previously created ELB :_
[code]

[2020-12-14 18:35] osaluden commented on #417
Hello and thank you  @Soprad this is indeed the solution. A public ELB is a private ELB with an EIP associated to its VIP.
Another way to create the EIP and benefit from the bandwidth parameter :

Same code fot he ELB then use the `flexibleengine_vpc_eip_v1 resource` (create the EIP and bind to ELB VIP port):

[code]

Resource documentation at https://registry.terraform.io/providers/FlexibleEngine

[2020-12-15 00:56] niuzhenguo commented on #404
@amyounis I'm sorry I don't understand why it stopped querying the status of the creation job after 4m, is there any issue with the query request API? Can you please paste some logs about this as the debug output you provided on gist seems be truncated.

[2020-12-15 03:28] niuzhenguo commented on #323
@ShiChangkuo Please have a look at this ^

[2020-12-15 08:12] niuzhenguo commented on #418
@kchenhal According to the API description, you can set #sfs_crypt_key_id="your kms id" in the metadata of sfs resources.

[2020-12-15 08:15] fculpo commented on #417
Thanks I will try that.

Another related question: as we are required to choose a subnet, hence an AZ to deploy ELB, does that mean that if that AZ fails we lose ELB ? That would be a pain point since we deploy our k8s in multi AZ.

If so, is there any way to implement redundancy on the LB ?

[2020-12-15 08:38] fculpo commented on #418
I can confirm that this solution works, however you need to add an ignore lifecycle on metadata as reapplying will try to recreate ressource.

Also, you may need to create the SFSAccessKMS agency for this to work.

[code]

[2020-12-15 08:41] fculpo commented on #329
Hi,

The flexibleengine_identity_role_v3 resource does not seem to accept the resource parameter, hence we cannot target policy to specific resource.

Example usecase: Allowing GetObject and PutObject on a specific OBS bucket.

[2020-12-15 09:32] niuzhenguo commented on #329
@fculpo Yes, we need to wait for the ability available on the API side before we can add it to terraform. @antonin-a @DafuSHI

[2020-12-15 09:59] fculpo opened #419 "OBS KMS encryption"
Hi,

Is there any way to enable OBS bucket default encryption with terraform ?
I can't find any parameter allowing passing kms information in flexibleengine_obs_bucket

[2020-12-15 10:02] fculpo commented on #381
We also really need this.
At the moment we cannot use flexibleengine_identity_role_v3 and must use the console, which is far from optimal.

[2020-12-15 10:03] antonin-a commented on #419
Hello @fculpo , on platform side the API call is described here : https://docs.prod-cloud-ocb.orange-business.com/api/obs/en-us_topic_0190318905.html
@niuzhenguo is the ressources already existing on terraform side ? If not, is it possible to add this one ?
Regards

[2020-12-15 10:24] antonin-a commented on #417
Hello @fculpo, ELB and subnets (on which you can also specify an AZ) are resilient/redundant by default in order to avoid any spof. The purpose of choosing the AZ is just to choose the "primary" one.

[2020-12-15 10:27] antonin-a commented on #416
Hello @screwyy , the ressource you are looking for is available here : https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/sfs_turbo (not the same as standard SFS).

[2020-12-15 10:28] antonin-a commented on #409
@DafuSHI @qukuijin1989 can you please check how to fix this on provider APIs side ?

[2020-12-15 10:40] antonin-a commented on #329
@niuzhenguo  are you sure that is it not available on APIs side ? It is described on the online help here : https://docs.prod-cloud-ocb.orange-business.com/api/iam/iam_02_0013.html
(Table 5)

[2020-12-15 10:42] antonin-a commented on #329
We can consider this one "FE provider to support IAM user groups and custom policies creation" as Done. To discuss the specific point related to "ressource" parameter that is missing I suggest to use : #381

[2020-12-15 10:42] #329 closed

[2020-12-15 10:44] antonin-a commented on #381
@niuzhenguo are you sure that is it not available on APIs side ? It is described on the online help here : https://docs.prod-cloud-ocb.orange-business.com/api/iam/iam_02_0013.html
(Table 5)

[2020-12-15 11:05] niuzhenguo commented on #381
@fculpo @antonin-a Sorry for the misleading,  we will add a new flexibleengine_identity_policy resource for the custom policy.

[2020-12-15 11:27] antonin-a commented on #381
Great ! Thank a lot @niuzhenguo

[2020-12-15 11:56] amyounis commented on #404
query API is OK, I ran myself the API requests using curl while the terraform was running and it worked just fine, I also contacted flexible engine support and they confirmed that API is OK their side.
you can show the whole trace by clicking "view the full file", it is 145235 lines.
to see all interactions with ELB API just filter with "https://elb"
you will find in the trace the following:
1- th

[2020-12-15 12:44] fculpo commented on #417
thanks @antonin-a, I tried the suggested solution, it works as expected, closing this

[2020-12-15 12:44] #417 closed

[2020-12-15 12:59] fculpo opened #420 "flexibleengine_sfs_file_system_v2 host output is empty"
Hi,

The output host of flexibleengine_sfs_file_system_v2 is empty.

According to the resource documentation, it should return the hostname of nfs server (which I could then alias in a DNS private zone).

My current workaround to get this value is `split(":", flexibleengine_sfs_file_system_v2.this.export_location)[0]`

[2020-12-15 13:05] fculpo opened #421 "flexibleengine_sfs_file_system_v2 output metadata is empty"
When getting outputs of a flexibleengine_sfs_file_system_v2 created as follows, the metadata output is empty

[code]

[2020-12-15 13:41] antonin-a commented on #420
Hi @fculpo. First, thanks a lot for raising those issues !
@niuzhenguo can you check why the 'host' attribute is not exported on https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/sfs_file_system_v2 ?

@fculpo depending on your initial requirement, a quick workaround could be to use SFS Turbo (a new SFS service with better and 'dedicated' performances)

[2020-12-16 02:53] kchenhal commented on #418
cool, I will give it a try!

[2020-12-16 02:53] #418 closed

[2020-12-16 06:03] screwyy commented on #416
ohhhh, thanks

[2020-12-16 06:03] #416 closed

[2020-12-16 13:07] nicolasalab opened #422 "[IAM] getting custom policy from flexibleengine_identity_role_v3"
Following the assignment example here

https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/identity_role_assignment_v3,

I'd like to create an assignment using a custom role id but the data flexibleengine_identity_role_v3 doesn't seem to work with a custom role name (search query has no results.).

Is there a way to get a custom role id or can you make

[2020-12-17 10:33] LIUhuan123456 commented on #409
@antonin-a I am working on this, I submitted a requirement for API for the first step

[2020-12-18 06:52] ShiChangkuo commented on #419
@fculpo you can encrypt an object with `encryption = true`.  please refer to the [example](https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/obs_bucket_object#server-side-encryption-with-obs-default-master-key)

[2020-12-18 08:53] fculpo commented on #419
I saw that possibility, but what I want is the possibility to enable default bucket encryption while creating it.

[2020-12-18 09:01] fculpo commented on #370
Hi,

Sorry to reopen this, but I also encountered quite the same issue, I cannot create agency while using only AKSK, getting a "Identity - Agency: Action Forbidden".

This only works when also providing Username/Password (of the same user than the AKSK one).

Is this a bug or some limitation ?

[2020-12-18 09:03] fculpo opened #426 "[IAM] Cannot create agency with AKSK, works with user/passwd"
Hi,

Probably related to this issue: https://github.com/FlexibleEngineCloud/terraform-provider-flexibleengine/issues/370

I cannot create agency while using only AKSK, getting a "Identity - Agency: Action Forbidden".

This however works when providing Username/Password (of the same user than the AKSK one).

Is this a bug or some limitation ?

[2020-12-18 09:07] antonin-a commented on #370
@fculpo currently checking. @DafuSHI do you think that it is due to the ongoing changes on APIGW ?

[2020-12-18 09:08] #370 closed

[2020-12-18 09:15] fculpo opened #427 "Tags unavailable on majority of TF resources"
Hello,

It seems impossible to manage mutable tags via terraform for a majority of resources, while doable directly in the console.
Other providers often implement a tags argument for this purpose.

Am I missing something ?

[2020-12-18 09:35] fculpo commented on #392
Hi, any news on this ?

A flexibleengine_cce_nodepools_vX would be a great enhancement.

[2020-12-18 10:01] antonin-a commented on #392
Hello @fculpo , timing is good :) It is under deployment and should be ok by the end of the day !

[2020-12-19 07:27] ShiChangkuo commented on #419
due to the limitation of [SDK ](https://docs.prod-cloud-ocb.orange-business.com/sdk-python-devg/obs/en-us_topic_0142798495.html), only object encryption can be supported now.

@antonin-a maybe you can submit a requirement to OBS.

Note: the link above is python SDK as I can not find the Go SDK of OBS on the support docs, but I think both of them have the same functions.

[2020-12-21 10:50] amyounis commented on #404
@niuzhenguo @DafuSHI
query API is OK, I ran myself the API requests using curl while the terraform was running and it worked just fine, I also contacted flexible engine support and they confirmed that API is OK their side.
you can show the whole trace by clicking "view the full file", it is 145235 lines.
to see all interactions with ELB API just filter with "https://elb"
you will find in the trace

[2020-12-21 12:21] niuzhenguo commented on #404
@amyounis I still didn't see what's the problem, but I can update the WaitFor codes to make it issues less query APIs, please try laster.

[2020-12-21 12:22] niuzhenguo commented on #404
Another thing I want to mention here is that, the Classic ELB seems already deprecated now, maybe you can try Enhanced ELB(flexibleengine_lb_xxx)

[2020-12-21 12:52] amyounis commented on #404
@niuzhenguo
is there a limit on how many query requests sent to check job status ? is it configurable ?
the time between sending query requests, is it configurable ?

[2020-12-21 12:55] amyounis commented on #404
@niuzhenguo
regarding using enhanced load balancers instead of classic LB, are they the same cost ?

[2020-12-21 17:56] osaluden opened #429 "[CCE] - Enable to create Node Pool with 0 nodes"
Hi there,

Latest Terraform provide in use : 1.17.0
Terraform 0.13.5 binary.

When  `initial_node_count` is set to "0" (int) FE API answers the following:
Error: Error creating Flexibleengine Node Pool: Missing input for argument [InitialNodeCount]

Is it a bug or a feature ? :) (I want to create a 0 node node-pool in order to automatically provision node only if the deployment requires new node)

[2020-12-22 00:45] niuzhenguo commented on #429
@osaluden It's a bug, we will fix soon. @Jason-Zhang9309 please have a look at this ^

[2020-12-22 07:19] niuzhenguo commented on #404
@amyounis It's not configurable, please see the logic here https://github.com/huaweicloud/golangsdk/blob/master/util.go#L17
we already added a 5s sleep, but doesn't take effect on the provider now.

[2020-12-22 07:20] niuzhenguo commented on #404
@DafuSHI @antonin-a Regarding the cost of classic LB and enhanced LB, can you explain here?

[2020-12-22 07:28] osaluden commented on #429
Thank you @niuzhenguo  !

[2020-12-22 09:12] antonin-a commented on #404
Hello @amyounis and @niuzhenguo , Yes, prices are exactly the same and can be found here : https://cloud.orange-business.com/nos-tarifs/elastic-load-balancer/
I confirm that we recommend to use Enhance ELB as Classic one tend to be deprecated.

[2020-12-23 13:13] osaluden commented on #383
Hello @niuzhenguo , do you have some news regarding this issue? Is custom route table API in the roadmap ?
 Thank you for your help.

[2020-12-24 00:37] niuzhenguo commented on #383
@antonin-a @DafuSHI do you have any news about this?

[2020-12-29 02:06] ShiChangkuo commented on #427
@fculpo can you provide a list of resources that need to be tagged?

[2020-12-30 09:42] FridMehdi opened #430 "requirements flexibleengine_vpc_route_v2"
### Terraform Version
Terraform v0.14.3

### Provider Version
Terraform v1.17.0

### Affected Resource(s)
- VPC Routes  => flexibleengine_vpc_route_v2

### Requirements
We are not able to create a route with diffrent type of var nextHop, the value of nexthop could be only "peering" ?
It is possible to have all values (Server, NIC, NAT, Virtual ips) ? or is a probleme with the api it self ?

[2020-12-30 10:48] niuzhenguo commented on #430
It's a problem with the API itself.

[2020-12-30 10:55] FridMehdi commented on #430
@niuzhenguo tyanks hwo is responsible for the api devs I think the other types are missing  is that true ?

[2020-12-30 10:56] niuzhenguo commented on #430
@antonin-a @DafuSHI Please have a look at this request?

[2021-01-04 07:42] osaluden commented on #427
@ShiChangkuo basicaly all the resources you can tag thanks to the web console (ECS, ELB, RDS, VPC, Subnet ...)
Thank you for you help.

[2021-01-04 09:30] vlandemaine-orange opened #433 "Request : Add encryption on SFS Turbo"
Hello,

Related to the #418 we also need to configure encryption on SFS Turbo ressources. On the basic SFS resource we can configure this by adding parameters in the metadata, but in the SFS Turbo we cannot configure metadata.

### Terraform Version
Terraform v0.14.3

### Affected Resource(s)
flexibleengine_sfs_turbo

Regards,

[2021-01-05 08:58] ShiChangkuo commented on #433
@vlandemaine-orange Thanks for raising this, we will implement the feature before the end of this month.

[2021-01-05 09:32] osaluden commented on #433
Hello @ShiChangkuo , thank you for taking care of this case. The Huawei SDK SFS Turbo implements the Metadata feature https://github.com/huaweicloud/golangsdk/blob/master/openstack/sfs_turbo/v1/shares/requests.go
Should be doable in short time.

[2021-01-05 11:11] antonin-a commented on #427
Hello @ShiChangkuo , aligned with @osaluden  :)

[2021-01-05 11:20] antonin-a commented on #422
@niuzhenguo can you please check this one ?

[2021-01-05 11:21] antonin-a commented on #419
ok @ShiChangkuo noted. @DafuSHI can you help us here ?

[2021-01-05 11:24] antonin-a commented on #421
@niuzhenguo can you please check this one ?

[2021-01-05 11:24] antonin-a commented on #420
@niuzhenguo @ShiChangkuo any update ?

[2021-01-08 02:32] #433 closed

[2021-01-08 06:28] ShiChangkuo commented on #334
@antonin-a the VPC endpoint can be exported by #436 #438 #443 #444, and will be available in v1.18.0

[2021-01-08 07:20] osaluden commented on #433
@ShiChangkuo that's great, thank you for your prompt action!

[2021-01-08 14:44] LIUhuan123456 commented on #381
Hello, Aligned with Niuzhenguo, will update this on FE mid-janurary.

[2021-01-08 20:26] kchenhal opened #445 "Assign multiple fixed ipaddress to a port"
I am trying to create neutron port with multiple fixed ipaddress, when I apply it, got the following error:

here is the TF code
[code]

I intend to attach this port an instance via flexibleengine_compute_interface_attach_v2

./terraform version
[code]

Thanks

[2021-01-11 02:31] ShiChangkuo commented on #421
@fculpo @antonin-a sorry for delay, will fix it soon.

[2021-01-11 07:50] osaluden commented on #445
Hello @kchenhal , it is indeed not possible to associate multiple IP addresses to an ECS this way.
I can see to options:
- Create as many Neutron ports you need (one for each IP address) and associate to the ECS (= multiple network interfaces)
- Create on Neutron port with a primary fixed IP address and then create and attach multiple VIPs ([flexibleengine_networking_vip_v2](https://registry.terra

[2021-01-11 08:28] ShiChangkuo commented on #420
@fculpo It seems to be an API issue as `host` was missing in API response, does the `export_location` works well?

[2021-01-11 09:48] ShiChangkuo commented on #420
@fculpo After checking to the sfs R&D team, the `host` is an internal attribute whch is meaningless for users.
If you want to export the sfs, please using the [flexibleengine_sfs_access_rule_v2](https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/sfs_access_rule_v2).

[2021-01-11 10:42] LIUhuan123456 commented on #426
Hello, could you please try to remove region, and replace authurl with a global authurl:iam.eu-west-0.prod-cloud-ocb.orange-business.com
If it does not work, could you please help attach the code and send to me, thanks

[2021-01-11 15:21] rapheon opened #447 "DMS resource creation"
Hi there,

Is it possible to create resource for the DMS service ?

[2021-01-11 16:01] kchenhal commented on #445
Thanks Olivier. I will try the VIP approach.
what is the different between vip and private ip used in the neutron port? will the client be able to use vip to connect to the server?

[2021-01-11 16:24] osaluden commented on #445
Actually a VIP is the way (in a sort) to associate an IP address to a MAC at Neutron level (the network manager). So the IP packets for this VIP will be routed to the Neutron port of the ECS you associated to. At ECS level, do not forget to declare the VIP as a secondary IP of the network interface (ex: eth0 for the primary, eth0:1 for the secondary, eth0:2 for the third and so on), the Virtual Ne

[2021-01-11 16:35] qukuijin1989 commented on #447
hi @niuzhenguo  could you please check this

[2021-01-11 16:42] kchenhal commented on #445
thanks! @osaluden

[2021-01-11 16:42] #445 closed

[2021-01-11 21:09] qukuijin1989 commented on #404
hi @amyounis , could you try Enhance ELB?

[2021-01-11 21:11] qukuijin1989 commented on #395
hi @jpichon-OCB  , if this problem is resolved could you please closed it ?

[2021-01-11 21:13] qukuijin1989 commented on #392
hi @osaluden , if this problem has been resolved, could you please close it ?

[2021-01-11 21:24] qukuijin1989 commented on #334
hi @antonin-a , if this issues has been resolved could you close it ?

[2021-01-11 21:36] qukuijin1989 commented on #315
hi @niuzhenguo  any update for this problem?

[2021-01-11 21:38] qukuijin1989 commented on #314
hi @osaluden  could you test it helm v3 in cce 1.17

[2021-01-11 21:45] qukuijin1989 commented on #299
hi @antonin-a  does this issues has been resolved?

[2021-01-11 21:53] qukuijin1989 commented on #252
hi @Gwenael22  can we close this one ?

[2021-01-11 21:56] qukuijin1989 commented on #214
hi @chewdevs  can we close this issues?

[2021-01-11 21:58] qukuijin1989 commented on #176
hi @antonin-a  doest this issues has been resolved?

[2021-01-12 07:06] osaluden commented on #392
@qukuijin1989 yes it is solved, issue closed. Thank you for your help!

[2021-01-12 07:06] #392 closed

[2021-01-12 07:11] osaluden commented on #314
Hello @qukuijin1989 . The purpose of this issue is to be able to activate Add-Ons thanks to Terraform (Autoscaler, Metrics ...) in order to benefits from NodePool autoscaling. Thanks to the latest Terraform provider, we are now able to provision NodePools but not to benefit from autoscaling since it depends on Autoscaler and Metrics Add-Ons (we have to deploy them manually thank to the web consol

[2021-01-12 07:56] #421 closed

[2021-01-12 08:09] #395 closed

[2021-01-12 08:14] Gwenael22 commented on #252
sorry @qukuijin1989, i can't answer you because I haven't worked on this subject for months

[2021-01-12 09:18] qukuijin1989 commented on #252
@Gwenael22  could you tell me who is working on this problem?
@ShiChangkuo  does this problem can beclosed?

[2021-01-12 09:46] antonin-a commented on #176
Hello @qukuijin1989 , no, status is still the same : CCE APIs are asking a "subnet_id" but in reality we have to pass a "network_id". Regards

[2021-01-12 09:49] qukuijin1989 commented on #279
hi @screwyy
do you still have some pain point for these parameter? does these parameter has been included dans TF?

[2021-01-12 09:51] qukuijin1989 commented on #296
hi @niuzhenguo  does this feature has been released?

[2021-01-12 10:03] qukuijin1989 commented on #314
@niuzhenguo  does this feature has been released on TF?

[2021-01-12 10:07] Gwenael22 commented on #252
@qukuijin1989 no one, the project was canceled. the issue is opened since 1 year and months

[2021-01-12 10:33] antonin-a commented on #252
@qukuijin1989 from my understanding its duplicate https://github.com/FlexibleEngineCloud/terraform-provider-flexibleengine/issues/419 and it is still not resolved. Regards,

[2021-01-12 11:19] niuzhenguo commented on #314
No, the API issues with CCE Addon still exist.

On Tue, Jan 12, 2021 at 6:04 PM qukuijin1989 <notifications@github.com>
wrote:

--
Best Regards,
Zhenguo Niu

[2021-01-12 13:54] qukuijin1989 opened #450 "[DNS]-DNSaaS - CAA records"
CAA record type seems to be available through APIs but neither from the console nor from Terraform.
@niuzhenguo

BIDFE-2213

[2021-01-12 14:13] qukuijin1989 commented on #419
JIRA link :https://jira.corp.cloudwatt.com/browse/BIDFE-2228

[2021-01-12 14:15] qukuijin1989 opened #451 "VPC flow logs"
There are no Terraform resource for VPC flow logs  when will it be available if there is any plan ?
@niuzhenguo @ShiChangkuo please check

[2021-01-12 14:18] qukuijin1989 opened #452 "KMS - key_id"
The variable "key_id" is not exported contrarily to what is stated in the documentation for "flexibleengine_kms_key_v1" resource
@niuzhenguo @ShiChangkuo

[2021-01-12 14:21] qukuijin1989 commented on #427
https://jira.corp.cloudwatt.com/browse/BIDFE-2222

[2021-01-12 21:35] qukuijin1989 commented on #420
hi @fculpo  could you check it, if it resolved could you close it ?

[2021-01-12 22:09] qukuijin1989 commented on #426
hi @fculpo  have you try to remove region, and replace authurl with a global authurl:iam.eu-west-0.prod-cloud-ocb.orange-business.com

[2021-01-13 01:57] ShiChangkuo commented on #450
@qukuijin1989 we already fix it by #440, and will be available in the next release.

[2021-01-13 02:08] ShiChangkuo commented on #451
@qukuijin1989 seems the API for VPC flow log is missing. we can export the resource once the APIs are ready.

[2021-01-13 02:12] ShiChangkuo commented on #452
Hi, can `id` meet your requirement?

[2021-01-13 08:44] qukuijin1989 commented on #450
@ShiChangkuo could you provider the next release date?

[2021-01-13 09:20] antonin-a commented on #452
@ShiChangkuo I think so. We need to fix the doc or the code ;)

[2021-01-13 11:31] niuzhenguo commented on #422
Seems we can add a new data source for custom policy, will be working on this after custom policy resources added.

[2021-01-13 14:52] antonin-a commented on #314
@qukuijin1989 the issue is still opened and related to our cert issue

[2021-01-13 18:28] osaluden opened #455 "[DCS] - "cache engine type is not supported" error"
Hi there,

DCS creation does not work because the engine does not seems to be supported.

### Terraform Version
0.13.5

### Provider Version
0.17.0

### Affected Resource(s)
Please list the resources as a list, for example:
- flexibleengine_dcs_instance_v1

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
DCS instance should be created as described in the Te

[2021-01-14 01:55] ShiChangkuo commented on #427
@fculpo @antonin-a the following resources will support tags:

1. flexibleengine_as_group_v1
2. flexibleengine_blockstorage_volume_v2
3. flexibleengine_vpc_v1
4. flexibleengine_vpc_subnet_v1
5. flexibleengine_lb_loadbalancer_v2
6. flexibleengine_lb_listener_v2
7. flexibleengine_rds_instance_v3
8. flexibleengine_rds_read_replica_v3

[2021-01-14 02:18] niuzhenguo commented on #381
@Jason-Zhang9309 ^

[2021-01-14 06:12] #452 closed

[2021-01-14 06:12] #389 closed

[2021-01-14 09:46] #381 closed

[2021-01-14 09:46] #408 closed

[2021-01-15 10:05] qukuijin1989 commented on #427
hi @fculpo
could  you describe the usage scenario of use tags? because some of cloud service need to confirm your requirement

[2021-01-15 12:27] fculpo commented on #427
I'm not sure about what you expect from my side.

I just need the possibility to pass tags with terraform, which is currently
doable via the console.

I could for instance use tags for billing purpose, prod/stg segmentation,
etc.

On Fri, Jan 15, 2021, 11:05 qukuijin1989 <notifications@github.com> wrote:

[2021-01-18 02:09] #429 closed

[2021-01-18 02:13] #422 closed

[2021-01-20 08:49] screwyy commented on #279
hello,
I haven't checked lately because we moved forward into 2 directions:
1) We moved the RDS part into another tfstate just because the main one was getting bigger and the RDS parameters were giving us a lot of trouble.
2) We dropped the parameters usage from terraform because of the issues
3) we plan not to use RDS in the future just because this was an issue
4) upgrading an RDS is much harder

[2021-01-21 03:10] ShiChangkuo commented on #450
@qukuijin1989 now you can test this feature in v1.18.0

[2021-01-21 15:39] DafuSHI commented on #383
It is implemented. Please add to Terraform resource:
https://docs.prod-cloud-ocb.orange-business.com/api/vpc/vpc_route_0001.html

[2021-01-21 15:49] DafuSHI commented on #383
Sry it seems to be a mistake please ignore

[2021-01-25 14:51] fculpo commented on #426
Provider version = *1.18.0*

This works (we provide OS_PASSWORD and OS_SECRET_KEY via env variables):

[code]

This doesn't work (removing user_name and passing  OS_SECRET_KEY via env variable):

[code]

[2021-01-25 16:55] fculpo commented on #426
BTW documentation states:
"Note: It can not set tenant_name in provider "flexibleengine" when using this resource."

Well it perfectly works with or without tenant_name, as long as we provide username+password

[2021-01-26 17:26] osaluden commented on #455
Hello
Do you have any news on this issue?

[2021-01-29 10:50] fculpo commented on #420
Hi,

This is not an export / acces rule issue.

I just want to get the hostname of the NFS server once my `flexibleengine_sfs_file_system_v2` is created.

According to `flexibleengine_sfs_file_system_v2` documentation, I could use these outputs:

- `export_location` - The address for accessing the shared file system.
- `host` - The host name of the shared file system -> this description fits exact

[2021-02-03 14:32] antonin-a commented on #214
@qukuijin1989 the IDP management is still not available. Can we please try to finish this part ? (requested by several users)

[2021-02-03 17:08] DafuSHI commented on #214
Creating groups and users
https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/identity_group_membership_v3
https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/identity_group_v3

Creating policies
https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/identity_role_v3

[2021-02-04 14:50] antonin-a commented on #426
@DafuSHI @qukuijin1989 , we have the exact same issue for user creation. We have tried with and without region. It is working fine with User/Password but NOK with AK/SK
@osaluden

[2021-02-04 15:06] qukuijin1989 commented on #426
hi @osaluden
could describe the scenario of the auth? the @ShiChangkuo  will determine the how to fix it

[2021-02-04 15:08] qukuijin1989 commented on #455
hi @ShiChangkuo  @niuzhenguo
could you check this  problem?

[2021-02-04 15:20] osaluden commented on #426
Hello @qukuijin1989
IAM objects creation (user, group, custom roles ...) fails with the following environment variables: OS_ACCESS_KEY, OS_SECRET_KEY, OS_USER_DOMAIN_NAME
The error is : `Error creating FlexibleEngine user: Action Forbidden`

If I authenticate with OS_USERNAME, OS_PASSWORD and OS_USER_DOMAIN_NAME, it works.

So basically, AK/SK authentication does not seem to allow the IAM manageme

[2021-02-04 16:24] qukuijin1989 commented on #426
ok @osaluden
@ShiChangkuo  user doesn't need federation

[2021-02-05 09:03] qukuijin1989 commented on #455
@osaluden
  we will test this problem, then feedback to you nextweek

[2021-02-05 09:03] #450 closed

[2021-02-05 09:04] qukuijin1989 commented on #450
done

[2021-02-05 13:25] gberche-orange opened #469 "[Feature request] Support for IAM account ACL security settings"
As a flexible engine domain administrator
* in order to restrict access to console and API from trusted IP sources expressed as CIDR
* I need to manage the [account settings ACL](https://support.huaweicloud.com/intl/en-us/usermanual-iam/iam_07_0003.html) using terraform

[2021-02-07 02:47] ShiChangkuo commented on #455
@osaluden sorry for delay.

The `instance_type` is not supported for Redis 4.0 and 5.0, please use `product_id` (eg. redis.cluster.xu1.large.r1.8-h) instead.

[2021-02-08 17:58] osaluden commented on #455
Hello @ShiChangkuo product_id is indeed the solution. But looking at https://dcs.eu-west-0.prod-cloud-ocb.orange-business.com/v1.0/products to grab all the product ids is not very convenient.
Thank you for the helm, you can close this issue

[2021-02-10 09:53] Soprad opened #473 "[DDS] Add support for version 4.0 in dds resource"
Hello,

DDS seems to be deployable in version 4.0 through API, but not through FE Terraform Provider.

### Terraform Version
- 0.13.5

### Provider Version
- 0.18.1

### Affected Resource(s)
- flexibleengine_dds_instance_v3

### Terraform Configuration Files
[code]

### Debug Output
[code]
### Expected Behavior
DDS is deployed in version 4.0

### Actual Behavior
DDS is not deployed

### Steps to R

[2021-02-10 10:07] ShiChangkuo commented on #473
@Soprad we will test DDS with 4.0 version, and fix it soon.

[2021-02-10 13:58] screwyy opened #474 "add email/phone field to identity_user_v3 in order to be able to login into FE console"
Hi there,

### Terraform Version
v0.12.28

### Affected Resource(s)
- identity_user_v3

### Terraform Configuration Files
[code]

### Expected Behavior
What should have happened?

- Create a user and with it's password connect to FE console

### Actual Behavior
What actually happened?
[code]
but I'm unable to add email pr phone because the resource is not capable yet :)

[2021-02-20 06:17] #473 closed

[2021-02-20 10:53] ShiChangkuo commented on #426
@fculpo @antonin-a @osaluden sorry for the late response.

I also encountered the same error with AK/SK authentication, the provider has send the API request, but got the `Action Forbidden` from IAM service.

@qukuijin1989 please have a look at this, we need your help.

[2021-02-22 09:34] ShiChangkuo commented on #407
@osaluden sorry for late response. According to the [API documention](https://docs.prod-cloud-ocb.orange-business.com/api/ecs/en-us_topic_0167957246.html#EN-US_TOPIC_0167957246__section1574435185018), you can try to add `agency_name` into metadata block.

[code]

[2021-02-22 11:13] osaluden commented on #407
Thank you for your feedback @ShiChangkuo , I will try as soon as I can and let you know.

[2021-02-22 11:13] #407 closed

[2021-02-23 03:10] ShiChangkuo commented on #406
@osaluden The function is missing in CCE node, we will try to implement this requirement as soon as we can.

[2021-02-23 10:59] osaluden commented on #407
@ShiChangkuo I can confirm it works. Thank you for your help.

[2021-02-23 11:03] antonin-a commented on #158
Hello @niuzhenguo , APIs are now available so we should be able to resolve this issues (which is currently the oldest one :) )

[2021-02-23 14:17] duthifree opened #476 "[Feature request] [ELB] Data sources for flexibleengine_elb_loadbalancer ressource"
Hi there,

everything is in the title :)

We need this in order to create other ressources based on ELB data

eg:
[code]
thx !

[2021-02-23 16:43] antonin-a commented on #476
@niuzhenguo @ShiChangkuo can you please check this one ? Regards

[2021-02-24 02:49] ShiChangkuo commented on #420
@fculpo I get what you mean.

`export_location` already includes the sfs server host name which cannot be used alone, so I think the `host` is unnecessary.
did I miss something?

[2021-02-24 13:00] osaluden commented on #406
Thank you @ShiChangkuo !

[2021-02-24 14:55] q-b opened #479 "Documentation VPC Endpoint Service `type` -> `protocol`"
The [documentation for VPC Endpoint Service](https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/vpcep_service#type) is wrong. UDP or TCP in port_mapping should be specified with the key `protocol` not `type`.

[2021-02-25 06:31] ShiChangkuo commented on #479
sorry for the writing error, will fix it soon.

[2021-02-26 02:57] #158 closed

[2021-02-26 03:21] #479 closed

[2021-03-01 08:34] ShiChangkuo commented on #469
@gberche-orange seems the feature is not ready in both console and API, so we can't implement it in terraform.

[2021-03-01 08:40] antonin-a commented on #469
@qukuijin1989 can you please check if we can resolve it from platform side first (exposing the APIs) ?

[2021-03-01 08:44] ShiChangkuo commented on #474
@antonin-a @DafuSHI I am working on this, but get a 403 error from the cloud side even using the full permissions account.

may need your help here.

[2021-03-01 12:29] gberche-orange commented on #469
@ShiChangkuo @antonin-a
Isn't the account settings ACL correponding to the following console dialog below in flexible engine ?
If so, can you please details the missing API prerequisite to implement support this feature in the terraform provider ?

![image](https://user-images.githubusercontent.com/4748380/109497168-ee317f80-7a91-11eb-9bbb-4cd21ad7bc4e.png)

[2021-03-02 02:33] ShiChangkuo commented on #469
@gberche-orange I get the function in `Account Steeing/ACL` dialog, thx.
but, the API is missing, please refer to [here]( https://support.huaweicloud.com/intl/en-us/api-iam/iam_17_0007.html).

[2021-03-02 08:15] qukuijin1989 commented on #469
@antonin-a
yes we found it has some API missing, i had create a ticket for R&D to give us these API

[2021-03-02 08:55] #409 closed

[2021-03-02 08:55] #257 closed

[2021-03-03 07:55] ShiChangkuo commented on #406
we can specifies the iam agency name as follow:

[code]

[2021-03-05 14:40] antonin-a opened #486 "[RDS] Asking for subnet_id but waiting network_id instead"
Hi there,

When trying to create a RDS instance using https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/rds_instance_v3

"Subnet_id" argument is asked : https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/rds_instance_v3#subnet_id

But in fact it is waiting for 'network_id'

(Looks similar to https://github

[2021-03-09 00:05] pierrecarre opened #487 "LB Pool v2 UDP support"
Hello,

according to the documentation (and thanks to the fix of issue #413), we can create lb_listener_v2 in UDP, but we cannot create a lb_pool_v2 in UDP,

[code]

https://github.com/FlexibleEngineCloud/terraform-provider-flexibleengine/blob/6df0ace822dfec27599056ce3e2dfeb407c9bf13/flexibleengine/resource_flexibleengine_lb_pool_v2.go#L52-L64

even if this is allowed by the API (and through the w

[2021-03-09 07:46] ShiChangkuo commented on #487
@pierrecarre Thanks for raising this, will fix it soon.

[2021-03-09 09:14] #406 closed

[2021-03-09 09:14] #487 closed

[2021-03-09 20:11] Soprad opened #492 "[DNS] "SRV" type records not being idempotent"
Hello,

### Terraform Version
[code]
### Affected Resource(s)
- flexibleengine_dns_recordset_v2

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
[code]

### Actual Behavior
Each `terraform apply`  or `terraform plan` change is planned even if ressource or code have not changed

### Steps to Reproduce
1. `terraform apply`
2. `terraform apply` or `terraform p

[2021-03-11 07:55] ShiChangkuo commented on #492
@Soprad maybe the issue was caused by the API side.
We can consider changing the type of `records` to **Set** which can ignore the order of records, but should evaluate the compatibility.

[2021-03-16 10:02] q-b opened #494 "[VPC Endpoint Service] Doc: allow all domains"
From the VPC Endpoint Service documentation [permissions argument](https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/vpcep_service#permissions) description:

This should just be the wildcard `*` instead of the whole string:

[code]

[2021-03-16 14:07] q-b opened #495 "[flexibleengine_vpcep_approval] does not work cross-project."
Provider version: 1.18.0

Description: `flexibleengine_vpcep_approval` does not work cross-project.

1. Get the VPC endpoint service status OK:
[code]

2. Accept the connection from the VPC endpoint service OK:
[code]

3. Check if the VPC endpoint is in the accepted state KO:
[code]

We can see that `<PROJECT_ID_1>` is used instead of `<PROJECT_ID_2>` where the endpoint belongs.

[2021-03-17 09:33] antonin-a commented on #495
@niuzhenguo can you please check this one

[2021-03-17 10:13] antonin-a commented on #214
Hello @niuzhenguo @ShiChangkuo gentle reminder here. Is there ongoing actions for this one ?

[2021-03-17 10:18] antonin-a commented on #279
@qukuijin1989 it seems that there is still no solution to manage the parameter groups properly. Can we please try to move forward on this one ?

[2021-03-17 10:20] antonin-a commented on #299
I do not manage to reproduce anymore, closing

[2021-03-17 10:20] #299 closed

[2021-03-17 10:21] antonin-a commented on #303
@niuzhenguo @T0m-4s very late reply (sorry for that) but I discover this one while checking the opened issues. @T0m-4s did you finally find a answer with Flexible Engine support ?

[2021-03-17 10:22] antonin-a commented on #314
Still in progress

[2021-03-18 07:16] ShiChangkuo commented on #494
@q-b thanks for raising this, we will test the issue and update the documentation.

[2021-03-18 07:19] ShiChangkuo commented on #495
@q-b does vpc endpoint approval work cross-project by console?

[2021-03-18 09:31] q-b commented on #495
@ShiChangkuo you can see from the logs that acceptation works. We end up with an approved connection in the web UI (and connectivity indeed appears to be ok).

The problem is in the finalization of the `terraform apply` command. The provider tries to ensure that the connection is OK but fails to do so (because it is looking for the VPC endpoint object in the wrong project). Since that step is unsu

[2021-03-19 03:35] ShiChangkuo commented on #495
@q-b I see your point.
As the approved `vpc endpoint` can created by other projects or other domain accounts, we can not query the details. I will try another way to support cross-project.

[2021-03-19 15:55] BigDaddyAdy opened #498 "Compute instances are forcefully recreated due to missing network metadata in tfstate"
Hello,

Starting from version 1.18.0 of flexibleengine provider running terraform plan forces the recreation of all the existing compute instances due to a network change, although no change on infrastructure is done.
After inspecting the terraform.tfstate file after apply, the compute instance block is showing an empty list for network metadata:
[code]
Prior to version 1.18.0 of flexibleenginepro

[2021-03-22 12:40] #494 closed

[2021-03-22 15:21] qukuijin1989 commented on #498
@ShiChangkuo @niuzhenguo  please check this?

[2021-03-24 08:53] screwyy opened #499 "Why limit flexibleengine_identity_role_v3 limit to 9 policies ?"
Hi there,

I have 11 policies I want to add to a role in flexibleengine_identity_role_v3 but terraform complains that there is a limit of 9. If you go in the FE console you can add more than 9 policies, so why is this limitation ?

### Terraform Version
0.12.28

### Affected Resource(s)
flexibleengine_identity_role_v3

### Terraform Configuration Files
I have 11 policies but terraform complains th

[2021-03-27 01:56] ShiChangkuo commented on #499
@screwyy the maximum of policy statements is limited by the cloud side, please refer to the [API document](https://docs.prod-cloud-ocb.orange-business.com/api/iam/iam_02_0013.html#iam_02_0013__en-us_topic_0222393171_en-us_topic_0222037452_response_Rs113RolePolicy).

[2021-03-29 06:58] Lance52259 commented on #498
@qukuijin1989 network name was removed at #437, you can use uuid to instead.
We will fix this in the next release.

[2021-03-30 09:52] sbernier-corp opened #503 "S3 Default Bucket Encryption"
Hi there,

This is a feature request on flexibleengine_s3_bucket resource.

There is no way on the flexibleengine_s3_bucket  resource to Enable Default Server Side Encryption.

From documentation of flexible engine :
https://docs.prod-cloud-ocb.orange-business.com/api/obs/en-us_topic_0190318905.html
There is description of Put API to activate the default encryption on the target Bucket.
PUT /?encr

[2021-03-30 15:35] sbernier-corp opened #504 "[Feature Request] CloudEye Alarms creation"
Hi there,

Would be good if we could manage with Terraform the Cloud Eye Alarms.
Api Exists for this :
https://docs.prod-cloud-ocb.orange-business.com/api/ces/ces_03_0031.html

thanks,
Stéphane

[2021-04-01 08:20] vlandemaine-orange opened #505 "[Feature Request] OBS Bucket replication"
Hello,

Since it's possible to create **Cross-AZ OBS Bucket**, we have a parameter in the API **"x-amz-az-redundancy**" used to enable the replication.

We don't have any parameters on the Terraform provider to enable this on the **flexibleengine_s3_bucket**  and **flexibleengine_obs_bucket** resources.

It is possible to add a new parameter on the provider to enable the replication for the creati

[2021-04-07 06:36] #455 closed

[2021-04-08 06:13] #492 closed

[2021-04-08 06:19] alpersid opened #517 "[Flexible Engine ELB monitor] - terraform crashes if monitor type is HTTP"
Hi there,

### Terraform Version
Terraform v0.14.9

Tested with :
plugin.terraform-provider-flexibleengine_v1.19.0
plugin.terraform-provider-flexibleengine_v1.19.1

### Affected Resource(s)
- flexibleengine_lb_monitor_v2

### Terraform Configuration Files
[code]

### Expected Behavior
The ELB, Listener and Monitor to be created

### Actual Behavior
In TCP mode for Listener, Pool and Monitor everyt

[2021-04-08 08:21] ShiChangkuo commented on #517
@alpersid thanks for raising this, will fix it soon.

[2021-04-08 09:44] #495 closed

[2021-04-08 12:23] #517 closed

[2021-04-08 13:05] fallmor opened #519 "[cce node pools] tags not available on cce module"
For billing purpose we need to tag resources deployed with cce node pools. From the console we can add tag manually on node pools but the terraform ressource does not support tagging. Are you planning to add this functionnality ?

**Affected Resource(s)**
resource_flexibleengine_cce_node_pool

Thanks in advance for your feedback.

[2021-04-12 08:03] alpersid opened #521 "[Feature Evolution] - add agency selection for AS Group / ECS"
Hello guys,

Currently there is an option to configure an agent on an ECS which will gather metrics from it.
 You will be able to see the metrics on Cloud Eye / Server Monitoring / Elastic Cloud Server.
I have the ICAgent already installed on the ECS by using a custom image.

Currently, if you want to configure it from terraform, there's no possibility to assign an agency to an ECS or to an AS Gro

[2021-04-12 09:29] q-b commented on #495
When should we expect a new release with the fix included?

[2021-04-12 14:58] konoox opened #522 "flexibleengine_rds_instance_v3 : Minor changes systematically recreate the resource"
Hello,

RDS update systematically create a new resource. It is the documented behaivior, but it is not acceptable to have to recreate the resource when you want to scale disk or increase backup retention..
When these operations are executed from GUI or from API, these action doesn't recreate the RDS.
When using the terraform huaweicloud provider (terraform-provider-huaweicloud), it does not recrea

[2021-04-13 02:19] ShiChangkuo commented on #521
Hi, @alpersid

Looks similar to #407, you can configure the agency by `metadata` field.

[2021-04-14 06:03] alpersid commented on #521
I confirm that using metadata on as_configuration is working.

Thank you for your quick reaction!

[2021-04-14 06:03] #521 closed

[2021-04-14 06:04] alpersid commented on #521
Thank you for your quick response!
I confirm that adding the field on as_configuration is working.
Duplicate of #

[2021-04-14 06:12] alpersid commented on #504
Hello,

It's already implemented:
https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/ces_alarmrule

You have to create a smn topic, make a subscription and finally an alarm. You can link the alarm to multiple types of resources, including as_groups

Here is something I use:

[code]

[2021-04-14 06:37] alpersid commented on #486
Hello,

I'm using the RDS instance v3 on my project, but the subnet_id is not related to network_id.

Here is a code I'm using:

[code]

If you have all code in the same folder you can replace inside the rds creation var.subnet_id with 'flexibleengine_vpc_subnet_v1.**your_subnet_name**.id'

[2021-04-14 07:17] alpersid opened #523 "[flexibleengine_dns_recordset_v2] - if array is used it will update the resource at each plan/apply"
Hello guys,

### Terraform Version
13, 14 , 15
### Affected Resource(s)
- flexibleengine_dns_recordset_v2

### Terraform Configuration Files
[code]

### Expected Behavior
If the values are the same as in tfstate, no update should be triggered

### Actual Behavior
terraform plan:
Terraform will perform the following actions:
[code]

### Steps to Reproduce
Please list the steps required to reproduce

[2021-04-14 07:44] sbernier-corp commented on #504
Oh, perfect I may have missed the resource.
Thank you for your answer.

[2021-04-14 07:44] #504 closed

[2021-04-14 07:48] ShiChangkuo commented on #523
Looks similar to #492, we will fix it in the next release.

[2021-04-14 07:54] alpersid commented on #523
Thank you for your quick feedback!
I will test it after the next release will be available and will let you know the result.

[2021-04-15 09:34] alpersid opened #524 "[AS Group] - elb limit"
Hello guys,

The AS Group is limited to only 3 ELBs. In my current deployment I plan to have > 8 ELBs for a single AS Group.
Can you change the limitation to > 10 ELBs?

'''
lbaas_listeners - (Optional) An array of one or more enhanced load balancer. The system supports the binding of up to **three load balancers**. The field is alternative to lb_listener_id. The lbaas_listeners object structure i

[2021-04-16 07:39] alpersid commented on #447
Hello,

Distributed Message Service ( Kafka ) can be deployed using "**flexibleengine_dcs_product_v1**"

Please have a look at [dcs product](https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/data-sources/dcs_product_v1#engine):

[code]

[2021-04-16 12:54] alpersid opened #525 "[Product Evolution][AS Group][Lifecycle hook] - add lifecycle hook"
Hello guys,

I would like you to add the management of the resource "lifecycle_hooks" using terraform

The lifecycle_hook is already implemented in API:

`POST /autoscaling-api/v1/{project_id}/scaling_lifecycle_hook/{scaling_group_id}`

 **Parameter description**
Parameter | Mandatory | Type | Description
-- | -- | -- | --
project_id | Yes | String | Specifies the project ID.
scaling_group_id | Ye

[2021-04-19 11:19] alpersid opened #526 "[flexibleengine_ces_alarmrule] - add alarm_level"
Hello,

I would like you to add support for alarm_level inside the [flexibleengine_ces_alarmrule](https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/ces_alarmrule) resource.

The field is already present in the API, but not manageable via terraform.

Parameter | Mandatory | Type | Description
-- | -- | -- | --
alarm_level | No | Integer | Specifies the

[2021-04-19 12:15] alpersid opened #527 "[HTTP 429 - too many requests] - error on terraform apply/refresh"
Hi there,

During terraform refresh/apply I receive the error HTTP 429 - too many requests.

From what I've found, the issue is on the API side and it can be solved by using parallelism=n.

I've  tried with all types of parallelism, from  4 to 1 and still got the same issue.

From what I see from the output, the alarm rules are refreshed successfully, but when refreshing the as_policy, which is li

[2021-04-21 09:12] antonin-a commented on #503
@sbernier-corp can you confirm that it is duplicating https://github.com/FlexibleEngineCloud/terraform-provider-flexibleengine/issues/419 ?

[2021-04-21 09:13] #498 closed

[2021-04-21 09:14] BigDaddyAdy commented on #498
Hello, that fixed the problem. Thank you!

[2021-04-21 12:01] sbernier-corp commented on #503
yes it is.

[2021-04-21 12:01] #503 closed

[2021-04-21 21:48] alpersid commented on #524
Hello guys,
Can you please check this issue?
Thank you in advance,
Alex

[2021-04-26 07:10] qukuijin1989 commented on #447
@rapheon hi tony, is this ticket can be closed?

[2021-04-26 07:26] qukuijin1989 commented on #522
hi @konoox
we will delivery this feature at the middle of June
cc to @ShiChangkuo

[2021-04-26 07:30] qukuijin1989 commented on #524
@ShiChangkuo

[2021-04-26 07:31] qukuijin1989 commented on #525
hi @alpersid
we will delivery this feature at the middle of june
cc to @shichangkuo

[2021-04-26 07:33] qukuijin1989 commented on #526
we will delivery this feature before the end of this week
 cc to @ShiChangkuo

[2021-04-26 20:46] qukuijin1989 commented on #505
@vlandemaine-orange
we will analyse your requirement
cc to @ShiChangkuo

[2021-04-26 20:47] qukuijin1989 commented on #519
@fallmor
we will delivery this feature at 530
cc to @shichangk

[2021-04-27 02:22] ShiChangkuo commented on #524
@alpersid Perhaps it's the limitation of AS Group service. You can submit a service ticket to report it.

[2021-04-27 02:33] ShiChangkuo commented on #527
@alpersid the `max_retries` is not available in FlexibleEngine provider.

How many resources were managed in your module?

[2021-04-27 19:23] alpersid commented on #527
Hello,

In the mentioned module I have 32 resources.
Seems that using parallelism=1 makes it work after ~2 retries, but it's taking a lot of time.

Best regards,
Alex

[2021-04-30 03:39] #526 closed

[2021-04-30 06:51] ShiChangkuo commented on #527
@alpersid can you show the debug log? we can get the specified API which has exceeded the limitation on the cloud side.

[2021-04-30 09:26] ShiChangkuo commented on #523
@alpersid please try the new release [v1.20.0](https://github.com/FlexibleEngineCloud/terraform-provider-flexibleengine/releases/tag/v1.20.0)

[2021-05-04 13:00] alpersid commented on #523
I confirmed that it was solved in the new release.
Thanks!

[2021-05-04 13:00] #523 closed

[2021-05-04 13:50] alpersid commented on #527
Hello,

Here you can find the  [full debug log:](https://github.com/alpersid/alpersid-logs/blob/main/debug-plan.log)

[code]
Thank you in advance,
Alex

[2021-05-06 03:38] ShiChangkuo commented on #527
Hi, Alex

After analyzing the debug log, it is confirmed that the issue is caused by the API flow control, and the corresponding API is [Querying an Alarm Rule](https://docs.prod-cloud-ocb.orange-business.com/api/ces/ces_03_0028.html).

@antonin-a @qukuijin Maybe we need your help to expand the throttling threshold of specified API.

[2021-05-06 08:31] antonin-a commented on #527
Hello @alpersid it seems to be caused by an API rate limit on platform side. The best solution for such cases is to open a ticket on Cloud Provider side (Flexible Engine Service Desk). Can you please send them the URL of this issue with a short description ?
(@ShiChangkuo @qukuijin1989 )

[2021-05-06 08:38] DafuSHI commented on #527
Meanwhile I will check with Ops side to see if they observed api limitation

[2021-05-06 12:30] qukuijin1989 commented on #527
hi @alpersid
could you provide the tenant ID, we will Increase the limit

[2021-05-06 14:28] qukuijin1989 commented on #527
we will raise the limitation

[2021-05-06 19:01] alpersid commented on #527
Thanks guys for your quick reaction! I really appreciate all your hard work :)

[2021-05-06 19:03] alpersid commented on #524
Hello guys,
I've opened a service ticket last week and I'm waiting for their feedback.
I will close this thread after I'll get the response, maybe it will help others ;)

[2021-05-10 14:46] antonin-a opened #533 "[WAFaaS] Ressource is missing"
Hi there,

WAFaaS is currently available on Flexible Engine cloud (https://docs.prod-cloud-ocb.orange-business.com/api/waf/waf_02_0102.html)  but the Terraform resource is not available here. Is it possible to add it ?

Regards