[2021-05-11 07:52] qukuijin1989 commented on #533
@antonin-a
i will check it, when can we add Waf

[2021-05-12 11:16] ShiChangkuo commented on #340
Hi, Dafu

`region` has been deprecated in many resources, user can ignore it.
It's not possible to hide `product_id` and `available_zones` fields, as they are required in [flexibleengine_dcs_instance_v1](https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/dcs_instance_v1) which are also mandatory in the API.

[2021-05-12 12:40] ShiChangkuo commented on #427
@fculpo will close this issue as many resources supported `tags` field and we will still work on this feature.

if you find tags is missing in the resource you needed, please feel free to create a new issue just like #519.

[2021-05-12 14:35] Benjile opened #537 "S3 Api - Acceptance tests - connection reset by peer"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
terraform 13.6 and terraform 14.7

### Affected Resource(s)
Please list the resources as a list, for example:
- resource_flexibleengine_s3_bucket

[2021-05-13 03:40] ShiChangkuo commented on #537
Hi @Benjile

Thanks for raising this. Did you run the acceptance testing on the latest master brance?
I also encounter this issue using previous versions with AK/SK auth.
@antonin-a @qukuijin please have a look at this issue. Has the IAM service do any breaking changes?

[2021-05-13 10:18] Benjile commented on #537
I tested it on 1.12.1 and 1.19.1 and master every time with AK/SK auth.
I thought the S3 api forced us to use AK/SK a few month ago. I've just retried with username/password and it seems the s3 api works with this auth method. Maybe this requirement changed on the api side or my memory plays me some tricks, dunno...
Whatever, it seems the acceptance test does not end in tcp connection reset with u

[2021-05-13 11:16] #476 closed

[2021-05-17 07:39] antonin-a commented on #537
Hello @Benjile I do confirm that it was working perfectly using AK/SK but I'm now facing the exact same issue. We are investigating

[2021-05-17 08:37] Benjile commented on #537
thanx @antonin-a
An issue has been raised with FE support too

[2021-05-17 11:32] sbernier-corp commented on #252
Any news ?
My customer is waiting for this feature ;-)

[2021-05-17 11:38] sbernier-corp commented on #419
Hi,

Any news ?
My customer is waiting for this feature ;-)

[2021-05-19 06:18] ShiChangkuo commented on #522
@konoox sorry for the late response.
the provider can not update RDS resource as some APIs are missing.
please refre to the Help Center:
https://docs.prod-cloud-ocb.orange-business.com/api/rds/rds_05_0000.html

[2021-05-19 06:25] #519 closed

[2021-05-19 06:26] #427 closed

[2021-05-21 12:36] sbernier-corp opened #540 "[CSS] [Feature Request] missing Cluster Snapshots/Basic configuration change"
Hi,

From Terraform provider it is not possible to configure the "Basic Configuration" from the "Cluster Snapshot".
So it's not possible to define the following parameters:
- OBS Bucket
- Backup Path
- IAM Agency

The api exists to change the Basic Configurations of a Cluster Snapshot
https://docs.prod-cloud-ocb.orange-business.com/api/css/css_03_0030.html

The CSS deployment fails due to this mis

[2021-05-26 12:43] Benjile commented on #537
Acceptance tests works now. The issue has been solved by FE team.

[2021-05-26 12:43] #537 closed

[2021-05-31 02:21] #522 closed

[2021-05-31 07:40] #525 closed

[2021-06-02 12:35] qukuijin1989 commented on #527
HI @alpersid
please have a try

[2021-06-04 09:34] sbernier-corp commented on #540
Any feedback ?

[2021-06-07 14:56] SORC3r3r opened #547 "Keep tfstate in remote backend"
Hi,

is it possible to use a remote backend to store the terraform state like for AWS and other cloud providers?

AWS example:
[code]

If not, would this be the place to add that feature request? :)

[2021-06-07 17:10] osaluden commented on #547
Hello Jonas
Sure you can. The Flexible Engine Object Storage Service is S3 compatible, so you can use the S3 backend. Here is a configuration sample :

[code]

I think `skip_region_validation`  and `skip_credentials_validation` parameters are mandatory (to be tested)

[2021-06-08 13:05] sbernier-corp opened #548 "[RDS] SG not found with provider 1.21.0"
Hi there,

When moving from Provider from 1.20.0 to 1.21.0 we are no more able to deploy RDS servers due to following error:

Error: Error creating FlexibleEngine RDS instance: Resource not found: [POST https://rds.eu-west-0.prod-cloud-ocb.orange-business.com/v3/80ba4a1aac8745eda535af39aa9ee2d1/instances], error message: {"error_msg":"Security group ID does not exist.","error_code":"DBS.200502"}

[2021-06-08 14:10] #547 closed

[2021-06-09 07:08] eonpatapon opened #549 "flexibleengine_cce_node_pool_v3: labels and taints lost on pool update"
### Terraform Version

[code]

### Affected Resource(s)

`flexibleengine_cce_node_pool_v3`

### Terraform Configuration Files

[code]

### Actual Behavior

On pool update any labels or taints set at the pool creation are lost.

### Steps to Reproduce

Using the provided configuration

[code]

Check the `pool` label is correctly set:

[code]

Check `Taints` are set:

[code]

Add tags on the pool, t

[2021-06-09 07:45] #505 closed

[2021-06-09 12:00] ShiChangkuo commented on #548
@sbernier-corp Do you use the same `security_group_id` between v1.20 and v1.21?
if yes, can you provide the configuration script or logging file?

[2021-06-09 15:55] sbernier-corp commented on #548
yes I used the same security_group_id.
I was using the same stack for the test with 1.21 and 1.20.

[2021-06-10 02:22] ShiChangkuo commented on #548
I tested well in my local machine with an existing security_group_id, and also encountered the same error with an un-existing security_group_id.

if the security group was created dynamically, please check it is not destroyed before using it.

[2021-06-10 06:44] ShiChangkuo commented on #549
@eonpatapon thanks for raising this, will fix it soon.

[2021-06-15 07:40] eonpatapon opened #553 "[Feature request] Add resources for identity federation"
Hi,

We would like to provision IDP and mappings in different FE domains.

https://docs.prod-cloud-ocb.orange-business.com/en-us/api/iam/en-us_topic_0057845573.html

Wanted to add theses but the problem is that theses APIs are not yet in the golang sdk (https://github.com/huaweicloud/golangsdk/issues/482).

[2021-06-15 12:00] #549 closed

[2021-06-15 16:55] sbernier-corp commented on #548
Hi ShiChangkuo,

Thank you for your answer.
Unfortunately, it does not work on my side.
Same code works with flexibleengine version 1.20 but fails with 1.21.
With error:
Error: Error creating FlexibleEngine RDS instance: Resource not found: [POST https://rds.eu-west-0.prod-cloud-ocb.orange-business.com/v3/80ba4a1aac8745eda535af39aa9ee2d1/instances], error message: {"error_msg":"Security group ID d

[2021-06-16 10:22] sbernier-corp commented on #419
Well we raise the issue in January .. so now customer wants it asap ;-)

[2021-06-16 12:17] ShiChangkuo commented on #419
@sbernier-corp we will release the feature before the end of June.

Also, you can try to build with #554 to check whether it meets the requirement.

[2021-06-16 12:29] #340 closed

[2021-06-16 12:31] sbernier-corp commented on #419
@ShiChangkuo, perfect sounds good.
Just have the following issue https://github.com/FlexibleEngineCloud/terraform-provider-flexibleengine/issues/548 that avoid my customer to migrate to last version of the terraform provider.
Can the 548 issue be fixed also ?

[2021-06-16 12:41] ShiChangkuo commented on #548
It also works well when I created a RDS instance with 1.20, and then updated the provider to 1.21.

can you supply the your tf script and the [log file](https://docs.prod-cloud-ocb.orange-business.com/usermanual/terraform/terraform_0004.html)?

[2021-06-16 15:34] sbernier-corp commented on #548
Please find the log archive [Logs_16_06_21.zip](https://github.com/FlexibleEngineCloud/terraform-provider-flexibleengine/files/6664095/Logs_16_06_21.zip)
There is 3 files
  + rds-creation-provider-1.21.out: trying to create rds with security group issue when using provider 1.21
  + rds-creation-provider-1.20.out: Creating rds working with provider 1.20
  + rds-update-provider-from-1.20-to-1.21.out

[2021-06-16 16:07] sbernier-corp commented on #548
Please find the correspnding TF code
[rds.tar.gz](https://github.com/FlexibleEngineCloud/terraform-provider-flexibleengine/files/6664321/rds.tar.gz)

[2021-06-17 03:31] ShiChangkuo commented on #548
@sbernier-corp Did the rds instance locate in a sub-project of eu-west-0?

[2021-06-17 08:06] sbernier-corp commented on #548
Yes the rds is located in sub project under eu-west-0 for my test environment and also for the customer environment.

[2021-06-17 12:14] ShiChangkuo commented on #548
ok, I'll test it in a sub project, and try to fix it as soon as I can.

[2021-06-17 12:21] #252 closed

[2021-06-17 12:21] #419 closed

[2021-06-18 10:28] #548 closed

[2021-06-23 14:05] ypilpre opened #560 "No Flavor Specification for Data Query"
When I tried to get a flavor id from data (from ECS, BMS, RDS or DDS for example), there is no argument for querying a flavor based on performance type, cpu or ram.

In Huawei Cloud, There is a `huaweicloud_compute_flavors` with detailed query.

[2021-06-23 17:29] ypilpre opened #561 "[RDS] Error Deploying RDS inside a project with 1.2x version"
Hi there,

We encounter a bug when trying to deploy a RDS instance in a project. The `loadUserProjects` function in  `terraform-provider-flexibleengine/vendor/github.com/huaweicloud/terraform-provider-huaweicloud/huaweicloud/config/config.go` return only the region main project and not subproject. This case occurs only in RDS deployment as far as we tested it. We didn't get this bug on 1.19 versio

[2021-06-24 02:09] ShiChangkuo commented on #561
similar to #548, you can try the next release.

[2021-06-25 06:28] sbernier-corp opened #563 "[Feature Request][DCS] Whitelist support"
Hi there,

We would need the support of whitelist on DCS service.
This new feature comes in replacement of the security groups for Redis 4 and 5.

Documentation for this feature does not exist for now, However I was able to secure an API sample
With Method PUT
https://console.prod-cloud-ocb.orange-business.com/dcs/rest/dcs/v2/{$tenant_id}/instance/{$instance_id}/whitelist

{
    "instance_id":"1fc

[2021-06-25 07:24] francois-travais opened #564 "[EIP] Cannot set tags on flexibleengine_vpc_eip_v1"
### Terraform Version

`v1.0.0`

### Affected Resource(s)

- flexibleengine_vpc_eip_v1

### Expected Behavior

I expected to be able to set tags on EIP or bandwidth like in the console.
![image](https://user-images.githubusercontent.com/3679481/123386449-fbb9ca80-d596-11eb-9142-b32b05ea17b5.png)

### Actual Behavior

There's no way to attach tags to EIPs nor bandwidths.

[2021-06-26 03:11] #533 closed

[2021-06-29 08:21] ShiChangkuo commented on #561
@ypilpre have you try the v1.22.0 which will fix the issue?

[2021-06-30 09:45] tundragon opened #569 "provider produced an unexpected new value"
Hi there,

### Terraform Version
Terraform v1.0.1
on windows_amd64
+ provider registry.terraform.io/flexibleenginecloud/flexibleengine v1.21.0

### Affected Resource(s)
- ecs create

### Terraform Configuration Files
terraform {
  required_providers {
    flexibleengine = {
      source = "FlexibleEngineCloud/flexibleengine"
      version = "1.21.0"
    }
  }
}

provider "flexibleengine" {
  acces

[2021-07-01 08:08] tundragon commented on #569
I have upgraded to flexible engine 1.22 but i am still getting this error

https://gist.github.com/tundragon/b71fc5bb71cbb556be08e62a4e4d6d49

[2021-07-01 10:12] ypilpre commented on #561
I confirmed that 1.22.0 fix the issue

[2021-07-01 10:12] #561 closed

[2021-07-01 16:01] smasset-orange opened #570 "Alarm rule always created in default project"
We're testing alarm rule creation on RDS DB disk usage which should send email alert through SMN topic.

Our terraform configuration file contains RDS DB, topic, topic subscription, and alarm rule resources which should be created in a specific sub project.

All resources are correctly created (terraform apply succeeds) but the alarm rule is created in the default project and not in the same proje

[2021-07-02 09:36] francois-travais opened #571 "[DDS] Cannot get port of DDS replicaset instance"
### Terraform Version
[code]

### Affected Resource(s)
- flexibleengine_dds_instance_v3

### Terraform Configuration Files
[code]
### Expected Behavior
I expect to be able to get DDS port like this `flexibleengine_dds_instance_v3.replicaset.port`, even after the initial DDS instance provisioning.

### Actual Behavior
`flexibleengine_dds_instance_v3.replicaset.port` after the first run

### Steps t

[2021-07-02 09:47] francois-travais opened #572 "[IMS] Cannot set BIOS mode"
### Terraform Version
[code]
### Affected Resource(s)

- flexibleengine_images_image_v2

### Expected Behavior
Having an argument available to set the BIOS mode. By default it's set to legacy BIOS, however I would like to use UEFI.

### Actual Behavior
No argument provided to do so.

### References

The console documentation describing the BIOS mode option: https://docs.prod-cloud-ocb.orange-busin

[2021-07-05 03:19] ShiChangkuo commented on #572
Hi @francois-travais
seems the corresponding APIs are [Importing an Image File Quickly](https://docs.prod-cloud-ocb.orange-business.com/api/ims/en-us_topic_0133188204.html) or [Creating Image Metadata (Native OpenStack API)](https://docs.prod-cloud-ocb.orange-business.com/api/ims/en-us_topic_0031615565.html), but neither of them has `boot mode` field.

pleae open a ticket to IMS service in cloud s

[2021-07-05 12:27] #571 closed

[2021-07-05 14:38] marius-oro opened #574 "flexibleengine_fw_rule_v2 removal issue"
Hi there,

I am trying to use terraform to manage Flexible Engine Network ACLs. All good, I can create ALCs and rules (either by using flexibleengine_network_<resource> or flexibleengine_fw_<resource>). The problem comes when I try to destroy an existing rule from the network ACL. Using flexibleengine_fw_policy_v2 and flexibleengine_fw_rule_v2 resources, whenever I remove the code for the rule (to

[2021-07-06 07:18] ShiChangkuo commented on #563
Hi @sbernier-corp
seems the corresponding API is missing, please open a ticket to DCS service in cloud side firstly.

cc to @qukuijin @antonin-a

[2021-07-06 08:18] sbernier-corp commented on #563
Bonjour Tony,

Pourrais-tu ouvrir une demande de pour pouvoir bénéficier du whitelist au niveau DCS via les API ?

Merci d’avance,

Stéphane

De : shichangkuo ***@***.***
Envoyé : mardi 6 juillet 2021 09:19
À : FlexibleEngineCloud/terraform-provider-flexibleengine ***@***.***>
Cc : BERNIER Stephane OBS/OCB ***@***.***>; Mention ***@***.***>
Objet : Re: [FlexibleEngineCloud/terraform-provider-flexi

[2021-07-06 09:02] #334 closed

[2021-07-06 09:36] #564 closed

[2021-07-07 03:28] ShiChangkuo commented on #574
@marius-oro Thanks for raising this.

I also encountered the issue.
When we execute apply command at the last step, terraform should update the policy to unbind rule_2 **firstly**, then try ro delete the rule.
Unfortunately the order is reversed.

I think the root reason is caused by terraform.
You can apply the code after updating the policy by removing rule_2, and then apply it again after remov

[2021-07-07 07:09] marius-oro commented on #574
@ShiChangkuo thanks for taking a look.
Unfortunately, doing the removal in two steps is not applicable because we intend to build and maintain the rules automatically. For example, we have a set of N instances (count = N) we want to add to the ACL filtering, thus we will build N rules for the ACL. We are doing this by having a for clause which builds the rules based on the count index of the insta

[2021-07-07 07:35] ShiChangkuo commented on #569
Hi, @tundragon I can not reproduce the issue with same terraform version.

can you get the ecs instance in console?

[2021-07-07 07:44] tundragon commented on #569
Hello @ShiChangkuo .

Yes, the ECS gets created in Flexible Engine console.

The problem is that Terraform does not see it as created, thus it cannot get destroyed.
If i run the terraform script again, the ECS gets created again, as a different ECS with the same properties.

I have tried from another PC and I get the same error.

[2021-07-07 07:52] ShiChangkuo commented on #569
can you provide the debug log through [How Do I View Terraform Logs?](https://docs.prod-cloud-ocb.orange-business.com/usermanual/terraform/terraform_0004.html)

[2021-07-07 08:16] ShiChangkuo commented on #574
same issue with hashicorp/terraform#20196

Setting the resource's lifecycle to create before destroy will solve it, you can have a try.

[code]

[2021-07-07 08:55] marius-oro commented on #574
You're absolutely on point! I can confirm this is working. Thank you very much for you quick reaction.

[2021-07-07 09:01] #574 closed

[2021-07-07 11:02] tundragon commented on #569
[trace.log](https://github.com/FlexibleEngineCloud/terraform-provider-flexibleengine/files/6776312/trace.log)

Hello @ShiChangkuo
Attached.

[2021-07-08 03:15] ShiChangkuo commented on #569
@tundragon please try to add *tenant_name = "eu-west-0"* in the provider block.

[2021-07-08 06:21] tundragon commented on #569
Hello,
It is working.

Apply complete! Resources: 1 added, 0 changed, 0 destroyed.

I do not understand why, as it is optional.
https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs

[2021-07-08 07:00] ShiChangkuo commented on #569
Now, at least one of  `tenant_name` and `tenant_id` must be specified.
I will make `tenant_name` default to **region** in the feature, then it will be an optional field.

[2021-07-08 11:11] #527 closed

[2021-07-09 03:17] #569 closed

[2021-07-09 04:12] abhaysrivastava-orange opened #579 "image_source_url credentials not available"
Hi there,

In  module "flexibleengine_images_image_v2"  if we need to provide credentials for image_source_url   url then there is no option to provide it.

[2021-07-09 05:38] smasset-orange commented on #570
cc to @sbernier-corp

Hi @ShiChangkuo, any ETA for v1.23.0 release ?

[2021-07-09 09:22] ShiChangkuo commented on #579
@abhaysrivastava-orange could you try to set the credentials in a URL, e.g. https://username:password@example.com/file.img?

[2021-07-09 09:56] abhaysrivastava-orange commented on #579
@ShiChangkuo  Thanks its working fine for me.

[2021-07-12 08:01] ShiChangkuo commented on #570
@smasset-orange could you upgrade the provider to the latest  version, and test again?
I think the issue has been solved after v1.22.0+

[2021-07-12 09:27] ShiChangkuo commented on #404
@amyounis I'm going to close this issue because there is no updates for a long time.

If you have found a problem that seems similar to this, please feel free to open a new issue.

[2021-07-12 09:27] #404 closed

[2021-07-12 12:38] ShiChangkuo commented on #303
@T0m-4s I'm going to close this issue because there is no updates for a long time.

If you have found a problem that seems similar to this, please feel free to open a new issue.

[2021-07-12 12:38] #303 closed

[2021-07-13 06:56] sbernier-corp commented on #570
Hi ShiChankuo,
As Sebastien is on vacation, I have done the test and it works fine with 1.22 version of the provider.

[2021-07-13 12:29] ShiChangkuo commented on #570
Sounds great!

@sbernier-corp @smasset-orange
I'm going to close this issue, if you have found a problem that seems similar to this, please feel free to open a new issue.

[2021-07-13 12:29] #570 closed

[2021-07-13 13:29] SORC3r3r commented on #547
Nevermind, I just figured out that you have to use the AWS environment variable names instead of the flexible engine ones 🙏

[code]

[2021-07-14 04:47] abhaysrivastava-orange commented on #579
@ShiChangkuo From this above solution we are able to create image in glance but its only 12kb size although qcow2 size is 1.5G.
That's why from this new image its created faulty instance.

[2021-07-14 05:03] abhaysrivastava-orange commented on #579
As well as I want to inform that  I am picking qcow2 image from my flexible engine bucket. So i used accesskey and secret key

[2021-07-14 08:26] ShiChangkuo commented on #579
@abhaysrivastava-orange does [huaweicloud_images_image](https://registry.terraform.io/providers/huaweicloud/huaweicloud/latest/docs/resources/images_image) meet your needs?

If yes, I will try to implement a new resource in flexible engine.

[2021-07-14 08:37] ShiChangkuo commented on #420
@fculpo  I'm going to remove the `host` attribute as it is meaningless and always empty.

[2021-07-14 08:37] abhaysrivastava-orange commented on #579
In huaweicloud_images_image also how can we provide access_key and secret_key of obs bucket
There is no option.

[2021-07-14 09:01] ShiChangkuo commented on #579
access_key and secret_key are unnecessary because the bucket belongs to you.
for more details, please refer to https://docs.prod-cloud-ocb.orange-business.com/api/ims/en-us_topic_0037131984.html

[2021-07-14 09:11] #451 closed

[2021-07-14 09:13] abhaysrivastava-orange commented on #579
@ShiChangkuo  In my case bucket is not belong to me I have to fetch image from other user bucket so I need to provide access_key and secret_key

[2021-07-14 09:33] ShiChangkuo commented on #579
Do you mean you want to fetch the image with others AK/SK?

[2021-07-14 09:35] #420 closed

[2021-07-14 09:36] abhaysrivastava-orange commented on #579
@ShiChangkuo yes other ak/sk  and I have those as/sk. But need to insert in terraform

[2021-07-14 09:49] ShiChangkuo commented on #579
can the bucket owner add a policy that allows you to fetch the image file? then you can download it without authorization.
I think it's more safer.

[2021-07-14 10:51] abhaysrivastava-orange commented on #579
@ShiChangkuo  Yes but if they make it public then it will be public for all. So  anyhow we need to pass ak.sk while download.
Is it possible to give ak/sk in this terraform module "flexibleengine_images_image_v2"  or I will think on different approach.

[2021-07-14 12:07] ShiChangkuo commented on #333
@screwyy sorry for the late response.

It seems that huaweicloud/golangsdk#515 can solve the issue. Can you have time to test it again?

[2021-07-14 12:32] ShiChangkuo commented on #579
@abhaysrivastava-orange AK/SK is only an authorization method, but we cannot cover all situations where the image file can be obtained through authorization.

Maybe you can download it manually, then try to use `local_file_path` in "flexibleengine_images_image_v2".

[2021-07-14 15:47] abhaysrivastava-orange commented on #579
@ShiChangkuo  Thanks

[2021-07-17 08:15] ShiChangkuo commented on #540
@sbernier-corp the provider will enable snapshot function and set policy when `backup_strategy` block is specified.

can you provide the steps to reproduce the issue?

[2021-07-19 07:20] xescugc opened #586 "Migration to terraform-plugin-sdk/v2"
I left the template headers but it does not fit with them.

Basically Terraform released a while back the v2 of the sdk https://github.com/hashicorp/terraform-plugin-sdk and I was wondering if this Provider was intending to migrate to it.

I'll work on a PR for it as I need it for a project I'm working on. I'll open the PR to this repo too just in case it's wanted. Sometimes this changes are big a

[2021-07-23 09:36] ShiChangkuo commented on #586
@xescugc What‘s the benefit of using the v2 sdk for your project?

[2021-07-23 11:53] xescugc commented on #586
"Benefit" none actually.

At the company I work for we have several OSS projects related to tools around Terraform (https://github.com/cycloidio/terracognita, https://github.com/cycloidio/inframap and https://github.com/cycloidio/terracost) and also some internal products that are build on top of those tools: https://www.cycloid.io/stackcraft and https://www.cycloid.io/infraview.

For that I use c

[2021-07-26 02:34] ShiChangkuo commented on #586
@xescugc I get it. As the SDK v2 has breaking changes, we should test it carefully. Let's implement it as the following timeline:

1. merge huaweicloud/terraform-provider-huaweicloud#1309 into **sdkv2** branch;
2. release a new version for FlexibleEngineCloud before 7.28;
3. import huaweicloud/terraform-provider-huaweicloud@sdkv2 package;
4. merge #587
...

[2021-07-26 07:11] xescugc commented on #586
Yes I know :).

For me right now I needed to at least have the code compiling with v2 to unblock my project, so I had to have the PRs and I opened them to see if they are useful/wanted for the project (FlexibleEngine and by extension HuaweiCloud). I konw that the actual release project will take a while as the changes are quite important and need to be tested carefully, I'm totally aware of that.

[2021-07-30 15:05] edouardhue opened #592 "[WAF] No way to set desired protection types of Basic Web Protection in a policy"
### Terraform Version
[code]

### Affected Resource(s)
- flexibleengine_waf_policy

### Terraform Configuration Files
[code]

### Expected Behavior
It should be possible to configure protection options as described in the [docs for Basic Web Protection](https://docs.prod-cloud-ocb.orange-business.com/usermanual/waf/waf_01_0008.html). [API doc](https://docs.prod-cloud-ocb.orange-business.com/api/wa

[2021-08-02 03:13] ShiChangkuo commented on #592
@edouardhue can you use flexibleengine_waf_rule_xxx to meet your needs?

[2021-08-02 07:41] edouardhue commented on #592
@ShiChangkuo I may have missed something, but it looks like `flexibleengine_waf_rule_xxx` are rules for some kind of "advanced" protection, but the options for Basic Web Protection that are available in the Console and the API are nowhere to be found in the provider. According to the doc, these are no rules but simple boolean switches at the policy level.

![Settings in the Console](https://docs.p

[2021-08-02 09:49] ShiChangkuo commented on #592
@edouardhue I got it, will implement it in the next release.

[2021-08-02 10:01] edouardhue commented on #592
Thanks !

[2021-08-03 11:49] #586 closed

[2021-08-05 02:20] #499 closed

[2021-08-05 02:22] ShiChangkuo commented on #524
@alpersid Are there any updates?

[2021-08-05 02:27] #579 closed

[2021-08-09 08:19] ShiChangkuo commented on #426
@fculpo the issue was fixed by the cloud side, please try it again.

[2021-08-10 02:00] #474 closed

[2021-08-24 05:07] abhaysrivastava-orange opened #601 "ZVHD disk format not supported"
Hi there,

I am using zvhd disk format for my windows OS from which image need to create  but zvhd format not supported here.

What to do now. Please suggest.

[2021-09-07 11:51] agoulamhoussen opened #602 "Some resources doesn't use proxy configuration"
Hi,

I'm using the Flexible Engine provider since a couple of years now behind my corporate proxy, and it works just fine. When we tried to migrate our code to use `flexibleengine_obs_bucket` instead of `flexibleengine_s3_bucket`, to make use of bucket creation with `multi_az = true` , we noticed that `flexibleengine_obs_bucket` doesn't work when Internet is only available through a proxy. As we u

[2021-09-08 06:21] ShiChangkuo commented on #602
@agoulamhoussen Thanks for raising this issue.

Your analysis is correct，the `obsclient` is different from other clients. I will fix it asap.

[2021-09-08 09:50] alpersid commented on #524
Hello,

Sorry for the late reply.
The response from the support teams:

`The change has been applied and now up to **six load balancers** can be added to an AS group (check attached)`

However, I've found another limitation, **only 6 listeners** can be added to a AS Group.

I've requested also to increase the limit to >10 and the response is the following:

[code]

So, it's up to you to increase t

[2021-09-08 15:47] alpersid opened #603 "[FE evolution] - IPv6 HA Integration"
Hello guys,

I am in need of your technical expertise and maybe some advices.
We have the following architecture for our application

![image](https://user-images.githubusercontent.com/21871652/132529151-b9455a5f-346b-4bca-917e-f7c0f2ea6663.png)

As you can see, we have implemented HA for all our elements, but also implemented the autoscaling feature for all elements which  brings even a higher va

[2021-09-09 07:28] ShiChangkuo commented on #524
Actually, the limitation is only stated in the docs. It has no limitation in the code, because the specifications can be changed by the cloud side.

I will update the docs later.

[2021-09-09 07:41] ShiChangkuo commented on #603
@antonin-a @qukuijin Need your help here, please take a look at this.

[2021-09-10 08:09] #602 closed

[2021-09-10 08:54] #524 closed

[2021-09-10 09:32] ShiChangkuo commented on #333
@screwyy I'm going to close this issue because there are no updates for a long time.

If you have found a problem that seems similar to this, please open a new issue and complete the issue template so we can capture all the details necessary to investigate further.

[2021-09-10 09:32] #333 closed

[2021-09-10 09:33] ShiChangkuo commented on #426
@fculpo I'm going to close this issue because there are no updates for a long time.
If you have found a problem that seems similar to this, please open a new issue and complete the issue template so we can capture all the details necessary to investigate further.

[2021-09-10 09:33] #426 closed

[2021-09-13 08:28] Pseudodevincent commented on #603
Hello @alpersid , IPv6 support with ELB will come with Dedicated ELB (ELBv3) feature which is in roadmap for Q4 2021 (implementation has already started).
Until then, maybe you can rely on third party DNS failover mechanisms ?
Sorry, I don't see any other workaround...

[2021-09-13 08:48] Pseudodevincent commented on #603
Hello @alpersid , I just tested OBS RHEL 7.8 public image on a c6 with IPv6 and it seem to work:
![image](https://user-images.githubusercontent.com/36800950/133053541-7ce2b47e-c2a7-4142-90be-ed4a65cf34a5.png)

[2021-09-14 11:26] alpersid commented on #603
During our tests, after we have rebooted the VMs, we were not able to start them, the status have changed to faulty.
We have also tried to delete them from GUI or API, but it's not working. We have also opened a ticket for the delete issue, but seems that the support team cannot find a way to proceed.

![image](https://user-images.githubusercontent.com/21871652/133249034-afc4f8fa-5508-4c77-9c68-dc

[2021-09-14 11:29] alpersid commented on #524
The limitation now its configured to max 6 load balancer and max 6 listeners. How can we proceed to have more then 10 loadbalancers and more then 10 listeners for the same as_group?
Thanks

[2021-09-14 12:35] DafuSHI commented on #603
Hello Alexandru
My name is Dafu SHI, Cloud Solution Architect for Flexible Engine. I will assist you on this issue. Could you please let me know the support ticket number?

[2021-09-14 12:46] DafuSHI commented on #601
Hello @abhaysrivastava-orange

It seems to be an issue for IMS service. Did you create a ticket on Flexible Engine? Here we handle issue related to FE Terraform

[2021-09-15 02:54] abhaysrivastava-orange commented on #601
Ok I will contact Flexible Engine team.

[2021-09-16 08:39] vlandemaine-orange opened #609 "[Feature Request] Obtain Client IP Address on ELB Listener"
Hello,

We have actually a need about the configuration of the **X-Forwarded-For** on an ELB Listener in order to retrieve the real IP address of the client on backend server.

Actually, we don't have any parameter in the Terraform resource **flexibleengine_elb_listener** to configure "**Obtain Client IP Address**" but this parameter is present on the Flexible Engine console when we create a ELB l

[2021-09-17 17:19] thomaskrampe opened #610 "Environment variables for Terraform with GitHub Actions"
Try the Environment variables mentioned in the README as follows:
export OS_ACCESS_KEY=xxx
export OS_SECRET_KEY=xxx
export OS_REGION_NAME=xxx

But it seems that they don't work. Get this error from terraform plan:

Error: Invalid provider configuration
│
│ Provider "registry.terraform.io/flexibleenginecloud/flexibleengine" requires explicit configuration. Add a provider block to the root
│ module

[2021-09-18 02:20] ShiChangkuo commented on #610
@thomaskrampe can it work on your local execution machine?

[2021-09-18 02:29] ShiChangkuo commented on #609
@vlandemaine-orange we should update API version to [v3](https://docs.prod-cloud-ocb.orange-business.com/api/elb/elb_zq_jt-v3_0001.html) to support this parameter.

can you install the TOA plug-in to obtain real IP addresses as a workaround? For details, see [How Can I Obtain the IP Address of a Client?](https://docs.prod-cloud-ocb.orange-business.com/usermanual/elb/elb_faq_0090.html)

[2021-09-18 07:17] thomaskrampe commented on #610
Had both in my env vars **OS_ACCESS...** and **OS_USER...** which seems to stop the whole process! You have to configure only one type ;-)

And when using authentication with username / password the user variable is **OS_USERNAME** not **OS_USER_NAME**. Remove everything and use **OS_ACCESS_KEY** and **OS_SECRET_KEY** and everything works fine with GitHub Actions. Thanks.

[2021-09-18 08:10] ShiChangkuo commented on #610
it seems that **OS_USER_NAME** is more suitable. I will support both OS_USERNAME and OS_USER_NAME to keep compatible, and recommend to use OS_USER_NAME in docs.

[2021-09-18 08:21] #314 closed

[2021-09-18 09:03] #610 closed

[2021-09-18 09:49] thomaskrampe commented on #610
Only **OS_USERNAME** works, **OS_USER_NAME** currently not. I have just test it.Maybe it's a feature for the next release to make sure that it works both.

[2021-09-22 16:46] Pseudodevincent commented on #609
Hello @vlandemaine-orange @ShiChangkuo , TOA plug-in is not necessary anymore. Source IP transfer on L4 listeners can be enabled through the console and through API. When enabled, backend servers get client source IP instead of ELB source IP.
On L7 listeners the X-Forwared-For is enabled by default.
Anyway, the ELB Listener API which allows source IP on L4 listeners is V3.
Terraform provider shoul

[2021-09-23 04:00] ShiChangkuo commented on #609
I wil try to call the v3 API in the provider, and keep the resource name to `flexibleengine_lb_listener_v2`

[2021-09-24 08:00] alpersid commented on #603
Hello Dafu SHI,

Thanks for your feedback, much appreciated. I confirm that the faulty state issue was solved ( VMs were deleted ).

Regarding the IPv6 implementation, we are now facing another issue with the virtual IP.

Compared with IPv4, the Virtual IPv6 can only be assigned to a single server.

However, the implementation of Virtual IPv6 for a single server seems that is not working properly.

[2021-09-28 08:49] vlandemaine-orange opened #619 "[Feature Request] Permissions management on CCE"
Hello,

In the Flexible Engine console, on the CCE part we have a feature called Permissions management. In this part, we can configure Namespace-level permission for a specific user or group based on a ClusterRole.

We don't have any resource or parameter to configure this with Terraform. It is possible to add this feature to the Roadmap ?

Thanks

Regards,

Valentin LANDEMAINE (PS/OCB)

[2021-09-28 09:02] vlandemaine-orange opened #620 "[Feature Request] Data Ingestion Service"
Hello,

We have a service called Data Ingestion Service on Flexible Engine, but we don't have any Terraform resource associated to this service. It's possible to add this service on the Terraform provider resources?

Thanks,

Regards,

Valentin LANDEMAINE (OCB/PS)

[2021-09-29 09:15] fculpo commented on #419
@niuzhenguo We get an Access Denied when trying to apply encryption through terraform

[code]

[code]

[2021-09-29 09:17] fculpo commented on #419
We also see different key ids between OBS encryption key selection, and KMS page

[2021-09-29 13:07] vlandemaine-orange commented on #383
Hello,

@niuzhenguo @DafuSHI @ShiChangkuo Do you have any news about this ?

Regards,

Valentin LANDEMAINE (OCB/PS)

[2021-09-30 08:28] vlandemaine-orange opened #621 "[Feature Request] IAM : Project management"
Hello,

In the Flexible Engine console, on the IAM part, we can create/update/delete project through the interface.

It is posssible to implement a specific resource in the Terraform provider to manage the projects?

Thanks.

Regards,

Valentin LANDEMAINE (OCB/PS)

[2021-09-30 08:52] antonin-a commented on #621
Hello @vlandemaine-orange , create/update is ok but deletion is currently not supported (considered as too risky).
I agree that it would be nice to add IAM project management.

[2021-09-30 13:50] antonin-a commented on #383
@Pseudodevincent may we ask your help regarding this feature, can you confirm that APIs has been delivered on Cloud side ?

[2021-09-30 15:56] Pseudodevincent commented on #603
Hello @alpersid @DafuSHI , IPv4 VIP are managed by keepalived for HA clusters.
For IPv6 VIP, you are supposed to use VPC API to manage VIP assignement to ECS which requires to code you clustering mechanism...
Regarding the issue with secondary IPv6 VIP not reachable on the internet, can you confirm you assigned a Shared Bandwidth to it ?

[2021-09-30 16:20] Pseudodevincent commented on #383
Hello @antonin-a @vlandemaine-orange @DafuSHI , this requirement has been tracked a long time ago with no progress so far.
I'm going to try to put this at the top of the pile through internal tools.

[2021-10-04 14:44] ShiChangkuo commented on #621
@antonin-a what will the provider do when the project can not be deleted? ignore this step or report an error?

[2021-10-05 08:58] antonin-a commented on #621
Hello @ShiChangkuo from API side it will return an error.
Ex using Openstack CLI:
`cloud@CLI:~$ openstack project delete f137be38e2014ad296798ba45635f21a
Failed to delete project with name or ID 'f137be38e2014ad296798ba45635f21a': Policy doesn't allow iam:projects:deleteProject to be performed. (HTTP 403)
1 of 1 projects failed to delete.`

[2021-10-06 09:33] gllb commented on #621
Hello I implemented the feature here : https://github.com/gllb/terraform-provider-flexibleengine/commit/963591b8c51ed94d7e92471974579b5070153d83
For now the deletion func try to delete but it can be change to report an error or ignore it.
@ShiChangkuo what's is the contribution process ? Create PR's from a feature branch or something else ?

[2021-10-06 09:41] gllb commented on #620
Hello,

I believe golangsdk does not support the DIS, and it might be a prerequisite for this feature.
Here the issue to support DIS in the sdk https://github.com/chnsz/golangsdk/issues/27

[2021-10-07 16:22] thomaskrampe opened #624 "flexibleengine_nat_gateway_v2 data source missing"
Hi there,

Any idea why the `flexibleengine_nat_gateway_v2` has no data sources? In addition it's not very helpful to have a mandatory `nat_gateway_id or floating_ip_id`  for creating rules on an existing NAT Gateway if I can't use the name or collect those id's via a data source.

Thomas

[2021-10-08 06:16] ShiChangkuo commented on #621
@gllb Fantastic! You can create a PR and I will help you to review it.

[2021-10-08 13:01] AsemAboelareff opened #626 "failed to change volumetype in CCE node resource creation"
Hello,

i`m facing issue with terraform while creating CCE node resource , as mentioned in
https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/cce_nodes_v3

Changing required parameters will create a new resource (destroy/create) but changing volumetype in root/date volumes doesn`t make effect (it should destroy and create new node with Disk new type)
!

[2021-10-09 02:56] Jason-Zhang9309 commented on #626
@AsemAboelareff
Sorry for making you confused. Updating volume config of the cce node is not supported. But the forcenew limit is missing in code.
This problem will be repaired soon.

[2021-10-11 09:04] #626 closed, assigned to nobody

[2021-10-13 08:43] gerardbonneto opened #632 "[flexibleengine_cce_node_pool_v3] random AZ does not behave as expected"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v1.0.8.
on linux_amd64
+ provider registry.terraform.io/flexibleenginecloud/flexibleengine v1.24.2

### Affected Resource(s)
Please lis

[2021-10-14 14:46] antonin-a commented on #632
@qukuijin1989 can you please check this issue and confirm if it is related to the already identified "nodepool" (certificat) issue on Flexible Engine backend side ?

[2021-10-15 01:34] #621 closed

[2021-10-19 06:52] thomaskrampe opened #637 "[Feature Request] Elastic IP data object missing"
Hi there,

any plans to integrate EIP data objects as well?

Kr,
Thomas

[2021-10-27 23:20] #637 closed, assigned to nobody

[2021-11-01 12:25] qukuijin1989 commented on #632
hi @EmmanuelB28
for the nodepool (with random_az), when user create several nodes in one time, all your node (which create in the same time) wil be placed in the same az (random one of the 3 az)
for example: user create 5 node at the same time the 5 node will all be placed in AZ1, next time create 5 nodes at the same time, it may be placed all in AZ2

[2021-11-09 13:20] gllb opened #645 "[Feature Request] Datasource flexibleengine_compute_instances"
Hello,

There is no existing datasource to retrieve a list of ecs. This feature exist in most of the existing terraform provider.
Example : https://registry.terraform.io/providers/huaweicloud/huaweicloud/latest/docs/data-sources/compute_instances

[2021-11-10 16:55] gllb commented on #645
Hello,

here is a PR with passing test.

https://github.com/FlexibleEngineCloud/terraform-provider-flexibleengine/pull/646

[2021-11-12 10:13] gerardbonneto commented on #632
@qukuijin1989, this is exactly my concerns. So what are your recommendations for building an HA CCE cluster with terraform only ?

[2021-11-12 15:03] qukuijin1989 commented on #632
HA cluster, for master you can have a 3 node in different AZ, so it's  HA
for node pool when  you create node can have a set manual to point the AZ, also i will check with R&D if they can delivery a feature to do it automatic

[2021-11-18 14:00] edouardhue opened #647 "Provider mishandles HTTP 403 from the API on flexibleengine_antiddos_v1 resources"
### Terraform Version

[code]

### Affected Resource(s)

- `flexibleengine_antiddos_v1`

Other resources might be affected but none that I noticed.

### Terraform Configuration Files

This is my project's configuration but any configuration with `flexibleengine_antiddos_v1` will reproduce the issue.

[code]

### Debug Output

[Debug output](https://gist.github.com/edouardhue/d1b6c435e76451be6bbbe0

[2021-11-19 10:30] antonin-a commented on #447
Hello @alpersid this is a datasource for DCS (Redis aaS) so I feel that it is a mistake on the documentation. @ShiChangkuo can you confirm this point ?

[2021-11-22 10:25] edouardhue commented on #647
Flexible Engine support confirms a 5 requests / minute hard limitation. Maybe this should be enforced by the provider?

[2021-11-22 13:11] gllb commented on #632
Hello @gerardbonneto,

As a workaround you can also use the [CCE terraform module](https://github.com/FlexibleEngineCloud/terraform-flexibleengine-cce) to create a multi-az cluster and attach node_pool_list (or node_list) with different az for each element of the list. Example in the readme.

[2021-11-23 04:00] ShiChangkuo commented on #647
@edouardhue why the cloud response 403 when the limitation over 5 / minute?
actually, if a user has sent too many requests in a given amount of time ("rate limiting"), most APIs will response [429](https://httpstatuses.com/429)

[2021-11-23 08:47] edouardhue commented on #647
Well, I have no clue why Orange decided to respond with a 403 instead of a 429, but that's the way they do it. And I am positive (confirmed by Flexible Engine support) that this is in response to rate limiting. I'm actually trying to get the limit raised, because what can you do with 5 requests / minute?

Anyway, I think the provider should not treat a 403 response like a missing resource. It shou

[2021-11-23 11:32] ShiChangkuo commented on #647
sure, I will throw an error when the provider get a 403 response.

If Orange can response 429, the provider will retry calling it after a few minutes. #527

[2021-11-23 12:42] edouardhue commented on #647
Fine, thanks!

[2021-11-24 10:43] gberche-orange opened #649 "[Feature request] Import support for openstack_networking_router resources"
The https://github.com/terraform-provider-openstack/terraform-provider-openstack/issues/108 and its PR https://github.com/terraform-provider-openstack/terraform-provider-openstack/pull/120 seems to never have been back ported since terraform-provider-flexibleengine forked from terraform-provider-openstack

https://registry.terraform.io/providers/terraform-provider-openstack/openstack/latest/docs/r

[2021-11-25 06:39] ShiChangkuo commented on #649
the `flexibleengine_networking_router_route_v2` will be deprecated, can you try to use [flexibleengine_vpc_route_v2](https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/vpc_route_v2)?

[2021-11-25 09:00] #645 closed

[2021-11-25 15:13] q-b opened #650 "flexibleengine_cce_addon_v3: autoscaler status change breaks indempotency"
Hi,

I applied the **autoscaler** addon using **v1.25.0 of the provider**. The terraform run was successful:
[code]

However, a subsequent run resulted in the following output:
[code]

Field `status` could be ignored using lifecycle but I suspect it would lead to other problems. I am not sure what the proper solution would be...

[2021-11-25 15:20] q-b opened #651 "flexibleengine_cce_addon_v3: documentation"
Hi,

[Link to flexibleengine_cce_addon_v3 documentation](https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/cce_addon_v3)

First [this example](https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/cce_addon_v3#use-basic_json-custom_json-and-flavor_json) is wrong, fields named *something*`_json` do not work. T

[2021-11-26 12:56] Karreg commented on #609
Hello,

The same is needed here! Thanks!

[2021-11-27 03:14] ShiChangkuo commented on #650
`status` is just a read-only field that synchronized from the cloud side.
which command have you executed?

[2021-11-27 03:16] ShiChangkuo commented on #651
thanks for pointing this. I will fix it soon.

[2021-11-29 03:25] #651 closed

[2021-11-29 08:53] q-b commented on #650
Just a plan:
[code]

[2021-11-30 11:41] ShiChangkuo commented on #650
It is a new feature since Terraform Version 0.15.4
https://support.hashicorp.com/hc/en-us/articles/4405950960147-New-Feature-Objects-have-changed-outside-of-Terraform-

you can execute `terraform refresh` to sync the state.

[2021-11-30 11:58] #647 closed

[2021-12-01 03:45] ShiChangkuo commented on #447
Hi, guys
    I will implement these resources in v1.26.0.

[2021-12-01 10:19] ShiChangkuo commented on #447
@alpersid flexibleengine_dcs_product_v1 data source can not work, I will add a new data source for DMS Kafka service

[2021-12-02 06:38] ShiChangkuo commented on #620
@gllb any updates?
Can we not set the `stream_type` field if the API issue still exists?

[2021-12-02 14:10] gllb commented on #620
Yes we can, here is a PR : https://github.com/FlexibleEngineCloud/terraform-provider-flexibleengine/pull/656
I guess it would be nice to have the right API result and documentation but we could still release this.

[2021-12-03 08:40] #609 closed

[2021-12-06 09:30] vlandemaine-orange commented on #609
Hi @ShiChangkuo,

It's possible to create a minor release to apply this changes in the provider ?

Thanks

[2021-12-06 10:56] gllb commented on #620
data_type and data_schema are also missing, so if a user try to set one of those missing value each plan will try to update the existing stream. IMO this is a real pain, specially for data_type and data_schema.

[2021-12-08 07:19] alexdotsh opened #658 "[Feature Request] OBS Cross-Region Replication"
Hi,

Currently in the Terraform code there is no ability to create OBS Cross-Region Replication in a new or existing bucket. Is this feature absent from the Terraform code and is it possible to add this feature in the Terraform?

There is already some documentation to enable cross-region replication https://docs.prod-cloud-ocb.orange-business.com/api/obs/en-us_topic_0175597491.html

It would be ni

[2021-12-08 08:01] ShiChangkuo commented on #658
same as #296

The [huaweicloud/huaweicloud-sdk-go-obs](https://github.com/huaweicloud/huaweicloud-sdk-go-obs) does not support Cross-Region replication. I wil try to add it first.

[2021-12-08 08:07] wisssaam opened #659 "Creating an MRS cluster"
Hi there,

I've just started playing with Terraform provider for Flexible Engine (v1.25.1).

I have issues with creating an MRS cluster. Here's my configuration:

resource "flexibleengine_mrs_cluster_v1" "cluster" {
  region            = eu-west-0
  available_zone_id = eu-west-0a
  cluster_name      = var.name
  cluster_type      = 0
  cluster_version   = MRS 3.1.0-LTS.1

  master_node_num  = var.

[2021-12-08 15:29] alpersid commented on #603
Hello,
@Pseudodevincent - I confirm that for the IPv6 VIP it's working using the APIs, and the issue with the not reachable was related with the Shared Bandwidth. Thank you for your feedback.
So, to conclude, the best HA solution for IPv6 is to wait for ELBv3

[2021-12-08 15:58] Pseudodevincent commented on #603
Hello @alpersid , thanks for the feedback.
I will be testing ELBv3 in preprod this month.
If all ELBv3 tests are OK we will probably be able to release in prod in January.
I'll update you here with the progress.

[2021-12-08 16:19] wisssaam commented on #659
We have this error only with MRS version 3

[2021-12-09 02:39] ShiChangkuo commented on #659
@wisssaam can you provide the debug log? we can get more details about the reason for the issue.

[2021-12-09 10:59] alexdotsh commented on #658
@ShiChangkuo thanks for looking into this 👍🏽

[2021-12-09 13:44] wisssaam commented on #659
Hello @ShiChangkuo,
Attached:  [terraform.log](https://github.com/FlexibleEngineCloud/terraform-provider-flexibleengine/files/7685499/terraform.log)

[2021-12-09 13:46] wisssaam commented on #659
And console screen:
[apply.txt](https://github.com/FlexibleEngineCloud/terraform-provider-flexibleengine/files/7685529/apply.txt)

[2021-12-13 08:23] #620 closed

[2021-12-14 07:58] ShiChangkuo commented on #659
@wisssaam we should upgrade the API version to support MRS 3.1.0

[2021-12-14 16:05] grzegorzswistak opened #664 "[flexibleengine_dns_zone_v2] Unable to create in na-east-0"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v1.1.0
on linux_amd64
+ provider registry.terraform.io/flexibleenginecloud/flexibleengine v1.25.1

### Affected Resource(s)
Please list

[2021-12-16 09:19] ShiChangkuo commented on #664
@grzegorzswistak Thanks for raising this, I will fix it asap.

[2021-12-16 12:15] #664 closed

[2021-12-17 09:00] wisssaam commented on #659
Hello @ShiChangkuo, do you have any information about the update date? When do you plan to push the upgraded API version?

[2021-12-18 08:34] #553 closed

[2021-12-18 09:03] ShiChangkuo commented on #659
now you can upgrade the provider version to 1.26.0 and try to ues [flexibleengine_mrs_cluster_v2](https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/mrs_cluster_v2)

[2021-12-18 09:03] #659 closed

[2021-12-21 10:35] grzegorzswistak opened #673 "[flexibleengine_compute_instance_v2] Root resource was present, but now absent in na-east-0"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v1.1.2
on linux_amd64
+ provider registry.terraform.io/flexibleenginecloud/flexibleengine v1.25.1

### Affected Resource(s)
Please list

[2021-12-21 12:04] ShiChangkuo commented on #673
@grzegorzswistak according to the debug log, the v1 API of querying ECS details is missing in na-east-0 region.

@qukuijin1989 Please take a look at this and check the reason why the API is not registered, thank you.

[2021-12-21 16:13] wisssaam opened #674 "[DWS] Creating DWS Cluster"
Hi there,

I have issues with the creating of DWS cluster (Terraform provider: Flexible Engine v1.26).

Here's my configuration file  [main.txt](https://github.com/FlexibleEngineCloud/terraform-provider-flexibleengine/files/7756656/main.txt):

resource "flexibleengine_dws_cluster_v1" "cluster" {
  name                              = "dws_cluster_terraform"
  node_type                      = "dws2.

[2021-12-21 16:34] wisssaam opened #675 "[DIS] Creating a DIS Stream"
Hi there,

I am trying to deploy DIS Stream to ingest specific data formats like CSV and JSON. The problem is that we can't configure the data_type and data_schema parameters.

These parameters seem to be available on the API Endpoint (https://docs.prod-cloud-ocb.orange-business.com/en-us/api/dis/dis_02_0016.html).

flexibleengine_dis_stream on TF version 1.26.0

Thanks,

[2021-12-22 06:52] ShiChangkuo commented on #675
hello, we just keep the same behavior as the console.

[2021-12-22 07:01] ShiChangkuo commented on #674
@wisssaam it's better to open a service ticket as the error comes from the cloud side.

[2021-12-22 09:18] chengxiangdong opened #676 "[DMS] add a data source to query DMS maintain windows"
add a data source to query DMS maintain windows, name : `flexibleengine_dms_maintainwindow`

[2021-12-23 22:37] aheritier-csgroup opened #678 "[flexibleengine_compute_instance_v2] network param is illegal"
Hi, The provided example does not work with simple ECS instance.

### Terraform Version
Terraform v1.1.2
on linux_amd64
+ provider registry.terraform.io/flexibleenginecloud/flexibleengine v1.26.0

### Affected Resource(s)
- flexibleengine_compute_instance_v2

### Terraform Configuration Files
The ones from the example directory
- instances.tf
- keypairs.tf
- network.tf

### Panic Output
Error: Err

[2021-12-24 07:50] ShiChangkuo commented on #678
@aheritier-csgroup the example is outdated, please ues `flexibleengine_vpc_subnet_v1` to create the subnet.

You can use Terraform module to create vpc and ecs.
https://registry.terraform.io/modules/FlexibleEngineCloud/vpc/flexibleengine/latest
https://registry.terraform.io/modules/FlexibleEngineCloud/ecs/flexibleengine/latest

[2021-12-24 07:58] aheritier-csgroup commented on #678
"please ues flexibleengine_vpc_subnet_v1 to create the subnet."
Flexibleengine_compute_instance_v2 doesn't take a vpc id as a parameter.

[2021-12-24 08:29] Hasardine commented on #678
@aheritier-csgroup,
Here is a basic example to create a VPC, Subnet & ECS together using the Terraform modules.  Corresponding to Router, network, subnet & ECS.

ECS take _uuid_ as parameter. It is corresponding to "_Network ID_" in FE console shown in the "_subnet information_". If you're confortable with variables, use it to fill _uuid_ or do your terraform apply in 2 steps.

Replace all the "XX

[2021-12-24 08:46] aheritier-csgroup commented on #678
It doesn't work. Same error:

`Error: Error creating FlexibleEngine server: Bad request with: [POST https://ecs.eu-west-0.prod-cloud-ocb.orange-business.com/v2/26bf08cfcba14b0cb96a28870f89a748/servers], error message: {"badRequest":{"message":"network param is illegal, no virtual private cloud found","code":"400"}}`

The API doesn't implement the network param:
[code]

[2021-12-24 15:18] Hasardine commented on #678
@aheritier-csgroup
To help, you might share your logs or provide code. But it doesn't seem to be a problem with the API or the provider as it works for many of us.

[2021-12-28 14:01] alpersid opened #679 "[flexibleengine_ces_alarmrule] - unable to monitor multiple RDS nodes inside the same alarm"
Hello guys,

I'm trying to create an Alarm which will monitor the RDS instance ( MYSQL HA ).

Each Mysql RDS instance have 2 nodes ( master / slave ).

While creating from the GUI everything is working properly. However, I think there's a limitation using terraform or the API.

If there is only one monitoring object ( flexibleengine_rds_instance_v3.RDS_instance.nodes[0].id in my example), everythi

[2022-01-07 03:32] ShiChangkuo commented on #679
@alpersid According to the API Response between  **with 2 monitored objects created from Terraform** and **with 1 monitored object created from Terraform**,  I find that the value of "metric_name" are different, can you ues `rds001_cpu_util` and try again?

You can also open a service ticket to OCB for technical support.

[2022-01-12 09:32] ShiChangkuo commented on #676
the DMS service does not support v2 APIs, I will add a new one with v1 APIs.

[2022-01-12 09:32] #676 closed

[2022-01-12 17:38] bsibaud opened #680 "[flexibleengine_elb_listener] tags management when no changes on the resource itself"
### Terraform Version
Terraform v1.0.11 on linux_amd64

flexibleenginecloud/flexibleengine v1.26.0

### Affected Resource(s)
- flexibleengine_elb_listener

### Terraform Configuration Files

[code]
(note: there are no "name" or "description" here)

### Debug Output

"error_msg":"Invalid request body: Empty body '{}' is meaningless.","error_code":"SYS.0400"

### Panic Output
N/A

### Expected Behav

[2022-01-14 07:38] ShiChangkuo commented on #680
@bsibaud thanks for reporting this problem.
the provider manges **tags**  with another API, so we have to add a judgment when only tags was changed.

[2022-01-17 07:02] #447 closed

[2022-01-17 07:03] ShiChangkuo commented on #678
@aheritier-csgroup any updates?

[2022-01-18 01:53] #680 closed

[2022-01-19 13:08] MrLuje opened #685 "[VPN] Gateway & connection"
Hi,

AFAIK there is no terraform resources yet to create a fully fonctionnal VPN (VPN Gateway + connections + route tables, etc)
Is there anything planned on the roadmap ?

Thanks

[2022-01-20 12:01] grzegorzswistak commented on #673
As I was informed in the support ticket, the na-east-0 region will be closed.

[2022-01-20 12:01] #673 closed

[2022-01-20 13:00] grzegorzswistak opened #686 "[flexibleengine_compute_instance_v2] Build of instance XXXX: Block Device Mapping is Invalid."
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v1.1.3
on linux_amd64
+ provider registry.terraform.io/flexibleenginecloud/flexibleengine v1.26.0

### Affected Resource(s)
- flexiblee

[2022-01-21 06:08] grzegorzswistak commented on #686
Solution:

[code]

[2022-01-21 06:08] #686 closed

[2022-01-21 08:38] ShiChangkuo commented on #685
can you do such work by console?

[2022-01-21 09:16] MrLuje commented on #685
Yes, through Network Console > Virtual Private Network... but not sure if there is an API for it

[2022-01-21 09:29] ShiChangkuo commented on #685
I found the VPN service, but the API is missing...

[2022-01-21 09:53] Pseudodevincent commented on #685
Hello, unfortunately, there is no API yet on VPN service... A new version of VPN service which will include API support is in the the roadmap for Q4 2022 but I don't have any details yet.

[2022-01-25 16:11] maximelavocat opened #687 "flexibleengine_s3_bucket multi_az option"
Hello,

Today we are using Object Storage Service (OSS) with both OBS and S3 bucket which we create with the two following terraform provider objects:
- [obs_bucket](https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/obs_bucket)
- [s3_bucket](https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/s3_bucket)

On

[2022-01-25 16:43] Pseudodevincent commented on #687
Hello @maximelavocat , I can give you an answer on the second point.
It's not possible to transform a mono AZ bucket into a multi AZ bucket.
But you can migrate objects from a mono AZ bucket to a multi AZ bucket using obsutil tool : https://docs.prod-cloud-ocb.orange-business.com/utiltg/obs/obs_11_0001.html
Using sync command: https://docs.prod-cloud-ocb.orange-business.com/utiltg/obs/obs_11_0044.

[2022-01-27 02:03] ShiChangkuo commented on #687
Hello, the s3_bucket will be deprecated in the future，so please use obs_bucket to manage new bucket.

You can migrate resource types without recreating by following steps:

1. `terraform state rm flexibleengine_s3_bucket.bucketname`, this command removes the resource from the Terraform state file without destroy it;
2. redefine your resource block with flexibleengine_obs_bucket. In general, only t

[2022-01-28 16:29] #687 closed

[2022-01-29 08:11] #296 closed

[2022-01-29 08:11] #658 closed

[2022-01-29 08:17] ShiChangkuo commented on #632
I'm going to close this issue because there are no updates for 20 days.
If you have found a problem that seems similar to this, please open a new issue and complete the issue template so we can capture all the details necessary to investigate further.

[2022-01-29 08:17] #632 closed

[2022-01-29 08:17] ShiChangkuo commented on #650
I'm going to close this issue because there are no updates for 20 days.
If you have found a problem that seems similar to this, please open a new issue and complete the issue template so we can capture all the details necessary to investigate further.

[2022-01-29 08:17] #650 closed

[2022-01-29 08:18] ShiChangkuo commented on #678
I'm going to close this issue because there are no updates for 20 days.
If you have found a problem that seems similar to this, please open a new issue and complete the issue template so we can capture all the details necessary to investigate further.

[2022-01-29 08:18] #678 closed

[2022-02-02 10:28] vlandemaine-orange opened #691 "[Feature Request] FunctionGraph Service"
Hi there,

I seen that the API for FunctionGraph is available : https://docs.prod-cloud-ocb.orange-business.com/en-us/api/functiongraph/functiongraph_06_0108.html .

Can you introduce the Terraform resource for FunctionGraph is the next release please?

Regards

[2022-02-04 11:17] bsibaud opened #692 "[flexibleengine_elb_listener] be able to remove a description"
### Terraform Version
Terraform v1.0.11 on linux_amd64

flexibleenginecloud/flexibleengine v1.27.0

### Affected Resource(s)

flexibleengine_elb_listener

### Terraform Configuration Files
[code]

### Debug Output
N/A

### Panic Output
N/A

### Expected Behavior
You can create that flexibleengine_elb_listener resource without description, you can add a description to an existing resource, you can

[2022-02-04 13:13] bsibaud opened #693 "[flexibleengine_dns_recordset] tags management when no changes on the resource itself"
### Terraform Version
Terraform v1.0.11 on linux_amd64

flexibleenginecloud/flexibleengine v1.27.0

### Affected Resource(s)
flexibleengine_dns_recordset_v2

### Terraform Configuration Files
[code]

### Debug Output

[code]

### Panic Output
[code]

### Expected Behavior
Tags can be declared on flexibleengine_dns_recordset.

### Actual Behavior
If you try to declare a tag, operation fails.

Seems

[2022-02-04 13:29] bsibaud commented on #693
Precision: creating the recordset AND the tag at the same timee works.

[code]

But you can't change/add a tag later currently.

[2022-02-07 08:33] ShiChangkuo commented on #619
@vlandemaine-orange sorry for the late reply. It seems that the APIs are missing in OCB.

can you try to use [kubernetes_cluster_role_binding](https://registry.terraform.io/providers/hashicorp/kubernetes/latest/docs/resources/cluster_role_binding) and [kubernetes_role_binding](https://registry.terraform.io/providers/hashicorp/kubernetes/latest/docs/resources/role_binding) with kubernetes provider?

[2022-02-14 15:13] MrLuje opened #695 "[Feature Request] Generating AK/SK"
Hi,

I'm looking for an alternative to service accounts (like having a non-interactive account, get an AK/SK and perform some api calls).
From the available resources, I'll be able to create an user account ([flexibleengine_identity_user_v3](https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/identity_user_v3)) but I'm not sure if I can create an AK/SK

[2022-02-16 02:30] #693 closed

[2022-02-16 03:22] ShiChangkuo commented on #695
@MrLuje Only the creating API is not enough for terraform. We need at least **C**(create), **R**(read), **D**(delete) APIs for a resource.

[2022-02-16 09:21] MrLuje commented on #695
Ah, good catch...
Any idea if the missing apis are on the roadmap ?

[2022-02-16 11:29] smasset-orange commented on #563
@ShiChangkuo any update ?

[2022-02-22 02:06] #692 closed

[2022-02-23 15:16] smasset-orange opened #699 "[ELB] Prvider fails to create listeners in eu-west-1 region with provider versions >= 2.6.0"
Hi there,

I get 404 error from the API handling ELB listeners when using version 1.26.0 (or 1.27.0) of the FE proviser in eu-west-1 region. The same HCL works fine in eu-west-1 with provider 1.25.1 or in eu-west-0 with provider 1.25.1, 1.26.0 or 1.27.0.

Is the API for `/v2.0/lbaas/loadbalancers/{LB_ID}` missing in eu-west-1 ?

Here are relevant logs I've captured with `TF_LOG=trace` enabled :
 -

[2022-02-23 15:38] CrisWar opened #700 "[Feature Request] add CIDR to a VPC"
Hello,

With the new VPC API v3, we can now add public and private CIDR  :[CIDR Block to a VPC](https://docs.prod-cloud-ocb.orange-business.com/en-us/api/vpc/vpc_apiv3_0007.html)
Is it possible to update/add to the Terraform provider ?

Thanks a lot.

[2022-02-23 15:56] smasset-orange opened #701 "[AS] Remove instance cardinality check when destroying group"
When destroying an AS group defined with `min_instance_number > 0` the `terraform destroy` command errors out with the following message
[code]

If we're destroying the group altogether we can probably bypass this check.

### Affected Resource(s)
- flexibleengine_as_group_v1

[2022-02-23 16:02] smasset-orange opened #702 "[Feature Request] [KMS] Enable key rotation management from Terraform"
As documented [here](https://docs.prod-cloud-ocb.orange-business.com/api/kms/kms_02_0038.html) KMS key rotation can me managed from the web console and API calls.

Can you add the support for KMS key rotation in the Terraform provider as well ?

The API supports enabling/disabling/status querying of key rotation as well as updating the rotation interval. It would be great to have the same feature

[2022-02-25 03:22] ShiChangkuo commented on #675
@wisssaam I will close it temporarily, If you have any questions, please reopen it. Thanks.

[2022-02-25 03:22] #675 closed

[2022-02-25 03:39] ShiChangkuo commented on #699
@smasset-orange the endpoint is updated to fix #609

@qukuijin1989 can you help us to sync openAPIs from eu-west-0 to eu-west-1?

[2022-02-25 06:27] ShiChangkuo commented on #701
@smasset-orange will try to use `force_delete` parameter to [DELETE](https://docs.prod-cloud-ocb.orange-business.com/en-us/api/as/as_06_0105.html)

[2022-02-25 11:10] smasset-orange opened #703 "[DNS] Failure to update dns recordset with unchanged records attribute"
When changing only the TTL (for example) of a dns record set without changing the `records` attribute, the `terraform apply` command fails with the following error message (also including planned actions) complaining that the value for the unchanged `records` attribute can't be empty:
[code]

Although the `terraform apply` command failed it seems the TTL was successfully updated because when calli

[2022-03-21 17:28] But4ler opened #725 "[Feature Request] RDS - Support enable SSL and output RDS certificats"
Hi there,

It is possible via the Flexible Engine console to activate SSL on the RDS, and to download the certificate to deploy it on the servers.

![image](https://user-images.githubusercontent.com/15019378/159330145-298445f1-09cd-4c6f-b213-45b4848eeabb.png)

Would it be possible to add this to the RDS module please?
You also need the SSL certificate as an output of the module

Thank you!

[2022-03-22 11:24] ahmed1mostafa opened #726 "Enhanced Load Balancer in front of 2 ECS"
Hi there,

customer  create by terraform an enhanced Load Balancer in front of 2 ECS (with just the service nginx installed on it to make test) in FE tenant using this documentation : https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs

### Terraform Version : 1.1

### Affected Resource(s)
-Health-check
the result is a pool of backend servers in "Disabled" state

[2022-03-24 10:10] agoulamhoussen opened #727 "Following CTS upgrade, terraform is failing for plan/apply"
### Terraform Version
Terraform v1.0.11 (reproduced it with Terraorm 1.1.7 as well)

### Affected Resource(s)
Please list the resources as a list, for example:
- flexibleengine_cts_tracker_v1

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/agoulamhoussen/715a88b365d1877a3baa7952f85cd250

### Expected Behavior
work as usual

### Actual Behavior
Whole plan/apply i

[2022-03-25 09:27] agoulamhoussen commented on #727
It started to work at te end of thursday, probably some leftovers from the upgrade, but outside the maintenance window...

[2022-03-25 09:27] #727 closed

[2022-03-25 09:50] ShiChangkuo commented on #727
@agoulamhoussen I found that the API response is different with [help center](https://docs.prod-cloud-ocb.orange-business.com/api/cts/en-us_topic_0169873588.html).
I also test it well today ...

[2022-03-28 15:20] ahmed1mostafa commented on #726
Dears ,
anyone could help ?

[2022-03-28 15:58] ahmed1fadel92 opened #729 "ELB Health Check Fail with HTTPS"
# provider.tf
terraform {
  required_version = ">= 0.13"

  required_providers {
    flexibleengine = {
      source = "FlexibleEngineCloud/flexibleengine"
      version = ">= 1.27.1"
    }
  }
}

provider "flexibleengine" {
  access_key  = ""
  secret_key  = ""
  domain_name = "OCB0001686"
  region      = "eu-west-0"
  tenant_name = "eu-west-0_big_data_projects"
}

#Create a network
resource "fle

[2022-03-29 08:33] vlandemaine-orange commented on #726
Hello,

Do you have tried to deploy it with the interface before using Terraform ? This issue is only related to Terraform ?

Regards

[2022-03-29 10:19] Pseudodevincent commented on #729
Hello @ahmed1fadel92,
Can you check the Security Group 'default' that you associate with Backend Server ECS ? It should allow TCP port 80 from 100.125.0.0/16 and 100.126.0.0/16 according to documentation:  https://docs.prod-cloud-ocb.orange-business.com/usermanual/elb/en-us_topic_0018127975.html

[2022-03-30 15:59] Pseudodevincent commented on #729
Hello @ShiChangkuo, @ahmed1fadel92 has found a workaround to this issue.
The health check problem is solved when removing those 3 parameters:
idle_timeout = 300
request_timeout = 300
response_timeout = 300
Can you check the code of "flexibleengine_lb_listener_v2" to be align with Listener v3 API (https://docs.prod-cloud-ocb.orange-business.com/api/elb/elb_zq_jt-v3_0000.html) ?

[2022-03-30 16:05] But4ler commented on #703
Hello, same  problem for add tags in one existing record

[code]

[code]

### FE provider version
1.26.0

### Affected Resource(s)
flexibleengine_dns_recordset_v2

[2022-04-02 09:57] #691 closed

[2022-04-06 13:42] picklescloud opened #736 "[FGS] Can't create function in FGS"
Hi there,

Can't create a function in Function Graph Service, it seems that FGS API is not accessible :
│ Error: Error creating FlexibleEngine function: Post "https://fgs.eu-west-0.prod-cloud-ocb.orange-business.com/v2/482ea20d5304444599335a9d555fa70e/fgs/functions": dial tcp: lookup fgs.eu-west-0.prod-cloud-ocb.orange-business.com on 127.0.0.53:53: no such host

### Terraform Version
terraform -v

[2022-04-07 02:21] ShiChangkuo commented on #736
according to [Creating a Function](https://docs.prod-cloud-ocb.orange-business.com/api/functiongraph/functiongraph_06_0108.html), the URI is correct.
have you tried to call the API directly with postman or curl command?

[2022-04-07 12:03] picklescloud commented on #736
curl https://fgs.eu-west-0.prod-cloud-ocb.orange-business.com/v2/482ea20d5304444599335a9d555fa70e/fgs/functions
curl: (6) Could not resolve host: fgs.eu-west-0.prod-cloud-ocb.orange-business.com

[2022-04-08 01:39] ShiChangkuo commented on #736
It looks like a network issue, please check your networking configuration or open a service ticket in OCB.

[code]

[2022-04-08 08:02] ShiChangkuo commented on #725
@But4ler we can support to enable SSL with terraform, but can not download the certificate. you can download it from
https://oss.eu-west-0.prod-cloud-ocb.orange-business.com/rds/ca-rds.zip

[2022-04-08 13:05] Karreg opened #737 "`Invalid address to set` in CES resource"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
tf version
Terraform v1.1.7
on linux_amd64
+ provider registry.terraform.io/flexibleenginecloud/flexibleengine v1.28.0

### Affected Resource(s)

[2022-04-08 13:12] Karreg commented on #737
As a sidenote, This issue does not exist with provider 1.27.1.

[2022-04-08 16:12] But4ler commented on #725
it will be great, we don't check the certificate,

Thank you!

[2022-04-12 06:54] eonpatapon opened #738 "[CTS] API response is not unmarshalled properly"
### Terraform Version

[code]

### Affected Resource(s)

- flexibleengine_cts_tracker_v1

### Terraform Configuration Files

[code]

The tracker and bucket was created some time ago. Then plans started to fail with:

[code]

I saw that this was fixed in 1.28.0 via c4e39c8d6ea1183a6eb85fd1174f582055ee65bb, but now with 1.28.0 I get this:

[code]

### Debug Output

Looks like the API response is not

[2022-04-13 03:41] ShiChangkuo commented on #738
@eonpatapon it seems that the API response was changed, can you provide the debug log with API request and response?

the response of [Querying a Tracker](https://docs.prod-cloud-ocb.orange-business.com/api/cts/en-us_topic_0169873588.html) has two formats:

CTS may support multiple trackers in the future. If the query request GET /v1.0/{project_id}/tracker does not contain parameter tracker_name,

[2022-04-13 09:35] ShiChangkuo commented on #737
@Karreg we didn't modify the code of flexibleengine_ces_alarmrule since v1.24.0.
I think the issue is caused by API response, can you try to use v1.27.1 to create a alarmrule resource?

[2022-04-14 07:21] eonpatapon commented on #738
@ShiChangkuo here's what I can find:

[code]

I believe the call is: `[DEBUG] API Request URL: GET https://cts.eu-west-0.prod-cloud-ocb.orange-business.com/v1.0/9f2e36b98a1149aab266626ffbbfXXXX/tracker:`

Where `9f2e36b98a1149aab266626ffbbfXXXX` is my tenant ID.

[2022-04-14 08:38] Karreg commented on #737
Thanks @ShiChangkuo !

[2022-04-14 09:12] ShiChangkuo commented on #738
@eonpatapon the root reason is the system tracker in **error** status, I will fixed it asap.

[2022-04-15 02:32] #737 closed

[2022-04-15 08:54] #738 closed

[2022-04-15 09:44] agoulamhoussen opened #741 "[Bug] CCE cluster generating inconsistent and wrong outputs for users certificates"
Hi,

I'm trying to setup automation tests with a read-only account on Flexible Engine. When trying to run them against flexibleengine_cce_cluster_v3, I'm always getting a changed state on a `terraform plan`.

The problem is coming from  https://github.com/FlexibleEngineCloud/terraform-provider-flexibleengine/commit/73c32474511b3c9c348ef8d0a709f5a83a1ff238  , and particularly from the following lin

[2022-04-25 15:22] edouardhue opened #742 "[SMN] [Feature Request] Ability to set SMN topic policy"
### Affected Resource(s)
- flexibleengine_smn_topic_v2

### Expected Behavior
I would like to configure the policy for the SMN topics I manage with the provider. Configuring the policy is supported by the API: https://docs.prod-cloud-ocb.orange-business.com/api/smn/smn_api_51007.html

It would be sufficient to support the same generic form of attributes as does the API, as long as it would be poss

[2022-04-27 08:02] #725 closed

[2022-04-27 08:50] #700 closed

[2022-04-27 12:51] But4ler opened #747 "[Bug] "/32" mask is missing, it forces the recreation of resources"
Hi there,

terraform forces resource recreation because of the "/32" mask that is missing in the loadbalancer resource
flexibleengine_lb_loadbalancer_v2.lb_reverseproxy.vip_address

### Terraform Version
[code]
### Affected Resource(s)
Please list the resources as a list, for example:
- flexibleengine_networking_secgroup_rule_v2
- flexibleengine_lb_loadbalancer_v2

If this issue appears to affect

[2022-04-28 01:47] #701 closed

[2022-04-28 02:13] ShiChangkuo commented on #747
@But4ler the value of [remote_ip_prefix](https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/networking_secgroup_rule_v2#remote_ip_prefix) is an IPv4 CIDR.

I will add a validation for it.

[2022-04-28 13:10] But4ler opened #749 "[Feature Request] [flexibleengine_networking_secgroup_rule_v2] add a "description" for each security group rule"
Hello,

Would it be possible to add the "description" field on the security group rules.

It is currently possible on the security group, but not on each rule (it is only possible through the FE console).
When there are a lot of IPs to manage, it becomes complicated in the Flexible Engine interface to see quickly what corresponds to such or such IP.

https://registry.terraform.io/providers/Flexibl

[2022-04-28 13:32] mydoomfr opened #750 "[Feature Request] [flexibleengine_nat_dnat_rule_v2] add a "description" for each DNAT rule"
Hello,

**Issue similar to #749**

Would it be possible to add the "description" field on **DNAT rules** of the NAT Gateway service?  (it is only possible through the FE console).

https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/nat_dnat_rule_v2

![image](https://user-images.githubusercontent.com/1282754/165763909-8f99b493-6135-4af6-ba04-d87f3ab9280

[2022-04-29 01:34] #747 closed

[2022-04-29 14:06] Hasardine commented on #699
@smasset-orange Hello, API is being fixed, I will update this ticket when fixed confirmed or any update on the issue.

[2022-05-09 09:33] #749 closed

[2022-05-09 17:43] DafuSHI opened #754 "[Feature Request] CBR needs Terrform support"
Hello,

Flexible Engine has already made CBR service online and we need Terraform to suppor this new service.

[2022-05-13 08:44] vladimirBraquet opened #755 "[Feature Request] ELBv3 needs Terrform support"
Hello,

From the GUI, in Paris region, ELBv3 seems available (Dedicated Load Balancer)
It should be supported by Terraform, including the capacity to enable transparent proxy

[2022-05-16 06:16] ShiChangkuo commented on #572
I'm going to close this issue because there are no updates for 20 days.
If you have found a problem that seems similar to this, please open a new issue and complete the issue template so we can capture all the details necessary to investigate further.

[2022-05-16 06:16] #572 closed

[2022-05-16 06:17] ShiChangkuo commented on #736
I'm going to close this issue because there are no updates for 20 days.
If you have found a problem that seems similar to this, please open a new issue and complete the issue template so we can capture all the details necessary to investigate further.

[2022-05-16 06:17] #736 closed

[2022-05-24 09:46] jbphilippe-orange opened #756 "Terraform SWR resources (Software Repository for Containers)"
Hi,

For some use cases,  I need to create SWR resources,  but nothing is available about that in Terraform Registry.
Is it possible to add this functionnality ?   The API of course exists :   https://swr-api.eu-west-0.prod-cloud-ocb.orange-business.com/

Maybe I can help you to add this functionnality.

Regards,

[2022-05-27 06:37] ShiChangkuo commented on #750
@mydoomfr the "description" field will added it by #757, but it can not be updated currently.

[2022-05-28 01:05] #750 closed

[2022-05-28 07:25] ShiChangkuo commented on #756
@jbphilippe-orange Thanks a lot, I will do it later.

[2022-05-28 07:55] #754 closed

[2022-05-31 14:04] Hasardine commented on #729
Hello all,
This was not related to terraform provider and the issue about the Health check being "unhealthy" state is now resolved on cloud provider side.
Issue can be closed, thanks. @ShiChangkuo

[2022-06-02 07:28] SBatais opened #761 "Plugin did not respond"
Hi there,

### Terraform Version
Terraform v1.1.7 on linux_amd64
flexibleenginecloud/flexibleengine v1.27.1

### Affected Resource(s)
it seems to affect all resources.

### Debug Output
[code]

### Panic Output
[code]

### Expected Behavior
The execution of the terraform code succeeds

### Actual Behavior
The execution of the terraform code fails

### Steps to Reproduce
1. `terraform init`
2. `ter

[2022-06-03 10:11] antonin-a commented on #761
Hello @SBatais can you confirm that the issue is now resolve ? It seems that it was caused by some API endpoints changes on Cloud Provider side.

[2022-06-03 10:14] SBatais commented on #761
Yes I confirm that the issue is resolved

[2022-06-03 12:03] #761 closed

[2022-06-15 12:10] #729 closed

[2022-06-15 12:29] #702 closed

[2022-06-15 13:04] sg13 opened #764 "Bug: resource_flexibleengine_lts_group - ttl_in_days default value"
Hi,

I would like to report bug or lack in official of documentation about the argument `ttl_in_days` in the `resource_flexibleengine_lts_group`

### Terraform Version
[code]

### Affected Resource(s)
- resource_flexibleengine_lts_group

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
Creation of the ressource `flexibleengine_lts_group.log_group`

### Actua

[2022-06-16 03:37] ShiChangkuo commented on #764
@sg13 It seems that the API has been changed, I will try to contact the cloud side and fix it.

[2022-06-16 15:08] antonin-a commented on #214
Hello @niuzhenguo @ShiChangkuo this requirement is still existing. Do you please have updates ? Especially for the federation part.

[2022-06-20 01:53] #764 closed

[2022-06-20 17:27] isador999 commented on #756
Thanks a lot, resources seems to be great :)
You can publish it in the next release.

[2022-06-22 12:07] williambezou opened #767 "[Feature Request] Data Source for SFS Turbo"
Hello,

we currently have the possibility to deploy SFS Turbo with terraform but there is no Data Source available to request any information on an existing one.
Would it be possible to add the required provider ?

Thanks,

William Bezou (PS/OCB)

[2022-06-25 01:50] #755 closed

[2022-06-30 08:53] But4ler commented on #214
Hello,thank you for these advances !
To be able to use these modules with users created by the CloudStore, it is absolutely necessary to have data sources on the IAM modules.

Especially on the "flexibleengine_identity_user_v3" module

Thanks !

[2022-07-06 14:39] gerardbonneto opened #779 "Unable to attach a security group to DCS Redis 5.0"
Hi there,

### Terraform Version
Terraform v1.2.4
on linux_amd64
+ provider registry.terraform.io/flexibleenginecloud/flexibleengine v1.31.0

### Affected Resource(s)
- dcs_instance

### Panic Output
 Error: Error updating FlexibleEngine Dcs Instance: Bad request with: [PUT https://dcs.eu-west-0.prod-cloud-ocb.orange-business.com/v1.0/aa5e4a9dd208442bb3f4b3d94b10c0cf/instances/8bbc33ce-05fe-4f22-a

[2022-07-11 14:58] gerardbonneto opened #780 "Failed to install autoscaller in a nodepool deployed in a new tenant"
Hi there,
Terraform Version

Terraform v1.2.4
on linux_amd64

    provider registry.terraform.io/flexibleenginecloud/flexibleengine v1.31.0

Affected Resource(s)

    cce_addon_v3

Panic Output

│ cluster-autoscaler-6869844d8-lvzgt:F0711 16:44:25.915777       1 hws_cloud_provider.go:154] Failed to create HWS Manager: Unexpected Response error, StatusCode: 401, Error Message: {"error_msg":"Incorrec

[2022-07-11 15:29] gerardbonneto commented on #780
From the default tenant, everything worked well
From a new create tenant: I could install the autocaller addon only from the console not from terraform.

[2022-07-18 03:07] ShiChangkuo commented on #779
@gerardbonneto The security group can be configured only for instances that use Redis 3.0.
DCS for Redis 4.0 and 5.0 are based on VPC endpoints and do not support security groups.

[2022-07-18 03:14] ShiChangkuo commented on #780
@gerardbonneto Is the panic output from terraform or other processes?
Also you can check if the new tenant has sufficient permissions.

[2022-07-18 03:26] ShiChangkuo commented on #741
@agoulamhoussen can you use data source [flexibleengine_cce_cluster_v3](https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/data-sources/cce_cluster_v3) for the guest user?

[2022-07-18 03:29] ShiChangkuo commented on #726
@ahmed1mostafa I think the issue has been solved , can we close it?

[2022-07-18 03:39] ShiChangkuo commented on #601
I will close it temporarily, If you have any questions, please reopen it. Thanks.

[2022-07-18 03:39] #601 closed

[2022-07-18 12:27] gerardbonneto commented on #779
Thanks for your answer.
IMO, the documentation should be updated with a comment saying that the argument "security_id" is optional and only supported for Redis 3.0.

[2022-07-18 12:47] gerardbonneto commented on #780
The listed panic output is from terraform.
The tenant seems to have sufficient permissions:

**Functionalities | Families | Roles**

Billing | Customer space | No role
Contracts | Customer space | Account Manager
Orders | Customer space | Visitor
Services | Customer space | Manager
Subscriptions | Customer space | Manager
Support | Customer space | Visitor
Users | Customer space | Manager

**Funct

[2022-07-19 07:41] ShiChangkuo commented on #779
The parameter description is as follows:
https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/dcs_instance_v1#security_group_id
* `security_group_id` - (Optional) Specifies the id of the security group which the instance belongs to. This parameter is mandatory for Memcached and Redis 3.0 versions.

[2022-07-20 15:08] mydoomfr opened #782 "Prevent flexibleengine_networking_secgroup_rule_v2 replace when update the description"
### Terraform Version
[code]

### Affected Resource(s)
- flexibleengine_networking_secgroup_rule_v2

### Expected Behavior
`description` field should only update itself and not replace the entire resource.

### Actual Behavior
`description` field replaces the resource. (destroy/create)

### Steps to Reproduce
Please list the steps required to reproduce the issue, for example:

[code]

1. Terraform

[2022-07-21 02:02] ShiChangkuo commented on #782
@mydoomfr it seems that we have no such API to update the rule.

[2022-08-01 01:47] ShiChangkuo commented on #315
@Karreg I will close it temporarily, If you have any questions, please reopen it. Thanks.

[2022-08-01 01:47] #315 closed

[2022-08-05 16:33] MrLuje opened #787 "CCE Node Pool: unexpected state 'Synchronized', wanted target ''"
### Terraform Version
Terraform v1.1.9
Provider v1.31.1

### Affected Resource(s)
Please list the resources as a list, for example:
- flexibleengine_cce_node_pool_v3

### Terraform Configuration Files
[code]

### Expected Behavior
Node pool should be created and running

### Actual Behavior
Terraform states it failed creating the node pool but the resource is correctly created on Flexibleengine (a

[2022-08-08 13:23] BegBlev opened #789 "Unable to create OBS bucket"
Hello,

I am unable to create an OBS bucket using Terraform. This is not an access error as the error message would indicate as I am able to create lots of other different resources.

### Terraform Version
[code]

### Affected Resource(s)
- obs_bucket

### Terraform Configuration Files
[code]

### Debug Output
[code]

[2022-08-15 07:45] ShiChangkuo commented on #789
@BegBlev for OBS resource, we must use AKSK to [Authentication](https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs#aksk)

[2022-08-15 12:41] #214 closed

[2022-08-16 14:41] edouardhue opened #796 "[CCE] [Feature request] Provide cluster certificates as a datasource"
### Expected Behavior
It would be nice if there was a datasource that would retrieve the cluster certificates for the current user. It would make it possible to use these to connect to the cluster and use [the official kubernetes provider](https://registry.terraform.io/providers/hashicorp/kubernetes/latest/docs) to manage resources without relying on a single Terraform state or an external storage

[2022-08-16 15:26] mydoomfr opened #797 "[CCE] [Feature request] cce_cluster should return all created security group"
### Affected Resource(s)
- flexibleengine_cce_cluster_v3

### Expected Behavior
flexibleengine_cce_cluster_v3 should return all Security Groups that have been automatically created by CCE :
- mycluster-cce-node-xxxxx
- mycluster-cce-control-xxxxx

### Actual Behavior
security_group_id attribute only returns mycluster-cce-**node**-xxxxx ; thus it makes it impossible to manage mycluster-cce-**contro

[2022-08-19 06:28] ShiChangkuo commented on #726
I will close it temporarily, If you have any questions, please reopen it. Thanks.

[2022-08-19 06:28] #726 closed

[2022-08-19 07:06] #779 closed

[2022-08-20 03:44] ShiChangkuo commented on #787
state **Synchronized** means the node has been created failed, you can get the details from the CCE cluster console.

Also, the node pool will try to create nodes again until success, so I will add state 'Synchronized' in pending list when waiting available.

[2022-08-20 05:03] ShiChangkuo commented on #797
@mydoomfr sorry, we can not fetch the ID of security group used by master from API response.
it is also not recommended to modify mycluster-cce-control-xxxxx.

[2022-08-23 10:15] MrLuje opened #800 "[ELBv3] Adding a IP from another project as pool member"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
1.1.9

### Affected Resource(s)
Please list the resources as a list, for example:
- flexibleengine_lb_loadbalancer_v3
- flexibleengine_lb_listene

[2022-08-24 15:19] #787 closed

[2022-08-25 02:06] ShiChangkuo commented on #797
If the security groups have same suffix, can you try the following workaround:
[code]

[2022-08-25 07:27] mydoomfr commented on #797
Hello @ShiChangkuo ,

Yes, this is currently the workaround we're using, but it only works when CCE cluster resource exists, otherwise, it will fail (at bootstrap) because Terraform replace() function does not allow an empty/undefined value.

In the end, we conditioned the trigger to a boolean variable. We first create the cluster, then in a second step, change the variable to True to manage the s

[2022-08-25 08:59] MrLuje opened #801 "[ELBv3] Support HTTPS backend server group"
Hello,

From the console, we are able to create HTTPS LoadBalancer Backend Server Group
![image](https://user-images.githubusercontent.com/632075/186622052-92238905-919b-420a-ab4e-372f93fe4555.png)

but it doesn't seem to be available in the terraform resource (https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs/resources/lb_pool_v2#protocol)

![image](https://us

[2022-08-29 07:26] MrLuje opened #802 "[ELBv3] Support "Advanced Forwarding" on flexibleengine_lb_listener_v3"
Hello,

From the console, we can enabled "Advanced Forwarding" but this is not available from the terraform provider

![image](https://user-images.githubusercontent.com/632075/187146827-0962da08-ac80-43e1-924a-e3230cf8136f.png)

[2022-09-15 08:51] jbphilippe-orange opened #803 "[CES] -"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have alread

[2022-09-15 09:26] jbphilippe-orange opened #804 "[SMN] No Terraform Datasource available"
Hi,  We have some resources to create  SimpleNotificationService,  with topic,  but if I want to retrieve some topic ID in Terraform,  I can't.   If you can add this, or if I can help you , thanks to you  👍

[2022-09-16 16:44] davidasaadmikhailtadros opened #805 "Issue with config_drive in flexible engine terraform provider"
I have a problem with the ECS deployed on FE with terraform, I can't get the "config-drive" to work to configure them at boot.
In case I attach the network directly to the ECS, the cloud-init works fine, however, if I go through a port (config 2 commented below), it's the "config-drive" that should work because we don't have access to the metadata server, but it's not taken into account (tested on

[2022-09-19 12:32] ShiChangkuo commented on #805
sorry, the API does not support `config-drive` any more.

https://docs.prod-cloud-ocb.orange-business.com/api/ecs/en-us_topic_0068473331.html

[2022-09-20 06:04] #804 closed

[2022-09-21 06:56] #767 closed

[2022-09-22 01:42] #703 closed

[2022-09-24 02:33] ShiChangkuo commented on #796
@edouardhue we will add a new data source `flexibleengine_cce_clusters` to get an array of CCE clusters

[2022-09-24 06:21] #796 closed

[2022-09-25 10:20] achraf2405 opened #814 "Cannot create Master/Standby DCS (Redis) using the Version Engine 5.0"
Hello,
I cannot use terraform to create DCS of type Master/standby or Single-node when i select the engine version 5.0 (it works with version 3.0).

### Terraform Version
1.2.7
### Flexible Engine terraform provider version
1.32.0

### Affected Resource(s)
- DCS (Redis 5.0)

I
### Terraform Configuration Files
[code]

### Panic Output
error message: {"error":{"code":"111400007","message":"The sele

[2022-09-30 02:59] ShiChangkuo commented on #814
@achraf2405 the product ID for engine version 5.0 is **redis.cluster.xu1.large.r1.8-h**, also you can get it from the following data source:

[code]

[2022-09-30 06:50] achraf2405 commented on #814
@ShiChangkuo thank you for you answer, when i choose the product ID **redis.cluster.xu1.large.r1.8-h**  terraform will create a **cluster type redis** and that's working as i mentioned in my first message, but what i need is a **Master/Standby**  or **single instance** and not a cluster. Today only the version 3.0 supports those two instances types.

[2022-09-30 07:40] ShiChangkuo commented on #814
@achraf2405 you can replace **cluster** with **single** or **ha** in procust ID.
e.g. redis.single.xu1.large.r1.8-h

[2022-09-30 10:12] gberche-orange commented on #469
@ShiChangkuo @qukuijin1989 @antonin-a any update on this issue ?

[2022-10-01 17:41] achraf2405 commented on #814
@ShiChangkuo I tried putting **redis.single.xu1.large.r1.8-h** as product ID
and i get this error:
{"error":{"code":"DCS.4927","message":"The param spec_code is invalid","ext_message":null}}

However it works when i put **redis.cluster.xu1.large.r1.64-h**, so today the only supported redis 5.0 instance is of type cluster.

[2022-10-04 08:42] achraf2405 commented on #814
Hello @ShiChangkuo could you check please?

[2022-10-07 12:49] MrLuje opened #817 "[Feature request] Allow differenciate instance class in flexibleengine_rds_flavors_v3 datasource"
flexibleengine_rds_flavors_v3 datasource allows to filter rds flavors based on some criterias
[code]
and gives the following output
[code]
2 instance classes match my request but there are no more criterias to filter on.

From what I see, one is a "General-enhanced" and the other is a "General-enhanced II"
![image](https://user-images.githubusercontent.com/632075/194557151-ed814db4-98ba-4ab3-bfb6-

[2022-10-10 07:58] gerardbonneto commented on #780
Any update?

[2022-10-11 02:12] ShiChangkuo commented on #780
@gerardbonneto actually, the provider does not have any files named hws_cloud_provider.go

[2022-10-20 12:00] sambonbonne opened #819 "Typo in CCE node pool configuration"
### Terraform Version

N/A

### Affected Resource(s)

- `flexibleengine_cce_node_pool_v3`

### Expected Behavior

When setting auto scaling, I should have to use `scale_enable` (or `scale_enabled`?):

[code]

### Actual Behavior

The attribute is named `scall_enable`, which does not mean anything about auto-scaling:

[code]

### Proposed solution

Rename the `scall_enable` attribute to `scale_enab

[2022-10-21 13:09] sebbbastien opened #820 "Allow provider configuration from clouds.yaml"
Hi,

Please allow use of `clouds.yaml` file on FlexibleEngine as available on "mainstream" Openstack provider (https://registry.terraform.io/providers/terraform-provider-openstack/openstack/latest/docs#cloud) and OpenTelekomCloud provider (https://registry.terraform.io/providers/opentelekomcloud/opentelekomcloud/latest/docs#cloud).

Best regards,

[2022-10-22 02:10] sebbbastien commented on #383
Hi,

Any news one year later?

[2022-10-24 06:33] ShiChangkuo commented on #819
@sambonbonne Thanks for your advice honestly, will add a new parameter `scale_enabled` and hide `scall_enable` in docs

[2022-10-24 06:58] ShiChangkuo commented on #800
@MrLuje the issue seems to be caused by the API side, suggest to open a service ticket to fix it.
also, I'll try to upgrade the API version.

[2022-10-24 13:29] christopheTappret opened #821 "Setting persistence timeout of flexibleengine_lb_pool_v2 is not possible"
### Terraform Version
[code]
### Flexibleengine provider version
`flexibleenginecloud/flexibleengine v1.33.0`

### Affected Resource(s)
- flexibleengine_lb_pool_v2

### Expected Behavior
I would like to be able to set **persistence_timeout** in **persistence** section of the resource.

### Actual Behavior
It's not possible.
The parameter is not available.
https://registry.terraform.io/providers/Fl

[2022-10-24 13:41] Pseudodevincent commented on #383
Hello @sebbbastien , I keep pushing R&D to have this (I just did again today).

[2022-10-25 11:25] ShiChangkuo commented on #814
@achraf2405 the following product IDs are tesing well:
- redis.ha.xu1.large.r2.1-h  // **Master/Standby** type
- redis.cluster.xu1.large.r2.4-h // **Redis Cluster** type
- redis.proxy.xu1.large.4-h // **Proxy Cluster** type
- redis.single.xu1.large.1-h // **Single-node** type

[2022-10-25 11:29] ShiChangkuo commented on #814
I added some arguments in data.flexibleengine_dcs_product_v1, we can get the ID of an available product with the data source.

[code]

[2022-10-25 12:32] ShiChangkuo commented on #817
@MrLuje will add a parameter  named `group_type` to filter RDS flavors by instance class.

[2022-10-25 13:46] wisssaam opened #826 "DLI - add new ressources"
Hi there,

Can you add these resources to Data Like Insight?

- DLI Database (dli_database)
- DLI Flink SQL (dli_flinksql_job)
- DLI Flink (dli_flinkjar_job)
- DLI package (dli_package)
- DLI Permission (dli_permission)
- DLI Spark job (dli_spark_job)
- DLI Table (dli_table)
- DLI SQL Job (dli_sql_job)

[2022-10-26 04:02] sebbbastien commented on #430
Hi,

Any news two years later?

[2022-10-26 06:10] #817 closed

[2022-10-26 09:19] achraf2405 commented on #814
Thank you i will test that when the release V1.34.0 is ready :)

[2022-10-28 08:36] sebbbastien opened #831 "Provider auth_url should not use region var"
Hi,

As describe in the provider documentation, `auth_url` is build using `region`: https://registry.terraform.io/providers/FlexibleEngineCloud/flexibleengine/latest/docs#auth_url

However, the IAM service seems to be available only on eu-west-0 and not on eu-west-1.

Test file:
[code]

Running this TF code with var `region=eu-west-0` is ok with auth auto or forced on eu-west-0 and failed eu-west-

[2022-10-29 10:08] #819 closed

[2022-10-31 09:40] Pseudodevincent commented on #383
Hello @sebbbastien, I can tell you we are progressing on this subject. We have now route table APIs available on FE and we are only missing API documentation.
@ShiChangkuo can you start working on Terraform provider update to support route table management with Huawei Cloud API documentation https://support.huaweicloud.com/intl/en-us/api-vpc/vpc_apiroutetab_0001.html ?

[2022-11-02 03:20] ShiChangkuo commented on #383
@Pseudodevincent If APIs are ready, we will try to implement it in the next release.

[2022-11-02 14:33] melnottp opened #835 "Cannot create RDS MySQL 8 Primary / Standby"
Hi there,

I'm trying to create and RDS instance with the following code

[code]

Result is the following error
[code]

[2022-11-03 02:01] ShiChangkuo commented on #835
@melnottp the error comes from cloud side, and the error message is **Invalid AZ**, so I suggest you use another availability zones or open a new service ticket to Orange.

[2022-11-03 06:55] ShiChangkuo commented on #831
@sebbbastien Thank you for raising this issue.
Some IAM APIs are not registered in `eu-west-1` by FE, I will set default auth_url to `https://iam.eu-west-0.prod-cloud-ocb.orange-business.com` but keep the endpoint of  other IAM APIs as-is.

[2022-11-03 10:23] christopheTappret opened #837 "In version 1.34.0, we are no longer able to resolve data.flexibleengine_identity_role_v3 (never ending loop)"
### Terraform Version
terraform 1.1.7 (we also tried with 1.3.3, we have the same issue)
flexibleengine provider 1.34.0 (no issue with 1.33.0)

### Affected Resource(s)
Please list the resources as a list, for example:
- data.flexibleengine_identity_role_v3

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/christopheTappret/4dbc38bee7446130f4d11a48005fc76c

### Pa

[2022-11-03 13:24] mydoomfr commented on #837
Hello,

I have the same issue but since there is no change from the terraform provider side, I believe the issue is related to https://github.com/chnsz/golangsdk/commit/56b0c4af6e20875861410b4aee3c3d1f97813c10

Either the provider needs to be updated to include the SDK changes or maybe there is a bug on the SDK side ?

[2022-11-03 14:08] mydoomfr commented on #837
I'm pretty sure the issue is related from the paging system on the SDK side.

`https://iam.eu-west-0.prod-cloud-ocb.orange-business.com/v3/roles?page=80\u0026name=readonly\u0026per_page=300
`

The Terraform is looping until it reach the 300. But we got rate-limited by the API before it happens.

`The throttling threshold has been reached: policy user over ratelimit`

I don't understand why only v1

[2022-11-07 02:47] Lance52259 commented on #837
The response details of the role pages are not right, there shouldn't be have return info from the second page.
@mydoomfr We will make a change on the SDK side to solve this issue.

[2022-11-12 08:33] csemio opened #838 "ServerGroup for CCE NodePoll"
Hi Team,

Just a simple question is there a way to configure a ecs servergroup, for a cce NodePool, i don't see any property for this in flexibleengine_cce_node_pool_v3

Best regards

[2022-11-16 03:48] #831 closed

[2022-11-16 12:34] ShiChangkuo commented on #814
@achraf2405 are there any updates?

[2022-11-16 13:13] achraf2405 commented on #814
@ShiChangkuo
yes it's working fine now, thank you :)

[2022-11-18 01:41] #814 closed

[2022-11-18 01:43] ShiChangkuo commented on #789
I'm going to close this issue because there are no updates for 20 days.
If you have found a problem that seems similar to this, please open a new issue and complete the issue template so we can capture all the details necessary to investigate further.

[2022-11-18 01:43] #789 closed

[2022-11-24 11:28] #821 closed

[2022-11-26 09:12] ShiChangkuo commented on #699
@smasset-orange I will close it temporarily, If you have any questions, please reopen it. Thanks.

[2022-11-26 09:12] #699 closed

[2022-11-28 16:23] antonin-a commented on #803
@ShiChangkuo is it something possible ? Any update ?

[2022-11-28 16:30] antonin-a commented on #802
@ShiChangkuo any update here ?

[2022-11-29 09:35] #826 closed

[2022-11-29 12:42] ShiChangkuo commented on #802
will fix it in this week